// Helper functions!

// Helper to generate Forge URLs in client app stylesheets
// @NOTE See `variables.scss` for $forge-path.
@function forge-asset-url($file) {
  @return url("#{$forge-path}#{$file}");
}

// @DEPRECATED: Use `forge-asset-url()` instead!
@function neue-asset-url($file) {
  @warn "The neue-asset-url() helper is deprecated. Use forge-asset-url() instead!";
  @return forge-asset-url($file);
}

// Calculate font-size based on a typographic scale.
@function type-scale($step) {
  $font-size: $font-base;

  @if $step == 0 {
    @return $font-size;
  }

  @if $step > 0 {
    @for $i from 1 through $step {
      $font-size: $font-size * $typographic-scale;
    }
  } @else {
    @for $i from $step to 0 {
      $font-size: $font-size / $typographic-scale;
    }
  }

  @return $font-size;
}

// Helper to generate URLs in client app stylesheets
// @NOTE See `variables.scss` for $asset-path.
@function asset-url($file) {
  @return url("#{$asset-path}#{$file}");
}
