// Consistent indentation for elements in the mobile views to allow for full-width images, formes, etc.
// @TODO - This method scales terribly; revisit.
@mixin section-padding {
  padding: 0 27px;
}

// Calculate rgba() fallback value for older browsers.
//
// Examples:
// @include rgba(background-color, $blue, 0.8);
// @include rgba(background-color, #23b8fc, 0.5);
// @include rgba(background-color, rgb(35, 184, 252), 0.5);
//
@mixin rgba($property, $color: #000, $value: 0.5, $fallback: #000) {
  #{$property}: rgb(red($fallback), green($fallback), blue($fallback));
  #{$property}: rgba($color, $value);
}


// Shortcut for writing sprites that scale down on mobile displays.
@mixin responsive-sprite($pos-x, $pos-y) {
  background-position: $pos-x/2 $pos-y/2;

  @include media($tablet) {
    background-position: $pos-x $pos-y;
  }
}

// Border highlight on input focus
@mixin highlight-on-focus {
  &:focus {
    outline: 0;
    border: 1px solid $blue;
    box-shadow: 0 0 3px $blue;
  }
}

// Cleaner calling of our icon font
@mixin icomoon-icon {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Pattern for creating the close "x" for all
// modals, dialogs and system status messages
@mixin close-parent {
  position: absolute;
  top: 4px; right: 27px;
  font-size: 45px;
  font-weight: bold;
  color: $dark-gray;
  opacity: 0.4;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}


// Hide only visually, but have it available for screenreaders.
// @mixin visually-hidden
// @mixin visually-restored
//
// @param $position: absolute
@mixin visually-hidden($position:absolute) { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: $position; width: 1px; }
@mixin visually-restored($position:static) { clip: auto; height: auto; margin: auto; overflow: visible; position: $position; width: auto; }


// @TODO: Add universally to all images; but need to thoroughly test, so just a mixin on call for now.
@mixin fluid-image() {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}
