// --------
//  Colors
// --------

// Primary
$blue: #23b7fb;
$purple: #4e2b63;
$yellow: #fcd116;

// Grayscale
$off-black: #222;
$dark-gray: #444;
$med-gray: #999;
$light-gray: #ddd;

// System
$error: #ff4747;
$warning: $purple;
$success: $purple;

// Body copy
$copy-color: #444;

// Modifiers
$color-tint: 10%;

// ------------
//  Typography
// ------------

// Families
$font-proxima-nova: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-handwritten: "CoveredGrace", cursive;

// Weights
$weight-normal: 400;
$weight-sbold: 600;
$weight-bold: 700;

// Sizes
$font-hero: 72px;
$font-largest: 54px;
$font-larger: 45px;
$font-large: 32px;
$font-medium: 24px;
$font-regular: 18px; // base font size
$font-small: 13px;

// Unicode
$unicode-check: "\e60b";
$unicode-error: "\e608";
$unicode-flag: "\2691";

// ------------
//  Decoration
// ------------

$sm-border-radius: 2px; // for accent (images, text fields, etc)
$lg-border-radius: 5px; // used for primary interactive elements (buttons, etc)

// Text Shadows
$text-shadow: 0 1px 3px rgba(#000, 0.3);
$text-emboss: 0 1px 0 rgba(#fff, 0.2);
