// Overrides for Internet Explorer.
// Abandon hope, all ye who enter here.

@import "vendor/bourbon/bourbon";
@import "globals/variables";
@import "globals/mixins";

form.search {
  input[type="search"] {
    color: $font-color;
    padding-top: 8px;
    padding-bottom: 6px;
  }
}

form.search {
  input[type="search"] {
    background: $med-gray url('images/search.png') no-repeat 12px 6px;

    &:hover {
      background-position: 12px -21px;
    }

    &:focus {
      background-position: 12px 6px;
    }
  }
}


.timeline {
  li {
    &:before {
      display: none;
    }
  }
}
