//                 ____  _____    _   __
//                / __ \/ ___/   / | / /__  __  _____
//               / / / /\__ \   /  |/ / _ \/ / / / _ \
//              / /_/ /___/ /  / /|  /  __/ /_/ /  __/
//             /_____//____/  /_/ |_/\___/\__,_/\___/
//
//   ==================== Internet Explorer ====================
//
//   Overrides for Internet Explorer 8 and lower. Abandon hope,
//   all ye who enter here. This is where standards go to die.
//

@import "helpers";

form.search {
  input[type="search"] {
    color: $copy-color;
    padding-top: 8px;
    padding-bottom: 6px;
  }
}

form.search {
  input[type="search"] {
    background: $med-gray url('images/search.png') no-repeat 12px 6px;

    &:hover {
      background-position: 12px -21px;
    }

    &:focus {
      background-position: 12px 6px;
    }
  }
}


.timeline {
  li {
    &:before {
      display: none;
    }
  }
}
