/* Overrides for Internet Explorer. */
/* Abandon hope, all ye who enter here. */

@import "vendor/bourbon/bourbon";
@import "globals/variables";
@import "globals/helpers";

// ...and so far so good! (insert overrides here if ever necessary)

form.search {
  input[type="search"] {
    color: #333131;
    padding-top: 8px;
    padding-bottom: 6px;
  }
}

form.search {
  input[type="search"] {
    background: #333131 url('images/search.png') no-repeat 12px 6px;

    &:hover {
      background-position: 12px -21px;
    }

    &:focus {
      background-position: 12px 6px;
    }
  }
}


.timeline {
  li {
    &:before {
      display: none;
    }
  }
}