//       ____  _____    _   __
//      / __ \/ ___/   / | / /__  __  _____
//     / / / /\__ \   /  |/ / _ \/ / / / _ \
//    / /_/ /___/ /  / /|  /  __/ /_/ /  __/
//   /_____//____/  /_/ |_/\___/\__,_/\___/
//

// Declaration of global variables and mixins
@import "vendor/bourbon/bourbon";
@import "globals/variables";
@import "globals/mixins";
@import "globals/fonts";

// Basic interface and layout building blocks
@import "vendor/reset";
@import "_main/base";
@import "_main/chrome";
@import "_main/layout";
@import "_main/animations";

// Interface patterns
@import "_patterns/forms";
@import "_patterns/inline";
@import "_patterns/helpers";
@import "_patterns/navigation";
@import "_patterns/widgets";

// Supporting styles for JS features
@import "_js/pin-to-top";

// Overrides for specific pages
@import "_pages/home";
