// Avatar
//
// Rounded image. Used to show a user profile image.
//
// Markup:
//    <div class="avatar">
//      <img src="/styleguide/assets/placeholder.jpg" />
//    </div>
//
// Styleguide Avatar

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;

  img {
    min-width: 100px;
    min-height: 100px;
  }
}
