// The fine print. Use for legal text, disclaimers, references, or help text. Use `.js-footnote-toggle`
// and `.js-footnote-hidden` to create toggleable content. See `footnote.js` for implementation.
//
// Styleguide Footnote
.footnote {
  font-size: $font-small;
  color: $med-gray;

  p {
    font-size: $font-small;
    color: $med-gray;
    margin: 0;
  }

  .heading, h1, h2, h3, h4, h5, h6 {
    color: $med-gray;
  }

  sup {
    top: -0.7em;
    display: inline-block;
    min-width: ($base-spacing / 4);
    text-align: right;
  }

  li p {
    display: inline-block;
  }

  a {
    color: $med-gray;
    text-decoration: underline;

    &:hover {
      color: lighten($med-gray, $color-tint);
    }

    &:active {
      color: darken($med-gray, $color-tint);
    }
  }
}
