// Labels for form elements. Optional validation styles triggered by client-side validation.
//
// .success    - Successful form validation
// .warning    - Warning form validation (not an error, but worth double-checking).
// .error      - Something's wrong!
//
// Styleguide Forms - Form Labels
label {
  display: block;
  clear: both;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin: 1em 0 0.25em;
  height: 1.5em;
  overflow: hidden;
  @include transition(height 0.5s);

  .inner-label {
    position: relative;
    @include transition(top 0.5s);
  }

  &.show-message {
    .inner-label {
      top: -1.5em;
    }
  }

  em {
    font-style: normal;
    color: $med-gray;
  }

  .message {
    &.error {
      color: $error;
    }

    &.warning {
      color: $warning;
    }

    &.success {
      color: $success;
    }
  }
}


// Text input fields. Defaults to full-width, but can be modified to be smaller
// if necessary (use sparingly, it's generally best to fit to grid container).
//
// :focus         - Field is selected for text input
// .short         - Short input width (e.g. for zip codes)
// .medium        - Medium-sized input width (e.g. for phone numbers)
//
// Styleguide Forms - Text Input Fields
#{$all-text-inputs}, textarea {
  width: 100%;
  font-family: $font-proxima-nova;
  font-size: 18px;
  border: 1px solid $light-gray;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: $lg-border-radius;
  background-clip: padding-box;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0 0 0.5em;
  @include transition(border 0.5s);
  @include highlight-on-focus;
  -webkit-appearance: none;

  &.short {
    max-width: 80px;
  }

  &.medium {
    max-width: 200px;
  }

  &.error {
    border-color: $error;
  }
}

// Specific style rules for search input fields.
//
// :focus   - Field is selected for text input
// .loading - Indicates search field is loading results.
//
// Styleguide Forms - Search Fields
input[type="search"] {
  padding-left: 32px;
  background: #fff no-repeat 12px 50%;
  background-image: neue-asset-url("images/search.svg");
  background-size: 18px 18px;

  .no-svg & {
    background-image: neue-asset-url("images/fallbacks/search.png");
  }

  &.loading {
    background-image: neue-asset-url("images/spinner.svg");
  }

  .no-smil &.loading {
    background-image: neue-asset-url("images/fallbacks/spinner16.gif");
  }
}


// Multi-line textarea fields.
//
// :focus   - Field is selected for text input
//
// Styleguide Forms - Text Area Fields
textarea {
  resize: vertical;
}

// Button styles for both input and anchor buttons. Suitable for all-purpose use. Defaults
// to `.primary` class.
//
// :hover             - Suble hover state (will not be displayed on touch interfaces)
// :focus             - Focus state for users navigating the page using tab keys.
// :active            - "Pushed" button state
// .disabled          - Disabled (non-interactive) button state. Consider removing button from interface if not necessary to avoid confusion.
// .loading           - AJAX loading animation. Used when loading results inline.
// .secondary         - Should be used if not the main call-to-action on a page.
// .tertiary          - Used to de-emphasize button (for example, a "cancel" option), but still show inline with other fields.
//
// Styleguide Forms - Buttons
.btn {
  display: inline-block;
  clear: both;
  background: $blue;
  border: 0;
  margin: 4px 0;
  line-height: 1.3;
  padding: 0.55em 1em 0.45em;
  cursor: pointer;
  color: #fff;
  font-family: $font-proxima-nova;
  font-weight: $weight-bold;
  font-size: $font-medium;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: $lg-border-radius;

  @include appearance(none);
  @include highlight-on-focus;

  &:hover {
    background: lighten($blue, $color-tint);
  }

  &:focus {
    background: lighten($blue, $color-tint);
  }

  &:active {
    outline: 0;
    background: darken($blue, $color-tint);
  }

  &:link, &:active, &:hover {
    // overrides for default <a> styling
    color: #fff;
    text-decoration: none;
  }

  // secondary appearance
  &.secondary {
    color: #fff;
    text-decoration: none;
    background: $dark-gray;
    font-size: $font-regular;
    font-weight: $weight-bold;

    &:hover {
      background: lighten($off-black, $color-tint);
    }

    &:active {
      background: darken($off-black, $color-tint);
    }
  }

  // tertiary appearance
  &.tertiary {
    background: none;
    color: $dark-gray;
    font-size: $font-regular;
    font-weight: $weight-normal;
    text-transform: none;
    text-decoration: underline;
    border: 0;

    &:hover {
      color: $off-black;
      background-color: none;
      text-decoration: underline;
    }

    &:active {
      background-color: none;
    }
  }

  // disabled state
  &[disabled], &.disabled {
    background: $light-gray;
    color: lighten($light-gray, 10%);
    cursor: default;

    &:hover {
      background: $light-gray;
    }

    &:active {
      background: $light-gray;
      color: lighten($light-gray, 10%);
    }
  }

  &.loading {
    position: relative;
    color: transparent;
    background: #eee neue-asset-url("images/spinner.svg") no-repeat center center;
    background-size: 32px;
    box-shadow: none;
    cursor: default;
    @include user-select(none);

    &:hover, &:active {
      color: $light-gray;
      color: transparent;
      background: #eee no-repeat center center;
      background-image: neue-asset-url("images/spinner.svg");
      background-size: 32px;
    }

    .no-smil &, .no-smil &:hover, .no-smil &:active {
      // If no support for animated SVG, use 32px animated gif.
      background-image: neue-asset-url("images/fallbacks/spinner.gif");
    }

    .no-rgba &, .no-rgba &:hover, .no-rgba &:active {
      // If no support for text color:transparent, hide image and lighten text.
      color: $light-gray;
      background-image: none;
    }
  }
}

input[type="submit"] {
  white-space: normal; // ensures text wraps to new lines when in an <input> element
}

// Select boxes present a list of options on a form.
//
// Styleguide Forms - Select Boxes
select {
  display: block;
  width: 100%;
  height: 41px;
  margin: 0 0 0.5em;
  font-size: 18px;
  font-family: $font-proxima-nova;
  border: 1px solid $light-gray;
  @include highlight-on-focus();

  &.error {
    border-color: $error;
  }
}

// Checkboxes and radio boxes.
//
// Styleguide Forms - Option Fields
input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label.option {
  display: inline;
}

