// Style for images in content sections.
//
// Styleguide Images - Figures
.content-figure {
  text-align: center;
  padding: gutter() 0;

  img {
    display: inline-block;
  }

  figcaption {
    color: $med-gray;
    font-size: $font-small;
    padding: 0 $base-spacing $base-spacing;
  }
}


// Stylized image, with a thick border and subtle shadow.
//
// Styleguide Images - Bordered
.bordered {
  border: 6px solid #fff;
  box-shadow: $box-shadow;
}

