// Legal text (a.k.a. the fine print).
//
// Styleguide Legal Text
.legal {
  font-size: $font-small;
  color: $med-gray;

  a,
  p,
  small,
  strong,
  sup {
    font-size: $font-small;
    color: $med-gray;
    margin: 0;
  }

  sup {
    top: 0;
    width: 18px;
  }

  a {
    color: $med-gray;

    &:hover {
      color: lighten($med-gray, $color-tint);
    }

    &:active {
      color: darken($med-gray, $color-tint);
    }
  }
}
