// Use `.list-compacted` to reduce spacing between list items. Use
// `.list-compacted-wrapper` to reduce spacing between multiple lists,
// or for cases where list markup is not directly editable (e.g. Markdown).
//
// Styleguide List Compacted
.list-compacted {
  li + li {
    margin-top: 0;
  }
}

.list-compacted-wrapper {
  ul + ul {
    margin-top: 0;
  }

  li + li {
    margin-top: 0;
  }
}
