// An pullquote draws attention to a particular quote from the
// text. Generally used with an `aside` element.
//
// Styleguide Pullquote
.pullquote {
  color: $purple;
  width: 95%;
  font-size: 22px;

  @include media($tablet) {
    width: auto;
    font-size: 27px;
  }

  cite {
    color: $light-gray;
  }
}

