// Spinner to indicate loading content.
//
// Styleguide Spinner
.spinner {
  background: transparent neue-asset-url("images/spinner.svg") no-repeat center center;
  background-size: 32px;
  height: 32px;
  width: 32px;

  .modernizr-no-smil & {
    background-image: neue-asset-url("images/fallbacks/spinner.gif");
  }
}

