// Used to navigate between sections/panels/pages within an interface. Apply `.is-active` class to
// list element for "active" state.
//
// .vertical - Vertical tab layout (for use in a sidebar).
//
// Styleguide Tabbed Navigation
.tabs {
  padding: 54px 0;
  font-size: 20px;
  text-align: center;
  overflow: hidden;

  ul {
    font-size: 0.9em;
    margin: 0;
    padding: 18px;

    ul {
      display: block;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s; // used to transition between 0 & auto height via max-width
    }
  }

  li {
    display: inline;
    margin: 0 0 9px;

    &.is-active > a {
      color: #000;
    }

    &.is-active ul {
      max-height: 600px;
    }
  }

  a {
    text-decoration: none;
    padding: 0 9px;
  }

  &.vertical {
    font-size: 1.1em; // decreasing font size, starting at 1em
    text-align: left;

    ul {
      font-size: 0.9em;
      padding: 0 18px;
    }

    li {
      display: block;
      margin: 9px 0;
    }
  }
}
