// Media Video
//
// Applies intrinsic ratio solution to embedded videos to make them responsive.
//
// Markup:
//   <div class="media-video">
  //   <iframe width="560" height="315" src="//www.youtube.com/embed/bkK2C0iBFt8?rel=0&amp;showinfo=0"
  //     frameborder="0" allowfullscreen></iframe>
//   </div>
//
// Styleguide Media Video

.media-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    background-color: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

}
