# Ignore build directory
dist/

# Ignore bower components
bower_components/

# Vim stuff
*.swp

# SASS stuff
.sass-cache

# Wraith (testing) stuff
tests/wraith/ds

# OS X stuff
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# NPM ignores
npm-debug.log
node_modules

# editor ignores
*.sublime-workspace
*.sublime-project

# rack/pow stuff
log/
tmp/



