
<div class="container">
  <div class="wrapper -narrow">
    <h1>Styleguide Inventory</h1>
    <p>This is <a href="https://www.github.com/dosomething/neue">Neue</a>, our interface framework and pattern library. It defines a set of base styles and common patterns shared throughout our website. It's a strong foundation for building beautiful interfaces.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum. Cras congue tortor nec velit rutrum pharetra in porta dui. Aliquam sit amet enim aliquet orci lobortis scelerisque non quis urna. Nam rutrum, erat vel aliquet auctor, justo nulla bibendum purus, mollis venenatis lectus nisi nec lacus. Fusce et augue convallis, laoreet libero sed, aliquam turpis. Donec volutpat sed ex vel consequat. Aliquam dictum lectus a elit sagittis, non venenatis leo imperdiet. Phasellus nibh sapien, interdum ultricies euismod ut, rutrum non purus.</p>

    <p>Aenean maximus lacus velit, non faucibus ipsum luctus at. Nam id pulvinar velit. Aenean fermentum eros tempor finibus viverra. Suspendisse ac arcu sit amet tortor eleifend volutpat quis non ipsum. Ut mattis vel mi id vehicula. Nulla feugiat pellentesque nunc, eget ullamcorper arcu venenatis ac.</p>
  </div>
</div>

<div class="container">
  <div class="wrapper">
    <h1>Heading Alpha</h1>
    <h2>Heading Beta</h2>
    <h3>Heading Gamma</h3>
    <h4>Heading Delta</h4>
  </div>
</div>

<div class="container">
  <div class="wrapper -narrow">
    <h2>Heading Beta</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum. Cras congue tortor nec velit rutrum pharetra in porta dui. Aliquam sit amet enim aliquet orci lobortis scelerisque non quis urna. Nam rutrum, erat vel aliquet auctor, justo nulla bibendum purus, mollis venenatis lectus nisi nec lacus. Fusce et augue convallis, laoreet libero sed, aliquam turpis. Donec volutpat sed ex vel consequat. Aliquam dictum lectus a elit sagittis, non venenatis leo imperdiet. Phasellus nibh sapien, interdum ultricies euismod ut, rutrum non purus.</p>

    <h4>Heading Delta</h4>
    <p>Sed posuere turpis sit amet sapien vehicula iaculis. Aenean rutrum pharetra urna, accumsan elementum mauris sagittis ut. Ut fermentum felis quis risus iaculis, non egestas nulla convallis. Vivamus tincidunt pellentesque arcu sit amet viverra. Aliquam lobortis est quis feugiat porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque sem nisl, in placerat dui blandit id. Pellentesque tincidunt magna risus, facilisis porttitor ligula pellentesque eu. In hac habitasse platea dictumst. Maecenas pulvinar ac dui eu condimentum. Duis et luctus libero. Nunc at laoreet massa.</p>

    <h2>And now for something completely different, from a galaxy far far away&hellip;</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum. Cras congue tortor nec velit rutrum pharetra in porta dui. Aliquam sit amet enim aliquet orci lobortis scelerisque non quis urna. Nam rutrum, erat vel aliquet auctor, justo nulla bibendum purus, mollis venenatis lectus nisi nec lacus. Fusce et augue convallis, laoreet libero sed, aliquam turpis. Donec volutpat sed ex vel consequat. Aliquam dictum lectus a elit sagittis, non venenatis leo imperdiet. Phasellus nibh sapien, interdum ultricies euismod ut, rutrum non purus.</p>

    <h3>JavaScript: The Somewhat Decent Parts</h3>
    <p>Morbi vel est nec libero interdum luctus in vitae est. Fusce feugiat in eros quis blandit. Quisque a libero in metus ultrices tristique ac sed libero. Quisque at dolor ultrices, rhoncus leo eu, consequat dui. Nulla egestas nulla ipsum, vehicula euismod felis condimentum nec. Proin condimentum rutrum justo ac finibus. Morbi justo lectus, ultrices id nisl sed, auctor tincidunt urna. Nam finibus orci in lorem tincidunt imperdiet. Integer euismod consectetur erat, nec malesuada urna vehicula eu. Fusce auctor vehicula velit id cursus.</p>
  </div>
</div>

<div class="container">
  <div class="wrapper -narrow">
    <h2>Heading Beta</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum. Cras congue tortor nec velit rutrum pharetra in porta dui. Aliquam sit amet enim aliquet orci lobortis scelerisque non quis urna. Nam rutrum, erat vel aliquet auctor, justo nulla bibendum purus, mollis venenatis lectus nisi nec lacus. Fusce et augue convallis, laoreet libero sed, aliquam turpis. Donec volutpat sed ex vel consequat. Aliquam dictum lectus a elit sagittis, non venenatis leo imperdiet. Phasellus nibh sapien, interdum ultricies euismod ut, rutrum non purus.</p>
  </div>
</div>

<div class="container">
  <h2 class="heading -banner"><span>Step 1: Know It</span></h2>
  <div class="wrapper -half">
    <h1>Cats and dogs are popular pets in the U.S.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum. Cras congue tortor nec velit rutrum pharetra in porta dui.</p>
  </div>

  <div class="wrapper -half">
    <img src="http://placekitten.com/g/600/350">
  </div>
</div>

<div class="container">
  <ul class="gallery -mosaic -featured">
    <li>
    <article class="tile">
      <a class="wrapper" href="#">
        <div class="tile__meta">
          <h1 class="tile__title">Kitten Overlord</h1>
          <p class="tile__tagline">They're cute, so you must stay vigilant.</p>
        </div>
        <img alt="kitten overlords" src="http://placekitten.com/g/800/800" />
      </a>
    </article>
    </li>

    <li>
    <article class="tile tile--campaign">
      <a class="wrapper" href="#">
        <div class="tile__meta">
          <h1 class="tile__title">Kitten Overlord</h1>
          <p class="tile__tagline">They're cute, so you must stay vigilant.</p>
        </div>
        <img alt="kitten overlords" src="http://placekitten.com/g/800/800" />
      </a>
    </article>
    </li>

    <li>
    <article class="tile tile--campaign">
      <a class="wrapper" href="#">
        <div class="tile__meta">
          <h1 class="tile__title">Kitten Overlord</h1>
          <p class="tile__tagline">They're cute, so you must stay vigilant.</p>
        </div>
        <img alt="kitten overlords" src="http://placekitten.com/g/800/800" />
      </a>
    </article>
    </li>

    <li>
    <article class="tile tile--campaign">
      <a class="wrapper" href="#">
        <div class="tile__meta">
          <h1 class="tile__title">Kitten Overlord</h1>
          <p class="tile__tagline">They're cute, so you must stay vigilant.</p>
        </div>
        <img alt="kitten overlords" src="http://placekitten.com/g/800/800" />
      </a>
    </article>
    </li>

    <li>
    <article class="tile tile--campaign">
      <a class="wrapper" href="#">
        <div class="tile__meta">
          <h1 class="tile__title">Kitten Overlord</h1>
          <p class="tile__tagline">They're cute, so you must stay vigilant.</p>
        </div>
        <img alt="kitten overlords" src="http://placekitten.com/g/800/800" />
      </a>
    </article>
    </li>

    <li>
    <article class="tile tile--campaign">
      <a class="wrapper" href="#">
        <div class="tile__meta">
          <h1 class="tile__title">Kitten Overlord</h1>
          <p class="tile__tagline">They're cute, so you must stay vigilant.</p>
        </div>
        <img alt="kitten overlords" src="http://placekitten.com/g/800/800" />
      </a>
    </article>
    </li>

    <li>
    <article class="tile tile--campaign">
      <a class="wrapper" href="#">
        <div class="tile__meta">
          <h1 class="tile__title">Kitten Overlord</h1>
          <p class="tile__tagline">They're cute, so you must stay vigilant.</p>
        </div>
        <img alt="kitten overlords" src="http://placekitten.com/g/800/800" />
      </a>
    </article>
    </li>

    <li>
    <article class="tile tile--campaign">
      <a class="wrapper" href="#">
        <div class="tile__meta">
          <h1 class="tile__title">Kitten Overlord</h1>
          <p class="tile__tagline">They're cute, so you must stay vigilant.</p>
        </div>
        <img alt="kitten overlords" src="http://placekitten.com/g/800/800" />
      </a>
    </article>
    </li>

    <li>
    <article class="tile tile--campaign">
      <a class="wrapper" href="#">
        <div class="tile__meta">
          <h1 class="tile__title">Kitten Overlord</h1>
          <p class="tile__tagline">They're cute, so you must stay vigilant.</p>
        </div>
        <img alt="kitten overlords" src="http://placekitten.com/g/800/800" />
      </a>
    </article>
    </li>
  </ul>
</div>

<div class="container">
  <div class="wrapper -narrow">
    <h2>Facts About Animals</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum.</li>
      <li>Cras congue tortor nec velit rutrum pharetra in porta dui. Aliquam sit amet enim aliquet orci lobortis scelerisque non quis urna. Improved laundry detergents are phasselus nibh sapien, interdum volupat sed ex vel consequat. Aliquam dictum lects a elit sagittis.</li>
      <li>Nam rutrum, erat vel aliquet auctor, justo nulla bibendum purus, mollis venenatis.</li>
    </ul>

    <h2>What You Get</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum. Cras congue tortor nec velit rutrum pharetra in porta dui. Aliquam sit amet enim aliquet orci lobortis scelerisque non quis urna. Nam rutrum, erat vel aliquet auctor, justo nulla bibendum purus, mollis venenatis lectus nisi nec lacus. Fusce et augue convallis, laoreet libero sed, aliquam turpis. Donec volutpat sed ex vel consequat. Aliquam dictum lectus a elit sagittis, non venenatis leo imperdiet. Phasellus nibh sapien, interdum ultricies euismod ut, rutrum non purus.</p>

    <h2>Scholarships and Contests</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum. Cras congue tortor nec velit rutrum pharetra in porta dui. Aliquam sit amet enim aliquet orci lobortis scelerisque non quis urna. Nam rutrum, erat vel aliquet auctor, justo nulla bibendum purus, mollis venenatis lectus nisi nec lacus. Fusce et augue convallis, laoreet libero sed, aliquam turpis. Donec volutpat sed ex vel consequat. Aliquam dictum lectus a elit sagittis, non venenatis leo imperdiet. Phasellus nibh sapien, interdum ultricies euismod ut, rutrum non purus.</p>

    <h2>About DoSomething.org</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum. Cras congue tortor nec velit rutrum pharetra in porta dui. Aliquam sit amet enim aliquet orci lobortis scelerisque non quis urna. Nam rutrum, erat vel aliquet auctor, justo nulla bibendum purus, mollis venenatis lectus nisi nec lacus. Fusce et augue convallis, laoreet libero sed, aliquam turpis. Donec volutpat sed ex vel consequat. Aliquam dictum lectus a elit sagittis, non venenatis leo imperdiet. Phasellus nibh sapien, interdum ultricies euismod ut, rutrum non purus.</p>
  </div>
</div>

<div class="container">
  <h2 class="heading -banner"><span>Step 4: Prove It</span></h2>
  <div class="wrapper -narrow">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus rutrum. Cras congue tortor nec velit rutrum pharetra in porta dui. Aliquam sit amet enim aliquet orci lobortis scelerisque non quis urna. Nam rutrum, erat vel aliquet auctor, justo nulla bibendum purus, mollis venenatis lectus nisi nec lacus. Fusce et augue convallis, laoreet libero sed, aliquam turpis. Donec volutpat sed ex vel consequat. Aliquam dictum lectus a elit sagittis, non venenatis leo imperdiet. Phasellus nibh sapien, interdum ultricies euismod ut, rutrum non purus.</p>
  </div>
</div>
