<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= yield_content :title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

  <meta property="og:site_name" content="Do Something">
  <meta property="fb:app_id" content="105775762330">
  <meta property="og:url" content="http://www.dosomething.org/front">
  <meta property="og:image" content="http://files.dosomething.org/files/styles/thumbnail/public/garland_logo_0.png">
  <meta property="og:title" content="DoSomething.org">
  <meta property="og:description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">
  <meta property="og:type" content="non_profit">
  <meta property="description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">

  <link rel="stylesheet" href="/neue.css" media="screen, projection" type="text/css">
  <!--[if lt IE 9]><link rel="stylesheet" href="/ie.css" type="text/css" /><![endif]-->
  <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js" type="text/javascript"></script><![endif]-->

</head>
<body>
<div class="nav--wrapper">
  <nav class="main">
    <a class="logo" href="http://www.dosomething.org"><img src="/assets/images/ds-logo.png" alt="DoSomething.org"></a>
    <a class="hamburger js-toggle-mobile-menu" href="#">&#xe606;</a>
    <div class="menu">
      <ul class="primary-nav">
        <li>
          <a href="#">
            <strong>Explore Campaigns</strong>
            <span>Any cause, anytime, anywhere.</span>
          </a>
        </li>
        <li>
          <a href="#">
            <strong>What is Do Something?</strong>
            <span>Young people + social change.</span>
          </a>
        </li>
      </ul>

      <div class="secondary-nav">
        <ul>
          <li class="searchfield">
            <form action="/search/?s=#" method="get" accept-charset="utf-8">
              <input type="search" name="s" id="search" value="" />
            </form>
          </li>
          <li><a class="secondary-nav-item js-modal-link" data-cached-modal="#modal--auth-login" href="#">Log In</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<main class="wrapper">
  <%= yield %>
</main>

<div class="footer--wrapper">
  <form class="searchfield" action="/search/?s=#" method="get" accept-charset="utf-8">
    <input type="search" name="s" id="search" value="" placeholder="Search" />
  </form>
  <footer class="main">
    <div class="logo">
      <a href="http://www.dosomething.org"><img src="/assets/images/ds-logo.png" alt="DoSomething.org"></a>
    </div>
    <div class="social tablet">
      <ul>
        <li><a class="social-link" title="dosomething on Facebook" href="#">&#xe600;</a></li>
        <li><a class="social-link" title="@dosomething on Twitter" href="#">&#xe603;</a></li>
        <li><a class="social-link" title="@dosomething on Tumblr" href="#">&#xe602;</a></li>
        <li><a class="social-link" title="@dosomething on Instagram" href="#">&#xe604;</a></li>
        <li><a class="social-link" title="dosomething1 on YouTube" href="#">&#xe601;</a></li>
      </ul>
    </div>
    <div class="col help js-footer-col">
      <h4>Help</h4>
      <ul>
         <li><a href="#">Contact Us</a></li>
         <li><a href="#">Hotlines</a></li>
         <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="col knowus js-footer-col">
      <h4>Get to Know Us</h4>
      <ul>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">TMI Agency</a></li>
      </ul>
    </div>
    <div class="col about js-footer-col">
      <h4>About</h4>
      <ul>
        <li><a href="#">What is Do Something?</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Scholarships</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Internships</a></li>
        <li><a href="#">Old People</a></li>
        <li><a href="#">Sexy Financials</a></li>
        <li><a href="#">International</a></li>
      </ul>
    </div>

    <div class="social mobile">
      <ul>
        <li><a class="social-link" title="dosomething on Facebook" href="#">&#xe600;</a></li>
        <li><a class="social-link" title="@dosomething on Twitter" href="#">&#xe603;</a></li>
        <li><a class="social-link" title="@dosomething on Tumblr" href="#">&#xe602;</a></li>
        <li><a class="social-link" title="@dosomething on Instagram" href="#">&#xe604;</a></li>
        <li><a class="social-link" title="dosomething1 on YouTube" href="#">&#xe601;</a></li>
      </ul>
    </div>

    <div class="subfooter">
      <div class="tagline">Any cause, anytime, anywhere. *mic drop*</div>
      <ul class="utility">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
  </footer>

</div>


<script type="text/cached-modal" id="modal--auth-login">
  <a href="#" class="js-close-modal modal-close-button">&times;</a>
  <%= erb :login_form %>
</script>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/neue.js"></script>

</body>
</html>
