<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= yield_content :title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

  <meta property="og:site_name" content="Do Something">
  <meta property="fb:app_id" content="105775762330">
  <meta property="og:url" content="http://www.dosomething.org/front">
  <meta property="og:image" content="http://files.dosomething.org/files/styles/thumbnail/public/garland_logo_0.png">
  <meta property="og:title" content="DoSomething.org">
  <meta property="og:description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">
  <meta property="og:type" content="non_profit">
  <meta property="description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">

  <link rel="stylesheet" href="/neue.css" media="screen, projection" type="text/css">
  <!--[if lt IE 9]><link rel="stylesheet" href="/ie.css" type="text/css" /><![endif]-->

</head>
<body>
<div class="nav--wrapper">
  <nav class="main">
    <a class="logo" href="http://www.dosomething.org"><img src="/assets/images/ds-logo.png" alt="DoSomething.org"></a>
    <ul class="main-menu">
      <li>
        <a href="#">
          <strong>Explore Campaigns</strong>
          <span>Do Something to help</span>
        </a>
      </li>

      <li>
        <a href="#">
          <strong>What is Do Something?</strong>
          <span>Any cause, any time, anywhere</span>
        </a>
      </li>
    </ul>

    <div class="secondary-nav">
      <ul>
        <li class="searchfield">
          <form action="/search/?s=#" method="get" accept-charset="utf-8">
            <input type="search" name="s" id="search" value="" placeholder="Search..." />
          </form>
        </li>
        <li><a class="secondary-nav-item" href="#">Log In</a></li>
      </ul>
    </div>
  </nav>
</div>

<div role="main">
  <%= yield %>
</div>

<div class="footer--wrapper">
  <footer class="main">
    <div class="logo">
      <a href="http://www.dosomething.org"><img src="/assets/images/ds-logo.png" alt="DoSomething.org"></a>
    </div>
    <div class="social">
      <ul>
        <li><a class="social-link" title="dosomething on Facebook" href="#">&#xe600;</a></li>
        <li><a class="social-link" title="@dosomething on Twitter" href="#">&#xe603;</a></li>
        <li><a class="social-link" title="@dosomething on Tumblr" href="#">&#xe602;</a></li>
        <li><a class="social-link" title="@dosomething on Instagram" href="#">&#xe604;</a></li>
        <li><a class="social-link" title="dosomething1 on YouTube" href="#">&#xe601;</a></li>
      </ul>
    </div>
    <div class="col help">
      <h4>Help</h4>
      <ul>
         <li><a href="#">Contact Us</a></li>
         <li><a href="#">Hotlines</a></li>
         <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="col knowus">
      <h4>Get to Know Us</h4>
      <ul>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">TMI Agency</a></li>
      </ul>
    </div>
    <div class="col about">
      <h4>About</h4>
      <ul>
        <li><a href="#">What is Do Something?</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Scholarships</a></li>
        <li><a href="#">Jobs &amp; Internships</a></li>
        <li><a href="#">Old People</a></li>
        <li><a href="#">Sexy Financials</a></li>
        <li><a href="#">International</a></li>
      </ul>
    </div>

    <div class="subfooter">
      <div class="tagline"><strong><a href="#">Join 2.5 million young people.</a></strong> Any cause, anytime, anywhere. *mic drop*</div>
      <ul class="utility">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
  </footer>

</div>


<div id="modal--auth-login" class="modal" data-href="/example/login">
  <div class="modal-content login">
    <span href="#" class="icon-lock modal-secure-button js-security-info"><span>Secure Connection</span></span>
    <a href="#" class="js-close-modal modal-close-button">&times;</a>

    <%= erb :login_form %>
  </div>
</div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/neue.js"></script>

</body>
</html>
