<div class="row callout">
  <h2 class="js-auth-heading">Sign in to get started!</h2>
</div>
<form id="auth-form" action="https://localhost:8889/login">
  <div class="row">
    <div class="column span_6">
      <div class="is-registration-field">
        <label for="first_name">
          <div class="inner-label">
            <div class="label">First Name</div>
            <div class="message"></div>
          </div>
        </label>
        <input id="first_name" tabindex="1" type="text" name="first_name" class="js-validate" data-validate="name" placeholder="(What do we call you?)">
      </div>
    </div>

    <div class="column span_6">
      <div class="is-registration-field">
        <label for="birthday">
          <div class="inner-label">
            <div class="label">Birthday</div>
            <div class="message"></div>
          </div>
        </label>
        <input id="birthday" tabindex="2" type="text" name="birthday" class="js-validate" data-validate="birthday" placeholder="MM/DD/YYYY">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column span_12">
      <label for="username">
        <div class="inner-label">
          <div class="label">Email</div>
          <div class="message"></div>
        </div>
      </label>
      <input id="username" tabindex="3" type="text" name="username" class="js-validate" data-validate="email" placeholder="your_email@example.com">

      <div class="is-registration-field">
        <div id="parent_email_field" style="display: none;">
          <label for="parent_email">
            <div class="inner-label">
              <div class="label">Parent's Email</div>
              <div class="message"></div>
            </div>
          </label>
          <input id="parent_email" tabindex="4" type="text" name="parent_email" class="js-validate" data-validate="email" placeholder="parent_email@example.com">
        </div>
      </div>

      <div class="is-registration-field">
        <label for="cell">
          <div class="inner-label">
            <div class="label">Cell # <em>(optional)</em></div>
            <div class="message"></div>
          </div>
        </label>
        <input id="cell" tabindex="5" type="text" name="cell" placeholder="(555) 555-5555">
      </div>

      <label for="password">
        <div class="forgot-password"><a href="/example/forgot" tabindex="9">Forgot Password?</a></div>
        <div class="inner-label">
          <div class="label">Password</div>

          <div class="message"></div>
        </div>
      </label>
      <input id="password" tabindex="6" type="password" name="password" class="js-validate" data-validate="password"  placeholder="(password)">

      <div class="is-registration-field">
        <label for="confirm_password">
          <div class="inner-label">
            <div class="label">Confirm Password</div>

            <div class="message"></div>
          </div>
        </label>
        <input id="confirm_password" tabindex="7" type="password" name="confirm_password" placeholder="(just double-checking!)">
      </div>
    </div>
  </div>

  <div class="row callout">
    <input type="submit" tabindex="8" class="js-submit-link btn primary medium" value="Sign In">
  </div>

  <div class="row section callout">
    <a href="#" tabindex="10" class="js-toggle-register">Create a DoSomething.org Account</a>
  </div>

  <div class="row callout is-registration-field">
    <p class="legal">Clicking "Register" won't sell your soul, but it means you agree to our <a href="#">terms of service</a> &amp; <a href="#">privacy policy</a> &amp; to receive our weekly update. Message &amp; data rates may apply. You can always text STOP to opt-out, HELP for help.</p>
  </div>
</form>


<script>


</script>
