<div class="row callout">
  <h2 class="js-auth-heading">Log in to get started!</h2>
</div>
<form id="auth-form" action="https://localhost:8889/login">
  <div class="row">
    <div class="column span_6">
      <div class="is-registration-field">
        <label for="first_name">
          <div class="innerLabel">
            <div class="label">First Name</div>
            <div class="message"></div>
          </div>
        </label>
        <input id="first_name" type="text" name="first_name" placeholder="(What do we call you?)">
      </div>
    </div>

    <div class="column span_6">
      <div class="is-registration-field">
        <label for="birthday">
          <div class="innerLabel">
            <div class="label">Birthday</div>
            <div class="message"></div>
          </div>
        </label>
        <input id="birthday" type="text" name="birthday" placeholder="MM/DD/YYYY">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column span_12">
      <label for="username">
        <div class="innerLabel">
          <div class="label">Email</div>
          <div class="message"></div>
        </div>
      </label>
      <input id="username" type="text" name="username" placeholder="your_email@example.com">

      <div class="is-registration-field">
        <label for="cell">Cell # <em>(optional)</em></label>
        <input id="cell" type="text" name="cell" placeholder="(555) 555-5555">
      </div>

      <label for="password">
        <div class="innerLabel">
          <div class="label">Password</div>
          <div class="message"></div>
        </div>
      </label>
      <input id="password"  type="password" name="password" placeholder="(password)">

      <div class="is-registration-field">
        <label for="confirm_password">Confirm Password</label>
        <input id="confirm_password"  type="password" name="confirm_password" placeholder="(just double-checking!)">
      </div>
    </div>
  </div>

  <div class="row callout">
    <input type="submit" class="js-submit-link btn primary medium" value="Log In">
  </div>

  <div class="row section callout">
    <a href="#" class="js-toggle-register">Create a DoSomething.org Account</a>
  </div>

  <div class="row callout is-registration-field">
    <p class="legal">Clicking "Register" won't sell your soul, but it means you agree to our <a href="#">terms of service</a> &amp; <a href="#">privacy policy</a> &amp; to receive our weekly update. Message &amp; data rates may apply. You can always text STOP to opt-out, HELP for help.</p>
  </div>
</form>


<script>
  $("input").on("blur", function() {
    var msg = $('label[for="'+$(this).attr('id')+'"]').find(".message");
    msg.removeClass("error success");

    console.log( $(this).val() );

    if( $(this).attr('id') === "username" ) {

      if($(this).val() === "david@dfurnes.com") {
        msg.addClass("success");
        msg.text("Look's good!");
      } else {
        msg.addClass("error");
        msg.text("That's not an email address!");
      }

    } else if ( $(this).attr('id') === "first_name" ) {
      var inputName = $(this).val();

      if( inputName !== "" ) {
        var capitalizedName = $(this).val().charAt(0).toUpperCase() + $(this).val().slice(1);
        msg.addClass("success");
        msg.text("Hey " + capitalizedName + "!");
      } else {
        msg.addClass("error");
        msg.text("We need your first name!");
      }

    } else if ( $(this).attr('id') === "birthday" ) {

      var birthday = $(this).val().split("/");
      birthday[0] = parseInt(birthday[0]);
      birthday[1] = parseInt(birthday[1]);
      birthday[2] = parseInt(birthday[2]);

      var now = new Date();
      var today_year = now.getFullYear();
      var today_month = now.getMonth() + 1;
      var today_day = now.getDate();

      if (birthday[0] === today_month && birthday[1] === today_day) {
        msg.addClass("success");
        msg.text("Wow, happy birthday!");
      } else if( birthday[2] < today_year) {
        msg.addClass("success");

        var age = today_year - birthday[2];

        msg.text(age + ", cool!");
      } else if (birthday[2] > 1890 && birthday[2] < 1990) {
        msg.addClass("success");
        msg.text("Yikes, you're old!");
      } else {
        msg.addClass("error");
        msg.text("That doesn't seem right.");
      }

    }



    $('label[for="'+$(this).attr('id')+'"]').addClass("showMessage");
  });

  $("input").on("focus", function() {
    $('label[for="'+$(this).attr('id')+'"]').removeClass("showMessage");
  });
</script>
