<div class="page-width gutters">
  <div class="column span_4">
    <div class="row section">
      <div id="js-pin-to-top-anchor"></div>
      <nav class="tabs vertical js-pin-to-top">
        <ul>
          <li>
            <a href="#fonts-and-colors" class="js-jump-scroll">Colors &amp; Fonts</a>
          </li>
          <li>
            <a href="#typography" class="js-jump-scroll">Typography</a>
          </li>
          <li>
            <a href="#layout" class="js-jump-scroll">Layout</a>
            <ul>
              <li><a href="#containers" class="js-jump-scroll">Page Containers</a></li>
              <li><a href="#grid" class="js-jump-scroll">Grid Elements</a></li>
              <li><a href="#alternates" class="js-jump-scroll">Alternate Containers</a></li>
              <li><a href="#modifiers" class="js-jump-scroll">Layout Modifiers</a></li>
            </ul>
          </li>
          <li>
            <a href="#patterns" class="js-jump-scroll">Patterns</a>
            <ul>
              <li><a href="#forms" class="js-jump-scroll">Forms</a></li>
              <li><a href="#inline" class="js-jump-scroll">Inline</a></li>
              <li><a href="#navigation" class="js-jump-scroll">Navigation</a></li>
              <li><a href="#widgets" class="js-jump-scroll">Widgets</a></li>
              <li><a href="#helpers" class="js-jump-scroll">Helpers</a></li>
            </ul>
          </li>
          <li><a href="#animation" class="js-jump-scroll">Animation</a></li>
          <li><a href="#brand" class="js-jump-scroll">Our Brand</a></li>
        </ul>
      </nav>
      &nbsp;
    </div>
  </div>

  <div class="column span_8">
    <section class="row section campaign-section with-copy">
      <h1>DS Neue Style Guide</h1>

      <p>This is a living styleguide. It catalogues the re-usable classes included in the DS Neue framework. Neue is made up of four pillars: typography, a fluid grid-based layout system, re-usable interface patterns, and animations. It's a strong foundation for building beautiful interfaces.</p>

      <p>Check out these full-page mocks to see Neue in action:</p>
      <ul>
        <li><a href="/example/home">Homepage</a></li>
        <li><a href="/example/blog">Blog Post</a></li>
        <li><a href="/example/campaign">Campaign Template</a></li>
      </ul>
    </section>

    <section class="row section campaign-section">
      <h2 id="fonts-and-colors">Fonts &amp; Colors</h2>
      
      <h3>Fonts</h3>
      <p>We use Din Regular for most of our text and headings.</p>
      <p class="font-tile" style="font-family: 'din-regular'; font-weight: 400; ">
        Lorem ipsum dolor sit amet. <code>($font-din-regular, 400)</code>
      </p>

      <p class="font-tile" style="font-family: 'din-regular'; font-weight: 500; ">
        Lorem ipsum dolor sit amet. <code>($font-din-regular, 500)</code>
      </p>

      <p class="font-tile" style="font-family: 'din-regular'; font-weight: 600; ">
        Lorem ipsum dolor sit amet. <code>($font-din-regular, 600)</code>
      </p>

      <p>We use Din Condensed for special elements and headings. It should only be used at bigger font sizes for legibility.</p>
      <p class="font-tile" style="font-family: 'din-condensed'; font-weight: 500; font-size: 2rem;">
        Lorem ipsum dolor sit amet. <code>($font-din-condensed, 500)</code>
      </p>
      

      <h3>Brand Colors</h3>
      <p class="color-tile" data-hex="#18408b">
        <strong>Blue</strong> <code>($blue)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#00b5e0">
        <strong>Light Blue</strong> <code>($light-blue)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#fed100">
        <strong>Gold</strong> <code>($gold)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#f6e816">
        <strong>Yellow</strong> <code>($yellow)
        <span class="js-color-label">&hellip;</span></code>
      </p>
      
      <!-- 4 Shades of Gray -->
      <h3>Gray Tones</h3>
      <p class="color-tile" data-hex="#333131">
        <strong>Off Black</strong> <code>($off-black)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#666">
        <strong>Dark Gray</strong> <code>($dark-gray)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#ddd">
        <strong>Light Gray</strong> <code>($light-gray)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#f4f4f4">
        <strong>Off White</strong> <code>($off-white)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <h3>Secondary Colors</h3>
      <p>They're not part of our brand, but we're pretty fond of these guys. If you're going to use a color in one of these families, use this one.</p>
      <p class="color-tile" data-hex="#ef4135">
        <strong>Red</strong> <code>($red)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#8cc026">
        <strong>Green</strong> <code>($green)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#a9218e">
        <strong>Purple</strong> <code>($purple)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#2eb393">
        <strong>Teal</strong> <code>($teal)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <p class="color-tile" data-hex="#e20177">
        <strong>Hot Pink</strong> <code>($hot-pink)
        <span class="js-color-label">&hellip;</span></code>
      </p>

      <div class="row">
      <p class="callout"><strong>Tip:</strong> Click on a swatch to switch between color formats.</p>  
      </div>
    </section>

    <section class="row section campaign-section">
      <h2 id="typography">Typography</h2>
      <% styleguide_block  '1.1 - Headings' do %>
        <h1 class="$modifier_class"><span>Heading</span></h1>
        <p>Lorem ipsum dolor sit amet.</p>

        <h2 class="$modifier_class"><span>Heading</span></h2>
        <p>Lorem ipsum dolor sit amet.</p>

        <h3 class="$modifier_class"><span>Heading</span></h3>
        <p>Lorem ipsum dolor sit amet.</p>

        <h4 class="$modifier_class"><span>Heading</span></h4>
        <p>Lorem ipsum dolor sit amet.</p>
      <% end %>

      <% styleguide_block  '1.2 - Inline Elements' do %>
        <p>Lorem <em>italic</em> dolor <mark>important</mark> amet.
        This is some <strong>bold</strong> text and a <a href="#">link</a>.</p>
      <% end %>
    </section>

    <section class="row section campaign-section">
      <h2 id="layout">Layout</h2>
      <div class="row section">
        <h4 id="containers">3.1 Page Containers</h4>
        <p>These are outer wrappers for the grid layout.</p>
        <p></p>
        <% styleguide_block_without_preview '3.1.1 - Full-width Container' do %>
          <div class="full-width $modifier_class">
            <!-- content -->
          </div>
        <% end %>

        <% styleguide_block_without_preview '3.1.2 - Page-width Container' do %>
          <div class="page-width $modifier_class">
            <!-- content -->
          </div>
        <% end %>
      </div>

      <div class="row section">
        <h4 id="grid">3.2 Grid Elements</h4>
        <p>Neue is based on a <strong>fluid 12-column grid</strong> defined in percentages. Columns create vertical divisions in the layout based on consistent proportions. Rows (or fields) create horizontal divisions in the layout.</p>

        <div class="styleguide-example">
          <% styleguide_block_custom_example '3.2.1 - Columns' %>
          <div class="styleguide-element">
            <div class="row">
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
              <div class="column span_1">
                1
              </div>
            </div>
            <div class="row">
              <div class="column span_2">
                2
              </div>
              <div class="column span_2">
                2
              </div>
              <div class="column span_2">
                2
              </div>
              <div class="column span_2">
                2
              </div>
              <div class="column span_2">
                2
              </div>
              <div class="column span_2">
                2
              </div>
            </div>
            <div class="row">
              <div class="column span_3">
                span_3
              </div>
              <div class="column span_3">
                span_3
              </div>
              <div class="column span_3">
                span_3
              </div>
              <div class="column span_3">
                span_3
              </div>
            </div>
            <div class="row">
              <div class="column span_4">
                span_4
              </div>
              <div class="column span_4">
                span_4
              </div>
              <div class="column span_4">
                span_4
              </div>
            </div>
            <div class="row">
              <div class="column span_6">
                span_6
              </div>
              <div class="column span_6">
                span_6
              </div>
            </div>
            <div class="row">
              <div class="column span_2">
                2
              </div>
              <div class="column span_8">
                span_8
              </div>
              <div class="column span_2">
                2
              </div>
            </div>
            <div class="row">
              <div class="column span_4">
                2
              </div>
              <div class="column span_8">
                span_6
              </div>
            </div>
          </div>

          <div class="styleguide-element">
            <span class="styleguide-modifier-name">.always_span_X</span>
            <div class="row">
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
              <div class="column always_span_1">
                1
              </div>
            </div>
            <div class="row">
              <div class="column always_span_2">
                2
              </div>
              <div class="column always_span_2">
                2
              </div>
              <div class="column always_span_2">
                2
              </div>
              <div class="column always_span_2">
                2
              </div>
              <div class="column always_span_2">
                2
              </div>
              <div class="column always_span_2">
                2
              </div>
            </div>
            <div class="row">
              <div class="column always_span_3">
                3
              </div>
              <div class="column always_span_3">
                3
              </div>
              <div class="column always_span_3">
                3
              </div>
              <div class="column always_span_3">
                3
              </div>
            </div>
            <div class="row">
              <div class="column always_span_4">
                4
              </div>
              <div class="column always_span_4">
                4
              </div>
              <div class="column always_span_4">
                4
              </div>
            </div>
            <div class="row">
              <div class="column always_span_6">
                6
              </div>
              <div class="column always_span_6">
                6
              </div>
            </div>
            <div class="row">
              <div class="column always_span_2">
                2
              </div>
              <div class="column always_span_8">
                8
              </div>
              <div class="column always_span_2">
                2
              </div>
            </div>
            <div class="row">
              <div class="column always_span_4">
                2
              </div>
              <div class="column always_span_8">
                6
              </div>
            </div>
          </div>

          <div class="styleguide-html">
            <pre class="styleguide-code">
                &lt;div class="column span_X"&gt;
                  &lt;!-- content -- &gt;
                &lt;/div&gt;
            </pre>
          </div>
        </div>
        
        <div class="row-example">
          <% styleguide_block  '3.2.2 - Rows' do %>
            <div class="row $modifier_class">
              &hellip;
            </div>
            <div class="row $modifier_class">
              &hellip;
            </div>
          <% end %>
        </div>
      </div>

      <div class="row section">
        <h4 id="alternates">3.3 Alternate Containers</h4>

        <% styleguide_block  '3.3.1 - Aside' do %>
          <div class="aside $modifier_class span_6">
            &hellip;
          </div>
        <% end %>

        <% styleguide_block  '3.3.2 - Media' do %>
          <div class="media $modifier_class">
            <a href="#" class="img">
              <img src="/images/static/staff/aaron.jpg" width="100" height="100"  alt="Aaron Schachter" />
            </a>
            <div class="media-content">
              <strong>Aaron Schachter</strong><br>
              Developer<br>
              <em>writes that cray computer code</em>
            </div>
          </div>

          <div class="media $modifier_class">
            <div class="img">
              <img src="/images/static/staff/alyssa.jpg" width="100" height="100" alt="Alyssa Ruderman" />
            </div>
            <div class="media-content">
              <strong>Alyssa Ruderman</strong><br>
              Campaigns Specialist &mdash; Sex &amp; Relationships<br>
              <em>likes scrambled eggs w/ ketchup</em>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row section">
        <h4 id="modifiers">3.4 Layout Modifiers</h4>
        <p>Use these classes to adjust the apperance of a container's content.</p>

        <% styleguide_block  '3.4.1 - Callout' do %>
          <div class="row callout">
            I'm important so I'm centered! Wow!
          </div>
        <% end %>


        <% styleguide_block  '3.4.2 - With Copy' do %>
          <div class="page-width with-copy">
            <h1>Lorem stuff</h1>
            <h2>Subheading ipsum.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, voluptatibus, sit, tempore, rem fugiat minus culpa officiis molestias soluta ut deleniti molestiae dolorem itaque aut iste natus est sint minima.</p>
          </div>
        <% end %>
      </div>
      
  </section>

  <section class="row section campaign-section">
    <h2 id="patterns">Patterns</h2>

    <div class="row section">
      <h4 id="forms">4.1 Forms</h4>

      <% styleguide_block  '4.1.1 - Form Labels' do %>
        <label>Label</label>
        <input type="text">
      <% end %>

      <% styleguide_block  '4.1.2 - Text Input Fields' do %>
        <input type="text" class="$modifier_class">
        <input type="text" class="$modifier_class" placeholder="with placeholder directions">
      <% end %>

      <% styleguide_block  '4.1.3 - Search Fields' do %>
        <input type="search" placeholder="Search...">
      <% end %>

      <% styleguide_block  '4.1.4 - Text Area Fields' do %>
        <textarea name="textarea">Write something here</textarea>
      <% end %>

      <% styleguide_block  '4.1.5 - Buttons' do %>
        <a class="btn $modifier_class">Example Button</a>
      <% end %>

      <% styleguide_block  '4.1.6 - Select Boxes' do %>
        <select class="$modifier_class">
          <option>Awesome Things</option>
          <option>Popular Things</option>
          <option>Random Things</option>
        </select>
      <% end %>

      <% styleguide_block  '4.1.7 - Loading Spinner' do %>
        <div class="spinner"></div>
      <% end %>

      <% styleguide_block '4.1.8 - Status Banners' do %>
        <div class="messages $modifier_class">There's something I need to tell you.</div>
      <% end %>
    </div>

    <div class="row section">
      <h4 id="inline">4.2 Inline</h4>

      <% styleguide_block  '4.2.1 - Figures' do %>
        <figure>
          <img src="http://www.placekitten.com/g/600/400" alt="a kitten">
          <figcaption>This is a kitten. It is not to be trusted.</figcaption>
        </figure>
      <% end %>

      <% styleguide_block  '4.2.2 - Bordered image style' do %>
        <img class="bordered" src="http://www.placekitten.com/g/300/300" alt="another kitten">
      <% end %>

      <% styleguide_block  '4.2.3 - Legal Text' do %>
        <p class="legal">By clicking submit, you agree to sell your soul to the lorem ipsum dolor sit amet.</p>
      <% end %>

      <% styleguide_block  '4.2.4 - Pullquote' do %>
        <p class="pullquote">Lorem ipsum dolor sit aquote.</p>
      <% end %>

      <div class="with-copy">
        <% styleguide_block  '4.2.5 - List styles' do %>
          <ul class="$modifier_class">
            <li>One item</li>
            <li>Two item</li>
            <li>Three item</li>
          </ul>
        <% end %>
      </div>

    </div>

    <div class="row section">
      <h4 id="navigation">4.3 Navigation</h4>

      <% styleguide_block  '4.3.1 - Breadcrumbs' do %>
        <nav class="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Category</a></li>
          </ul>
        </nav>
      <% end %>

      <% styleguide_block  '4.3.2 - Tabs' do %>
        <nav class="tabs $modifier_class">
          <ul>
            <li><a class="active" href="#">Section One</a></li>
            <li><a href="#">Section Two</a></li>
            <li><a href="#">Section Three</a></li>
          </ul>
        </nav>
      <% end %>
    </div>

    <div class="row section">
      <h4 id="widgets">4.4 Widgets</h4>
        
      <% styleguide_block '4.4.1 - Banners' do %>
        <section class="row section banner">
          <p>
            <span>Do the things! Win the points!</span>
            <a class="left btn primary large" href="#">Do This</a>
          </p>
        </section>
      <% end %>

      <% styleguide_block '4.4.2 - Feature Blocks' do %>
          <div class="row">
            <div class="column span_12 feature-block fixed" style="background-image: url('/images/placeholders/feature.jpg');">
            <a class="full-link" href="/bully"><span>Do This</span></a>
            <div class="headline big blue">
              <h3>Invite friends to stand up to bullying with the Bully Text.</h3>
              <a href="/bully" class="btn primary large">Do This</a>
            </div>
          </div>
        </div>

        <div class="row feature-block" style="background-image: url('/images/placeholders/project2.jpg');">
          <a href="#" class="full-link"><span>Do This</span></a>
          <div class="description">
            <h2>Birthday Mail</h2>
            <p>Create an awesome birthday card for a child or teen experiencing homelessness.</p>
          </div>
          <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
        </div>
      <% end %>

      <% styleguide_block '4.4.3 - Conversation Bubbles' do %>
        <div class="game-conversation $modifier_class">
          <p>Girl, you got any 'fee?</p>
        </div>
      <% end %>

      <% styleguide_block '4.4.4 - Image Gallery' do %>
        <div class="gallery-image">
          <img src="http://www.placekitten.com/g/960/500" alt="">
        </div>

        <ul class="gallery-thumbs">
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/220/220" alt="" /></a>
          </li>
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/200/200" alt="" /></a>
          </li>
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/240/240" alt="" /></a>
          </li>
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/250/250" alt="" /></a>
          </li>
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/260/260" alt="" /></a>
          </li>
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/270/270" alt="" /></a>
          </li>
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/400/400" alt="" /></a>
          </li>
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/200/200" alt="" /></a>
          </li>
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/300/300" alt="" /></a>
          </li>
          <li class="gallery-thumb">
            <a href="#" title=""><img src="http://www.placekitten.com/g/320/320" alt="" /></a>
          </li>
        </ul>
      <% end %>

      <% styleguide_block '4.4.5 - Timeline Module' do %>
        <div class="timeline-divider">AUG</div>
        <ul class="timeline">
          <li class="event">
            <div class="event-wrapper">
              <a href="#" class="full-link"><span>Pics For Pets</span></a>
              <div class="title full-link-delegate"><a href="#">Pics For Pets</a></div>
              <div class="description">You helped homeless pets get adopted by sharing pics.</div>
            </div>
          </li>

          <li class="event">
            <div class="event-wrapper">
              <a href="#" class="full-link"><span>Undocumented For A Day</span></a>
              <div class="title full-link-delegate"><a href="#">Undocumented For A Day</a></div>
              <div class="description">45,146 people took the Undocumented For A Day experience to learn about the struggles of undocumented immigrants.</div>
            </div>
          </li>
        </ul>

        <div class="timeline-divider">JUL</div>
        <ul class="timeline">
          <li class="event">
            <div class="event-wrapper">
              <a href="#" class="full-link"><span>Pregnancy Text</span></a>
              <div class="title full-link-delegate"><a href="#">Pregnancy Text</a></div>
              <div class="description">You got your friends talking about teen pregnancy and over 120,000 phone babies were born.</div>
            </div>
          </li>
        </ul>
      <% end %>

      <% styleguide_block '4.4.6 - Scroll Indicator Link' do %>

      <% end %>

      <% styleguide_block '4.4.7 - Location Finder' do %>
        <form action="#" class="callout js-location-finder-form">
          <div class="no-js-hide-feature">
            <p>Enter your zip code to search for a drop-off point near you.</p>
            <input type="text" maxlength="5" class="short js-location-finder-input" placeholder="zip code">
            <a class="btn primary medium js-location-finder-button">Search</a>
          </div>

          <div class="alert error no-js-feature-warning">The Location Finder requires JavaScript to be enabled in your browser.</div>
        </form>

        <div class="content-center narrow js-location-finder-results no-js-hide-feature">
          <p>Nearest drop-off points for zipcode <span class="js-location-finder-results-zip"></span> (<a href='#' class='js-location-finder-reset'>change</a>):</p>

          <ul class="location-list">

          </ul>
        </div>

        <form action="#">
          <input class="js-location-finder-delegate" type="hidden">
        </form>
      <% end %>      
    </div>

    <div class="row section">
      <h4 id="helpers">4.5 Helpers</h4>
      <p>Helpers modify the behavior of an object.</p>

      <div class="kss-no-padding kss-dark kss-min-height">
        <% styleguide_block  '4.5.1 - Full Container Link' do %>
          <a href="#" class="full-link $modifier_class"><span>Do This</span></a>
        <% end %>
      </div>
      
      <div class="kss-no-padding">
        <% styleguide_block  '4.5.2 - Full-Width Image' do %>
          <img src="http://www.placekitten.com/g/500/100" alt="" class="full-width-img">
        <% end %>
      </div>

      <% styleguide_block_without_preview  '4.5.3 - Hide on Phones' do %>
        <div class="is-hidden-on-phones">
          
        </div>
      <% end %>

      <% styleguide_block_without_preview  '4.5.4 - Hide without JS' do %>
        <div class="no-js-hide-feature">
          
        </div>
      <% end %>
    </div>
  </section>

  <section class="row section campaign-section">
    <h2 id="animation">Animation</h2>
    <p>We use animation to add a sense of playfulness and delight to our interface. Animation also has a functional aspect – helping to build a user's mental model of an interface by indicating</p>
    
    <% styleguide_block  '5.1 - Fade up on Scroll' do %>
      <div class="js-fade-up-on-scroll">
        <h1>Here I am!</h1>
      </div>
    <% end %>

    <% styleguide_block  '5.2 - Bounce' do %>
      <div class="animation-bounce">
        <h1>&#9632;</h1>
      </div>
    <% end %>
  </section>

  <section class="row section campaign-section">
    <h2 id="brand">Our Brand</h2>
    <h4 class="section-header"><span>DoSomething.org Logo</span></h4>
    <div class="row">
      <div class="column span_6">
        <img src="images/ds-logo_2x.png" alt="DoSomething.org logo">
      </div>
      <div class="column span_6 callout">
        <h4>Download our Logo</h4>
        
        <br>
        <p class="legal">
          <a href="source/ds-logo.ai" class="btn primary small">Adobe Illustrator (.ai)</a>
          <a href="source/ds-logo.eps" class="btn primary small">Encapsulated PostScript (.eps)</a><br>
          These will scale well to any size, and are almost always your best choice.
        </p>
        <br>
        <p class="legal">
          <a href="source/ds-logo.png" class="btn secondary small">Rasterized PNG (1050 x 825)</a><br>
          High-resolution rasterized image with transparent background. Only use this if your editor doesn't support vector files.
        </p>
      </div>
    </div>

    <h4 class="section-header full-width"><span>Words &amp; Phrasing</span></h4>
    <div class="row">
    <div class="column span_4 with-copy">
      <h4>Banned Words</h4>
      <ul class="bad">
        <li>Mission</li>
        <li>Service</li>
        <li>Pledge</li>
        <li>Empower</li>
        <li>Changing the World</li>
        <li>Young adult/youths</li>
        <li>Cyberspace</li>
        <li>Kids</li>
      </ul>
      <br>
    </div>
    <div class="column span_4 with-copy">
      <h4>Words We Avoid</h4>
      <ul class="bad">
        <li>Volunteerism</li>
        <li>Awesome</li>
        <li>Community Service</li>
      </ul>
      <br>
    </div>
    <div class="column span_4 with-copy">
      <h4>Phrases We DO Use</h4>
      <ul class="good">
        <li>Because Apathy Sucks</li>
        <li>Do it with us</li>
        <li>Let's do something together</li>
        <li>Just do something</li>
      </ul>
    </div>
    </div>
  </section>

</div>