<link rel="stylesheet" href="/kss/kss.css">
<script type="text/javascript" src="/kss/kss.js"></script>

<div id="js-pin-to-top-anchor"></div>
<div class="sidebar-wrapper">
  <nav class="sidebar js-pin-to-top">
    <ul>
      <li><a href="#fonts-and-colors" class="js-jump-scroll">Colors &amp; Fonts</a></li>
      <li><a href="#base" class="js-jump-scroll">Base Elements</a></li>
      <li><a href="#forms" class="js-jump-scroll">Forms</a></li>
      <li><a href="#layout" class="js-jump-scroll">Layout</a></li>
      <li><a href="#blog" class="js-jump-scroll">Blog</a></li>
      <li><a href="#campaign" class="js-jump-scroll">Campaign</a></li>
      <li><a href="#navigation" class="js-jump-scroll">Navigation</a></li>
    </ul>
  </nav>
</div>

<div class="content-center">
  <h1>Styleguide Neue</h1>

  <p>This is a living styleguide. It catalogues the re-usable classes included in the DS Neue library. It can be used as both a design &amp; code reference to minimize "rebuilding the wheel". Some full-page examples are also available for reference:</p>
  <ul>
    <li><a href="/index.html">Homepage</a></li>
    <li><a href="/blog.html">Blog Post</a></li>
    <li><a href="/campaigns.html">Campaigns List</a></li>
    <li><a href="/campaign.html">Campaign Template</a></li>
  </ul>

  <section class="campaign-section">
    <h2 id="fonts-and-colors">Fonts &amp; Colors</h2>

    <style type="text/css">
      .font-tile {
        margin: 1rem;
        border: 1px solid #eee;
        padding: 1em;
        border-radius: 2px;
      }

      .font-tile code {
        color: rgba(0, 0, 0, 0.5);
      }

      .color-tile {
        float: left;
        width: 45%;
        margin: 2.5%;
        background: #eee;
        color: #fff;
        text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
        padding: 2em 1em;
        border-radius: 2px;
        box-sizing: border-box;
      }

      .color-tile code {
        color: rgba(255, 255, 255, 0.7);
      }
    </style>
    
    <h3>Fonts</h3>
    <p>Generally, the right font to use is the one specified by the style element you are using.</p>
    <p class="font-tile" style="font-family: 'din-regular';">
      We use Din Regular for most of our text and headings. <code>($font-din-regular)</code>
    </p>

    <p class="font-tile" style="font-family: 'din-condensed'; font-size: 2rem;">
      We use Din Condensed for special elements and headings. It should be used sparingly &amp; at bigger font sizes for legibility. <code>($font-din-condensed)</code>
    </p>

    <h3>Colors</h3>

    <p class="color-tile" style="background: #18408b">
      <strong>Blue</strong> <code>($blue, #18408b)</code>
    </p>

    <p class="color-tile" style="background: #00b5e0">
      <strong>Light Blue</strong> <code>($light-blue, #00b5e0)</code>
    </p>

    <p class="color-tile" style="background: #fed100">
      <strong>Gold</strong> <code>($gold, #fed100)</code>
    </p>

    <p class="color-tile" style="background: #502862">
      <strong>Purple</strong> <code>($purple, #502862)</code>
    </p>

    <p class="color-tile" style="background: #333131">
      <strong>Dark Gray</strong> <code>($dark-gray, #333131)</code>
    </p>

    <p class="color-tile" style="background: #666">
      <strong>Gray</strong> <code>($gray, #666)</code>
    </p>

    <p class="color-tile" style="background: #ddd">
      <strong>Light Gray</strong> <code>($light-gray, #ddd)</code>
    </p>
  </section>

  <section class="campaign-section">
    <h2 id="base">Base Elements</h2>
    <% styleguide_block  '1.1' do %>
      <h1 class="$modifier_class"><span>Heading</span></h1>
      <h2 class="$modifier_class"><span>Heading</span></h2>
      <h3 class="$modifier_class"><span>Heading</span></h3>
      <h4 class="$modifier_class"><span>Heading</span></h4>
    <% end %>

    <% styleguide_block  '1.2' do %>
      <p>Lorem ipsum dolor sit amet. This is some <strong>bold</strong>
      placeholder text and a <a href="#">link</a>.</p>
    <% end %>
  </section>

  <section>
    <h2 id="forms">Forms</h2>
    <% styleguide_block  '2.1' do %>
      <label>Label</label>
      <input type="text">
    <% end %>

    <% styleguide_block  '2.2.1' do %>
      <input type="text" class="$modifier_class">
      <input type="text" class="$modifier_class" placeholder="with placeholder directions">
    <% end %>

    <% styleguide_block  '2.2.2' do %>
      <input type="search" placeholder="Search...">
    <% end %>

    <% styleguide_block  '2.3' do %>
      <a class="btn $modifier_class">Example Button</a>
    <% end %>

    <% styleguide_block  '2.4' do %>
      <select>
        <option>Awesome Things</option>
        <option>Popular Things</option>
        <option>Random Things</option>
      </select>
    <% end %>

    <% styleguide_block  '2.5' do %>
      <div class="spinner"></div>
    <% end %>
  </section>

  <section class="campaign-section">
    <h2 id="layout">Layout</h2>

    <% styleguide_block  '3.1.1' do %>
      <!-- no example -->
    <% end %>

    <% styleguide_block  '3.1.2' do %>
      <!-- no example -->
    <% end %>

    <% styleguide_block  '3.2' do %>
      <div class="content-center $modifier_class">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit. Donec pretium eros quam, in sagittis lorem semper et. Curabitur mattis mi a ipsum vehicula rhoncus.</p>
      </div>
    <% end %>

    <% styleguide_block  '3.3.1' do %>
      <div class="one-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit. Donec pretium eros quam, in sagittis lorem semper et. Curabitur mattis mi a ipsum vehicula rhoncus.</p>
      </div>
    <% end %>

    <% styleguide_block  '3.3.2' do %>
      <div class="two-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit. Donec pretium eros quam, in sagittis lorem semper et. Curabitur mattis mi a ipsum vehicula rhoncus.</p>
      </div>

      <div class="two-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit. Donec pretium eros quam, in sagittis lorem semper et. Curabitur mattis mi a ipsum vehicula rhoncus.</p>
      </div>
    <% end %>

    <% styleguide_block  '3.3.3' do %>
      <div class="three-col $modifier_class">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit.</p>
      </div>

      <div class="three-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit.</p>
      </div>

      <div class="three-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit.</p>
      </div>
    <% end %>

    <% styleguide_block  '3.4' do %>
      <div class="block three-col $modifier_class">
        <h3>One Kitten</h3>
        <img src="http://placekitten.com/g/300/200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit.</p>
      </div>

      <div class="block three-col">
        <h3>Two Kitten</h3>
        <img src="http://placekitten.com/g/300/200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit.</p>
      </div>

      <div class="block three-col">
        <h3>Three Kitten</h3>
        <img src="http://placekitten.com/g/300/200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis, nibh quis pellentesque viverra, arcu purus dictum neque, at rutrum lectus urna sed elit.</p>
      </div>
    <% end %>

    <% styleguide_block '3.6.1' do %>
      <a href="#top" class="btn-top js-jump-scroll">Back to Top</a>
    <% end %>

    <% styleguide_block '3.6.2' do %>
      <ul class="pager">
        <li class="pager-next"><span class="btn small inactive" title="Go to previous page">&#8249; prev</span></li>
        <li class="pager-current"><span class="btn small inactive">1</span></li>
        <li class="pager-item"><a class="btn small" title="Go to page 2" href="#">2</a></li>
        <li class="pager-item"><a class="btn small" title="Go to page 3" href="#">3</a></li>
        <li class="pager-item"><a class="btn small" title="Go to page 4" href="#">4</a></li>
        <li class="pager-next"><a class="btn small" title="Go to next page" href="#">next &#8250;</a></li>
      </ul>
    <% end %>

    <% styleguide_block '3.8.1' do %>
      <!-- utility class .column-break -->
    <% end %>

    <% styleguide_block '3.8.2' do %>
      <!-- utility class .callout -->
    <% end %>

    <% styleguide_block '3.8.3' do %>
      <a class="full-link" href="#"><span>Link Title (hidden)</span></a>
    <% end %>
  </section>


  <section class="campaign-section">
    <h2 id="blog">Blog</h2>
    <% styleguide_block '4.1' do %>
      <div class="one-col">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <aside class="pullquote $modifier_class">Lorem ipsum dolor sit amet.</aside>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    <% end %>

    <% styleguide_block '4.2' do %>
      <div class="content-center narrow related-links">
        <h4>More on DoSomething.org</h4>
        <a href="#" class="related">
          <img src="http://placekitten.com/75/75" alt="One kitten">
          <span>Kitten decides to do something about rising world population, kills family of 3.</span>
        </a>
        <a href="#" class="related">
          <img src="http://placekitten.com/75/75" alt="Two kitten">
          <span>Kittens, in your ceiling? It's more likely than you think!</span>
        </a>
        <a href="#" class="related">
          <img src="http://placekitten.com/75/75" alt="Three kitten">
          <span>Meow meow meow. Lorem ipsum dolor sit ameow.</span>
        </a>
      </div>
    <% end %>
  </section>


  <section class="campaign-section">
    <h2 id="campaign">Campaign</h2>
    <% styleguide_block '5.1' do %>
      <p class="legal">By registering, you agree to recieve emails and text messages. You can't escape.</p>
    <% end %>

    <% styleguide_block '5.2' do %>
      <div class="content-center narrow">
        <div class="game-conversation $modifier_class">
          <p>Girl, you got any 'fee?</p>
        </div>
      </div>
    <% end %>

    <% styleguide_block '5.3' do %>
      <div class="gallery-image">
        <img src="http://www.placekitten.com/g/960/500" alt="">
      </div>

      <ul class="gallery-thumbs">
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/220/220" alt="" /></a>
        </li>
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/200/200" alt="" /></a>
        </li>
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/240/240" alt="" /></a>
        </li>
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/250/250" alt="" /></a>
        </li>
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/260/260" alt="" /></a>
        </li>
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/270/270" alt="" /></a>
        </li>
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/400/400" alt="" /></a>
        </li>
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/200/200" alt="" /></a>
        </li>
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/300/300" alt="" /></a>
        </li>
        <li class="gallery-thumb">
          <a href="#" title=""><img src="http://www.placekitten.com/g/320/320" alt="" /></a>
        </li>
      </ul>
    <% end %>

    <% styleguide_block '5.4' do %>
      <div class="timeline-divider">AUG</div>
      <ul class="timeline">
        <li class="event">
          <div class="event-wrapper">
            <a href="#" class="full-link"><span>Pics For Pets</span></a>
            <div class="title full-link-delegate"><a href="#">Pics For Pets</a></div>
            <div class="description">You helped homeless pets get adopted by sharing pics.</div>
          </div>
        </li>

        <li class="event">
          <div class="event-wrapper">
            <a href="#" class="full-link"><span>Undocumented For A Day</span></a>
            <div class="title full-link-delegate"><a href="#">Undocumented For A Day</a></div>
            <div class="description">45,146 people took the Undocumented For A Day experience to learn about the struggles of undocumented immigrants.</div>
          </div>
        </li>
      </ul>

      <div class="timeline-divider">JUL</div>
      <ul class="timeline">
        <li class="event">
          <div class="event-wrapper">
            <a href="#" class="full-link"><span>Pregnancy Text</span></a>
            <div class="title full-link-delegate"><a href="#">Pregnancy Text</a></div>
            <div class="description">You got your friends talking about teen pregnancy and over 120,000 phone babies were born.</div>
          </div>
        </li>
      </ul>
    <% end %>

    <% styleguide_block '5.5' do %>
      <form action="#" class="content-center narrow callout js-location-finder-form">
        <div class="no-js-hide-feature">
          <p>Enter your zip code to search for a drop-off point near you.</p>
          <input type="text" maxlength="5" class="short js-location-finder-input" placeholder="zip code">
          <a class="btn primary medium js-location-finder-button">Search</a>
        </div>

        <div class="alert error no-js-feature-warning">The Location Finder requires JavaScript to be enabled in your browser.</div>
      </form>

      <div class="content-center narrow js-location-finder-results no-js-hide-feature">
        <p>Nearest drop-off points for zipcode <span class="js-location-finder-results-zip"></span> (<a href='#' class='js-location-finder-reset'>change</a>):</p>

        <ul class="location-list">

        </ul>
      </div>
    <% end %>

    
    <% styleguide_block '5.5' do %>
      <form action="#" class="content-center narrow callout js-location-finder-form">
        <div class="no-js-hide-feature">
          <p>Enter your zip code to search for a drop-off point near you.</p>
          <input type="text" maxlength="5" class="short js-location-finder-input" placeholder="zip code">
          <a class="btn primary medium js-location-finder-button">Search</a>
        </div>

        <div class="alert error no-js-feature-warning">The Location Finder requires JavaScript to be enabled in your browser.</div>
      </form>

      <div class="content-center narrow js-location-finder-results no-js-hide-feature">
        <p>Nearest drop-off points for zipcode <span class="js-location-finder-results-zip"></span> (<a href='#' class='js-location-finder-reset'>change</a>):</p>

        <ul class="location-list">

        </ul>
      </div>
    <% end %>
  </section>

  <section class="campaign-section">
    <h2 id="navigation">Navigation</h2>

    <% styleguide_block '6.1' do %>
      <nav class="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Category</a></li>
        </ul>
      </nav>
    <% end %>

    <% styleguide_block '6.2' do %>
      <nav class="sidebar">
        <ul>
          <li><a href="#">Cats</a></li>
          <li><a href="#">Dogs</a></li>
          <li><a href="#">Penguins</a></li>
        </ul>
      </nav>
    <% end %>

  </section>

</div>