  <article class="sidebar-content">
    <section class="row section styleguide-section with-copy">
      <h1>Neue Pattern Library</h1>

      <p>This is Neue, our interface framework and pattern library. Neue is made up of four pillars: typography, a fluid grid-based layout system, re-usable interface patterns, and animations. It's a strong foundation for building beautiful interfaces.</p>
    </section>

    <section class="row section styleguide-section">
      <h2 id="fonts-and-colors">Fonts &amp; Colors</h2>

     <h3>Fonts</h3>
     <p>We use <a href="http://www.marksimonson.com/fonts/view/proxima-nova">Proxima Nova</a> for all of our text and headings.</p>
     <p class="font-tile" style="font-family: 'Proxima Nova'; font-weight: 400; ">
     Lorem ipsum dolor sit amet. <code>($font-proxima-nova, $weight-normal)</code>
     </p>

     <p class="font-tile" style="font-family: 'Proxima Nova'; font-weight: 600; ">
     Lorem ipsum dolor sit amet. <code>($font-proxima-nova, $weight-sbold)</code>
     </p>

     <p class="font-tile" style="font-family: 'Proxima Nova'; font-weight: 700; ">
     Lorem ipsum dolor sit amet. <code>($font-proxima-nova, $weight-bold)</code>
     </p>

     <p>We use <a href="https://www.google.com/fonts/specimen/Covered+By+Your+Grace">Covered By Your Grace</a> as the "voice" of DoSomething.org.</p>
     <p class="font-tile" style="font-family: 'CoveredGrace';">
     Lorem ipsum dolor sit amet. <code>($font-handwritten, $weight-normal)</code>
     </p>

     <h3>Brand Colors</h3>
     <p class="color-tile" data-hex="#23b7fb">
     <strong>Blue</strong> <code>($blue)
       <span class="js-color-label">&hellip;</span></code>
     </p>

     <p class="color-tile" data-hex="#4e2b63">
     <strong>Purple</strong> <code>($purple)
       <span class="js-color-label">&hellip;</span></code>
     </p>

     <p class="color-tile" data-hex="#fed100">
     <strong>Yellow</strong> <code>($yellow)
       <span class="js-color-label">&hellip;</span></code>
     </p>

     <h3>Gray Tones</h3>
     <p class="color-tile" data-hex="#222">
     <strong>Off Black</strong> <code>($off-black)
       <span class="js-color-label">&hellip;</span></code>
     </p>

     <p class="color-tile" data-hex="#444">
     <strong>Dark Gray</strong> <code>($dark-gray)
       <span class="js-color-label">&hellip;</span></code>
     </p>

     <p class="color-tile" data-hex="#999">
     <strong>Medium Gray</strong> <code>($med-gray)
       <span class="js-color-label">&hellip;</span></code>
     </p>

     <p class="color-tile" data-hex="#ddd">
     <strong>Light Gray</strong> <code>($light-gray)
       <span class="js-color-label">&hellip;</span></code>
     </p>

     <h3>System Colors</h3>
     <p>They're not part of our brand, but we use these guys in special cases.</p>
     <p class="color-tile" data-hex="#ff4747">
     <strong>Red</strong> <code>($red)
       <span class="js-color-label">&hellip;</span></code>
     </p>

     <div class="styleguide-section">
       <p class="callout"><strong>Tip:</strong> Double-click on a swatch to switch between color formats.</p>
     </div>
    </section>

    <section class="row section styleguide-section">
      <h2 id="typography">Typography</h2>
      <% styleguide_block  '1.1 - Headings' do %>
        <h1 class="$modifier_class"><span>Heading</span></h1>
        <p>Lorem ipsum dolor sit amet.</p>

        <h2 class="$modifier_class"><span>Heading</span></h2>
        <p>Lorem ipsum dolor sit amet.</p>

        <h3 class="$modifier_class"><span>Heading</span></h3>
        <p>Lorem ipsum dolor sit amet.</p>

        <h4 class="$modifier_class"><span>Heading</span></h4>
        <p>Lorem ipsum dolor sit amet.</p>
      <% end %>

      <% styleguide_block  '1.2.1 - Unordered Lists' do %>
        <ul>
          <li>Norway</li>
          <li>Sweden</li>
          <li>Finland</li>
        </ul>
      <% end %>

      <% styleguide_block  '1.2.2 - Ordered Lists' do %>
        <ol>
          <li>Norway</li>
          <li>Sweden</li>
          <li>Finland</li>
        </ol>
      <% end %>

      <% styleguide_block  '1.3 - Inline Elements' do %>
        <p>Lorem <em>italic</em> dolor <mark>important</mark> amet.
        This is some <strong>bold</strong> text, a <a href="#">link</a>, and a <a href="#" class="secondary">secondary link</a>.</p>
      <% end %>
    </section>

    <section class="row section styleguide-section">
      <h2 id="layout">Layout</h2>
      <img src="/assets/kss/grid-visualization.jpg" alt="visualization of grid on DoSomething.org homepage" />
      <p>We use <a href="http://neat.bourbon.io">Bourbon Neat</a> to build our interface on a fluid 16-column grid. See the <a href="http://neat.bourbon.io/docs">documentation</a> for implementation details. See <a href="https://github.com/DoSomething/neue/blob/dev/scss/globals/_grid-settings.scss"><code>_grid-settings.scss</code></a> for grid settings and breakpoints.</p>
      <p>Drag the <a href="javascript:(function(){jQuery('body').toggleClass('show-visual-grid')})();" class="btn secondary tiny">Grid Bookmarklet</a> to your bookmarks toolbar and click to toggle a grid overlay on any Neue-powered DoSomething.org website. Or just click to try it out on this page!</p>
    </section>

  <section class="row section styleguide-section">
    <h2 id="patterns">Patterns</h2>

    <div class="row section">
      <h4 id="forms">4.1 Forms</h4>

      <% styleguide_block  '4.1.1 - Form Labels' do %>
        <!-- .show-message and .message classes and markup generated dynamically -->
        <label class="show-message">
          <div class="message $modifier_class">Label</div>
        </label>
        <input class="$modifier_class" type="text">
      <% end %>

      <% styleguide_block  '4.1.2 - Text Input Fields' do %>
        <input type="text" class="$modifier_class">
        <input type="text" class="$modifier_class" placeholder="placeholder">
      <% end %>

      <% styleguide_block  '4.1.3 - Search Fields' do %>
        <input type="search" placeholder="Search...">
      <% end %>

      <% styleguide_block  '4.1.4 - Text Area Fields' do %>
        <textarea name="textarea">Write something here</textarea>
      <% end %>

      <% styleguide_block  '4.1.5 - Buttons' do %>
        <a class="btn $modifier_class">Example Button</a>
      <% end %>

      <% styleguide_block  '4.1.6 - Select Boxes' do %>
        <select class="$modifier_class">
          <option>Awesome Things</option>
          <option>Popular Things</option>
          <option>Random Things</option>
        </select>
      <% end %>

      <% styleguide_block  '4.1.7 - Loading Spinner' do %>
        <div class="spinner"></div>
      <% end %>

      <% styleguide_block '4.1.8 - Status Banners' do %>
        <div class="messages $modifier_class"><strong>There's something <em>I need</em></strong> to tell you.</div>
      <% end %>
    </div>

    <div class="row section">
      <h4 id="inline">4.2 Inline</h4>

      <% styleguide_block  '4.2.1 - Figures' do %>
        <figure>
          <img src="http://www.placekitten.com/g/600/400" alt="a kitten">
          <figcaption>This is a kitten. It is not to be trusted.</figcaption>
        </figure>
      <% end %>

      <% styleguide_block  '4.2.2 - Bordered image style' do %>
        <img class="bordered" src="http://www.placekitten.com/g/300/300" alt="another kitten">
      <% end %>

      <% styleguide_block  '4.2.3 - Legal Text' do %>
        <p class="legal">By clicking submit, you agree to <a href="#">sell your soul</a> to the lorem ipsum dolor sit amet.</p>
      <% end %>

      <% styleguide_block  '4.2.4 - Pullquote' do %>
        <p class="pullquote">Lorem ipsum dolor sit aquote.</p>
      <% end %>
    </div>

    <div class="row section">
      <h4 id="navigation">4.3 Navigation</h4>

      <% styleguide_block  '4.3.1 - Breadcrumbs' do %>
        <nav class="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Category</a></li>
          </ul>
        </nav>
      <% end %>

      <% styleguide_block  '4.3.2 - Tabs' do %>
        <nav class="tabs $modifier_class">
          <ul>
            <li><a class="active" href="#">Section One</a></li>
            <li><a href="#">Section Two</a></li>
            <li><a href="#">Section Three</a></li>
          </ul>
        </nav>
      <% end %>
    </div>

    <div class="row section">
      <h4 id="widgets">4.4 Widgets</h4>

      <% styleguide_block '4.4.1 - Modal (Popup)' do %>

      <a href="#modal--example" class="js-modal-link">Show example modal</a> or <a href="http://www.google.com" data-cached-modal="#modal--example" class="js-modal-link">alternative syntax</a>

      <script type="text/cached-modal" id="modal--example" data-modal-close="true" data-modal-close-class="white">
        <h2 class="banner">Example Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, officia impedit eius velit consectetur provident ullam! Incidunt, rem, maxime sit non natus praesentium nobis voluptas enim repudiandae. Commodi, eum, accusamus. Let us take a look at <a href="#modal--pagetwo" class="js-modal-link">another modal</a>.</p>
      </script>

      <script type="text/cached-modal" id="modal--pagetwo" data-modal-close="skip" data-modal-skip-form="#skip-form">
        <h2>Page 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, officia impedit eius velit consectetur provident ullam! Incidunt, rem, maxime sit non natus praesentium nobis voluptas enim repudiandae. Commodi, eum, accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, officia impedit eius velit consectetur provident ullam! Incidunt, rem, maxime sit non natus praesentium nobis voluptas enim repudiandae. Commodi, eum, accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, officia impedit eius velit consectetur provident ullam! Incidunt, rem, maxime sit non natus praesentium nobis voluptas enim repudiandae. Commodi, eum, accusamus.</p>
        <form action="#">
          <label for="name">Name</label>
          <input type="text" class="js-validate" name="name" id="name" data-validate-trigger="#confirmName">

          <label for="confirmName">Confirm Name</label>
          <input type="text" name="confirmName" class="js-validate" data-validate="match" data-validate-match="#name" id="confirmName">

          <div class="form-actions">
            <input type="submit" class="btn">
          </div>
        </form>
        <form action="http://www.google.com" id="skip-form">
          <div class="form-actions">
            <input type="submit" value="Skip" class="btn tertiary">
          </div>
        </form>
      </script>
    <% end %>

    <div class="row section">
      <h4 id="helpers">4.5 Helpers</h4>
      <p>Helpers modify the behavior of an object.</p>

      <div class="kss-no-padding kss-dark kss-min-height">
        <% styleguide_block  '4.5.1 - Full Container Link' do %>
          <a href="#" class="full-link $modifier_class"><span>Do This</span></a>
        <% end %>
      </div>
    </div>
  </section>

  <div class="row section">
    <h4 id="cta">4.6 CTA</h4>

    <div class="kss-no-padding">
    <% styleguide_block  '4.6.1 - CTA' do %>
      <div class="cta">
        <div class="wrapper">
          <h2 class="__message">Miscreant! You should pay homage to our future kitten overlords:</h2>
          <a href="#" class="btn medium">Support Our Kittens</a>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class="row section">
    <h4 id="tile">4.7 Tile</h4>
    <% styleguide_block  '4.7.1 - Tile' do %>
      <article class="tile tile--campaign">
        <a class="wrapper" href="#">
          <div class="tile--meta">
            <h1 class="__title">Kitten Overlords</h1>
            <p class="__tagline">According to the latest research, kittens will outlive the human species after the apocalypse.</p>
          </div>
          <img alt="kitten overlords" src="http://placekitten.com/g/600/600" />
        </a>
      </article>
    <% end %>
  </div>

  <div class="row section">
    <h4 id="gallery">4.8 Gallery</h4>
    <% styleguide_block  '4.8.1 - Gallery' do %>
      <ul class="gallery -mosaic">
        <li>
          <article class="tile tile--campaign">
            <a class="wrapper" href="#">
              <div class="tile--meta">
                <h1 class="__title">Kitten Overlord</h1>
              </div>
              <img alt="kitten overlords" src="http://placekitten.com/g/300/300" />
            </a>
          </article>
        </li>
        <li>
          <article class="tile tile--campaign">
            <a class="wrapper" href="#">
              <div class="tile--meta">
                <h1 class="__title">Kitten Overlord</h1>
              </div>
              <img alt="kitten overlords" src="http://placekitten.com/g/300/300" />
            </a>
          </article>
        </li>
        <li>
          <article class="tile tile--campaign">
            <a class="wrapper" href="#">
              <div class="tile--meta">
                <h1 class="__title">Kitten Overlord</h1>
              </div>
              <img alt="kitten overlords" src="http://placekitten.com/g/300/300" />
            </a>
          </article>
        </li>
        <li class="empty -mono">
          <div class="wrapper">
            <div class="__message">
              <div class="wrapper">
                <p>Gah! Nothing to see here.</p>
                <a href="#">Move Along</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    <% end %>
  </div>

  <section class="row section styleguide-section">
    <h2 id="animation">Animation</h2>
    <p>We use animation to add a sense of playfulness and delight to our interface. Animation also has a functional aspect – helping to build a user's mental model of an interface by indicating</p>

    <p>See <a href="https://github.com/DoSomething/neue/blob/dev/scss/_main/_animations.scss"><code>animation.scss</code></a> for details. Preview coming soon.</p>

  <section class="row section styleguide-section with-copy">
    <h2 id="interaction">Interaction</h2>
    <p>Neue includes some helper scripts for interactivity. While any application-specific logic should live within its own codebase, you can find the logic that powers some of our reusable patterns <a href="https://github.com/DoSomething/neue/blob/dev/js/">here</a>.</p>
  </section>

</article>

  <div class="sidebar">
    <nav class="tabs vertical js-sticky">
      <ul>
        <li><a href="#fonts-and-colors" class="js-scroll-indicator js-jump-scroll">Fonts &amp; Colors</a></li>
        <li><a href="#typography" class="js-scroll-indicator js-jump-scroll">Typography</a></li>
        <li><a href="#layout" class="js-scroll-indicator js-jump-scroll">Layout</a></li>
        <li>
          <a href="#patterns" class="js-scroll-indicator js-jump-scroll">Patterns</a>
          <ul>
            <li><a href="#forms" class="js-scroll-indicator js-jump-scroll">Forms</a></li>
            <li><a href="#inline" class="js-scroll-indicator js-jump-scroll">Inline</a></li>
            <li><a href="#navigation" class="js-scroll-indicator js-jump-scroll">Navigation</a></li>
            <li><a href="#widgets" class="js-scroll-indicator js-jump-scroll">Widgets</a></li>
            <li><a href="#helpers" class="js-scroll-indicator js-jump-scroll">Helpers</a></li>
            <li><a href="#cta" class="js-scroll-indicator js-jump-scroll">CTA</a></li>
            <li><a href="#tile" class="js-scroll-indicator js-jump-scroll">Tile</a></li>
            <li><a href="#gallery" class="js-scroll-indicator js-jump-scroll">Gallery</a></li>
          </ul>
        </li>
        <li><a href="#animation" class="js-scroll-indicator js-jump-scroll">Animation</a></li>
        <li><a href="#interaction" class="js-scroll-indicator js-jump-scroll">Interaction</a></li>
      </ul>
    </nav>
    &nbsp;
  </div>
