// --------------
//  PROXIMA NOVA
// --------------

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: neue-asset-url("fonts/proxima-nova/ProximaNova-Regular.eot");
  src: neue-asset-url("fonts/proxima-nova/ProximaNova-Regular.eot?") format("eot"), neue-asset-url("fonts/proxima-nova/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: neue-asset-url("fonts/proxima-nova/ProximaNova-SBold.eot");
  src: neue-asset-url("fonts/proxima-nova/ProximaNova-SBold.eot?") format("eot"), neue-asset-url("fonts/proxima-nova/ProximaNova-SBold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: neue-asset-url("fonts/proxima-nova/ProximaNova-Bold.eot");
  src: neue-asset-url("fonts/proxima-nova/ProximaNova-Bold.eot?") format("eot"), neue-asset-url("fonts/proxima-nova/ProximaNova-Bold.woff") format("woff");
}


// -----------------------
//  COVERED BY YOUR GRACE
// -----------------------

@font-face {
  font-family: "CoveredGrace";
  src: neue-asset-url("fonts/covered-grace/CoveredGrace-Regular.eot");
  src: neue-asset-url("fonts/covered-grace/CoveredGrace-Regular.eot?#iefix") format("embedded-opentype"),
       neue-asset-url("fonts/covered-grace/CoveredGrace-Regular.woff") format("woff"),
       neue-asset-url("fonts/covered-grace/CoveredGrace-Regular.ttf") format("truetype"),
       neue-asset-url("fonts/covered-grace/CoveredGrace-Regular.svg#covered_by_your_graceregular") format("svg");
  font-weight: normal;
  font-style: normal;
}


// ---------------------
//  ICOMOON (ICON FONT)
// ---------------------

@font-face {
  font-family: "icomoon";
  src: neue-asset-url("fonts/icomoon/icomoon.eot");
  src: neue-asset-url("fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"),
       neue-asset-url("fonts/icomoon/icomoon.ttf") format("truetype"),
       neue-asset-url("fonts/icomoon/icomoon.woff") format("woff"),
       neue-asset-url("fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
