// A label and a form element.
//
// .-padded - Adds extra padding above and below field group.
// .-inline - Form elements appear side-by-side.
//
// Styleguide Forms - Field Groups
.field-group {
  margin-bottom: ($base-spacing / 2);

  &.-padded {
    margin: $base-spacing 0;
  }

  &.-inline {
    .field-label {
      display: inline-block;
      width: auto;
      margin: ($base-spacing / 2) ($base-spacing /2) ($base-spacing / 2) 0;
    }

    input[type="email"], input[type="number"], input[type="password"], input[type="search"],
    input[type="tel"], input[type="text"], input[type="url"], input[type="color"],
    input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"],
    input[type="time"], input[type="week"], textarea {
      width: auto;
    }

    .option {
      display: inline-block;
    }

    .option, .button {
      + .option,  + .button {
        margin-left: ($base-spacing / 2);
      }
    }

    .button {
      font-size: $font-regular;
      padding: 0.5em 1em 0.45em;
      margin: 0 ($base-spacing / 2);
    }
  }
}


// Labels for form elements. Optional validation styles triggered by client-side validation.
//
// .-success    - Successful form validation
// .-warning    - Warning form validation (not an error, but worth double-checking).
// .-error      - Something's wrong!
//
// Styleguide Forms - Field Labels
.field-label {
  display: block;
  clear: both;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 ($base-spacing / 4);
  height: 1.5em;
  overflow: hidden;
  transition: height 0.5s;

  em {
    font-style: normal;
    color: $med-gray;
  }
}

// Validation styles
// @see: validation.js
.validation {
  position: relative;
  transition: top 0.5s;

  &.is-showing-message {
    top: -1.5em;
  }
}

.validation__message {
  &.-error {
    color: $error-color;
  }

  &.-warning, &.-success {
    color: $purple;
  }
}


// Text input fields.
//
// :focus         - Field is selected for text input
// .-error        - Error styling, used for validation issues.
//
// Styleguide Forms - Text Input Fields
input[type="email"], input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"], input[type="color"],
input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="time"], input[type="week"], textarea {
  width: 100%;
  font-family: $font-proxima-nova;
  font-size: $font-regular;
  border: 1px solid $light-gray;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: $lg-border-radius;
  background-clip: padding-box;
  padding: ($base-spacing / 2);
  margin: 0;
  transition: border 0.5s;

  // Fixes styling in Firefox/Safari; non-standard properties so not autoprefixed.
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
    border: 1px solid $blue;
    box-shadow: 0 0 3px $blue;
  }

  &.-error {
    border-color: $error-color;
  }
}


// Specific style rules for search input fields.
//
// :focus   - Field is selected for text input
// .loading - Indicates search field is loading results.
//
// Styleguide Forms - Search Fields
input[type="search"] {
  padding-left: 32px;
  background: #fff no-repeat 12px 50%;
  background-image: neue-asset-url("images/search.svg");
  background-size: 18px 18px;
  appearance: none;

  .no-svg & {
    background-image: neue-asset-url("images/fallbacks/search.png");
  }

  &.loading {
    background-image: neue-asset-url("images/spinner.svg");
  }

  .no-smil &.loading {
    background-image: neue-asset-url("images/fallbacks/spinner16.gif");
  }
}


// Multi-line textarea fields.
//
// Styleguide Forms - Text Area Fields
textarea {
  resize: vertical;
}

// Ensure text wraps to new lines when in an <input> button
input[type="submit"] {
  white-space: normal;
}


// Select boxes present a list of options on a form.
//
// .-error - Error state
//
// Styleguide Forms - Select Boxes
.select {
  // Hat tip to Mark Otto's [WTF, Forms](http://wtfforms.com)
  // for markup inspiration and browser compatibility considerations
  position: relative;
  display: inline-block;
  width: 100%;
  color: $base-font-color;

  select {
    display: inline-block;
    width: 100%;
    margin: 0;
    font-family: $base-font-family;
    font-size: $font-regular;
    padding: ($base-spacing / 2) ($base-spacing * 2) ($base-spacing / 2) ($base-spacing / 2);
    color: #555;
    background-color: #fff;
    border: 1px solid $light-gray;
    border-radius: $lg-border-radius;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    // Undo the Firefox inner focus ring
    &:focus:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    &:focus {
      outline: none;
      border: 1px solid $blue;
      box-shadow: 0 0 3px $blue;
    }

    &:active {
      background: #fff;
    }

    // Hide the arrow in IE10 and up
    &::-ms-expand {
      display: none;
    }
  }

  // Dropdown arrow
  &:after {
    @include icomoon-icon;
    content: "\e607"; // right arrow
    position: absolute;
    top: 50%;
    right: ($base-spacing / 2);
    display: inline-block;
    width: 0;
    height: 0;
    color: $med-gray;
    font-size: 32px;
    margin-top: -16px;
    transform: rotate(90deg); // rotate to down arrow
    transition: transform 0.25s;
    pointer-events: none;
  }

  &.-error select, &.error select {
    border: 1px solid $error-color;
  }

  // Media query to target Firefox only
  @-moz-document url-prefix() {
    // Firefox hack to hide the arrow
    select {
      text-indent: 0.01px;
      text-overflow: '';
      padding-right: 1rem;
    }

    // <option> elements inherit styles from <select>, so reset them.
    option {
      background-color: #fff;
    }
  }

  // Hide the arrow on IE 8 and IE 9
  .ie8 &, .ie9 & {
    select {
      z-index: 1;
      padding: ($base-spacing / 2);

      &:hover, &:focus, &:active {
        color: $dark-gray;
      }
    }

    &:after {
      content: "";
      z-index: 5;
    }

    &:before {
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      z-index: 2;
      content: "";
      display: block;
      width: 1.5rem;
    }
  }
}


// Checkboxes and radio boxes.
//
// Styleguide Forms - Option Fields
.option {
  position: relative;
  display: block;
  height: auto;
  padding-left: $base-spacing;
  margin: ($base-spacing / 4) 0;
  cursor: pointer;

  .option__indicator {
    display: none;
  }

  input {
    position: absolute;
    top: 2px;
    left: 0;
  }
}

.checked.label-click .option {
  overflow: hidden;

  // Hat tip to Mark Otto's [WTF, Forms](http://wtfforms.com)
  // for markup inspiration and Open Iconic for check and radio icons.
  //
  // https://useiconic.com/open/
  // Open Iconic released under MIT License.

  .option__indicator {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    color: $light-gray;
    background-color: #eee;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    user-select: none;
  }

  input {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1; // Put the input behind the label so it doesn't overlay text
  }

  input:active ~ .option__indicator {
    color: #fff;
    background-color: darken($light-gray, $tint);
  }

  input:checked ~ .option__indicator {
    color: #fff;
    background-color: $blue;
  }

  input:checked:active ~ .option__indicator {
    background-color: darken($blue, $tint);
  }

  &.-checkbox {
    .option__indicator {
      border-radius: $lg-border-radius;
    }

    input:checked ~ .option__indicator {
      background-image: url("#{$data-check-svg}");
    }
  }

  &.-radio {
    .option__indicator {
      border-radius: 50%;
    }

    input:checked ~ .option__indicator {
      background-image: url("#{$data-disc-svg}");
    }
  }
}

