// Default animation settings. May be overriden in specific animation classes.
%animated {
  @include animation-fill-mode(both);
  @include animation-duration(0.5s);
}


// Element fades in.
//
// Styleguide 5.1 - Fade In
.fade-in {
  @extend %animated;
  @include animation-name(fadeIn);
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


// Element fades in and up.
//
// Styleguide 5.2 - Fade In Up
.fade-in-up {
  @extend %animated;
  @include animation-name(fadeInUp);
}

@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include transform(translateY(20px));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}


// Element fades out.
//
// Styleguide 5.3 - Fade Out
.fade-out {
  @extend %animated;
  @include animation-name(fadeOut);
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


// Element fades out and down.
//
// Styleguide 5.4 - Fade Out Down
.fade-out-down {
  @extend %animated;
  @include animation-name(fadeOutDown);
}

@include keyframes(fadeOutDown) {
  0% {
    opacity: 1;
    @include transform(translateY(0));
  }

  100% {
    opacity: 0;
    @include transform(translateY(20px));
  }
}



// Move down animation
@include keyframes(moveDown) {
  0% {
    @include transform(translateY(0));
  }

  100% {
    @include transform(translateY(20px));
  }
}


// "Wiggle" animation used to pull the user's attention to an element.
//
// Styleguide 5.5 - Tada
.tada {
  @extend %animated;
  @include animation-name(tada);
}

@include keyframes(tada) {
  0% {
    transform: scale(1);
  }

  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}


// Kind of like a "womp womp".
//
// Styleguide 5.6 - Wobble
.wobble {
  @extend %animated;
  @include animation-duration(1s);
  @include animation-name(wobble);
}

@include keyframes(wobble) {
  0% {
    @include transform(translateX(0));
  }

  15% {
    @include transform(translateX(-25%) rotate(-5deg));
  }

  30% {
    @include transform(translateX(20%) rotate(3deg));
  }

  45% {
    @include transform(translateX(-15%) rotate(-3deg));
  }

  60% {
    @include transform(translateX(10%) rotate(2deg));
  }

  75% {
    @include transform(translateX(-5%) rotate(-1deg));
  }

  100% {
    @include transform(translateX(0));
  }
}


// Shake animation (similar to OS X convention for form errors).
//
// Styleguide 5.7 - Fade In
@include keyframes(shake) {
  0%, 100% {
    @include transform(translateX(0));
  }

  10%, 30%, 50%, 70%, 90% {
    @include transform(translateX(-10px));
  }

  20%, 40%, 60%, 80% {
    @include transform(translateX(10px));
  }
}

.shake {
  @extend %animated;
  @include animation-duration(1s);
  @include animation-name(shake);
}


// Simple rotation (for spinners, etc.)
//
// Styleguide 5.8 - Rotation
@include keyframes(rotation) {
  from {
    @include transform(rotate(0));
  }

  to {
    @include transform(rotate(359deg));
  }
}

.rotation {
  @extend %animated;
  @include animation-duration(1s);
  @include animation-name(rotation);
}
