// Base HTML elements

html {
  height: 100%;
  font-size: 18px;
  background: $light-gray;
}

body {
  background: #fff;
  font-family: $font-proxima-nova, $font-sans;
  font-size: $font-regular;
  font-weight: $weight-normal;
  line-height: 1.5;
  color: $copy-color;
  max-width: $max-width;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

// Various heading weights.
//
// .section-header - Stylized headers. Requires an inline span element for text underline.
//
// Styleguide 1.1 - Headings
h1, h2, h3, h4, p, small {
  margin: 1.5rem 0;
}

h1 {
  font-size: $font-largest;
  font-weight: $weight-bold;

  @include media($tablet) {
    font-size: $font-large;
  }
}

h2 {
  font-size: $font-large;
  font-weight: $weight-bold;
}

h3 {
  font-size: $font-medium;
  font-weight: $weight-sbold;
}

h4 {
  font-size: $font-regular;
  font-weight: $weight-sbold;
}

// Inline text elements.
//
// Styleguide 1.2 - Inline Elements
p {
  font-size: $font-regular;
  color: $copy-color;
}

small {
  font-size: $font-small;
}

a {
  color: $blue;
}

strong, b {
  font-weight: $weight-sbold;
}

em {
  font-style: italic;
}

mark {
  background: #fdfbbd;
}

code {
  font-family: "Menlo", "Consolas", "Courier New", serif;
  font-weight: bold;
  font-size: 0.8em;
}
