// Base HTML elements

html {
  font-size: 18px;
}

body {
  background: #fff;
  font: 18px/1.4 $font-din-regular;
}

// Various heading weights.
//
// .section-header - Stylized headers. Requires an inline span element for text underline.
//
// Styleguide 1.1 - Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-din-regular;
  font-weight: 600;

  &.section-header {
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 0 0 0.5em 0;
    margin: 0 auto 1.5em auto;
    letter-spacing: 0.1em;
    color: $dark-gray;

    span {
      line-height: 2em;
      border-bottom: 6px solid $off-white;
      padding: 0.1em 0.25em 0;
    }
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.111111111;
  margin: 0 0 1rem;
  @include respond-to(tablets) {
    font-size: 2.5rem;
  }
  @include respond-to(widescreens) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.3;
  margin: 0 0 1rem;
  @include respond-to(tablets) {
    font-size: 1.5rem;
  }
  @include respond-to(widescreens) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 500;
  margin: 1rem 0;
  @include respond-to(widescreens) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1rem;
}


// Inline text elements.
//
// Styleguide 1.2 - Inline Elements
p {
  color: $off-black;
  margin-bottom: 1rem;
}

a {
  color: $blue;
}

strong, b {
  font-weight: 600;
}

em {
  font-style: italic;
}

mark {
  background: #fdfbbd;
}

code {
  font-family: "Menlo", "Consolas", "Courier New", serif;
  font-weight: bold;
  font-size: 0.8em;
}
