// CSS for interface chrome (containers, "application-level" menus, etc.)

.wrapper {
  @include flex-width;
  position: relative;
  margin: 0 auto;
}

// Gray utility bar at the top of the site
nav.utility {
  background: $off-black;
  color: #fff;
  padding: 0.75rem 0 1rem;
  height: 1rem;

  .utility-links {
    float: right;
    list-style-type: none;
    margin: 0 1rem 0 0;

    li {
      float: left;
      color: $dark-gray;
      font-family: "din-condensed";
      text-transform: uppercase;
      margin: 0 0.5rem;

      &.search {
        margin: 0;
      }
    }
  }

  a {
    font-family: $font-proxima-nova;
    color: $light-gray;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #fff;
    }
  }
}

// only enable hover effects on non-touch devices (prevents bug where users had to double-tap to search)
// this is pulled out of the below markup because of a bug with JS snippet not finding it if nested
.no-touch .search form input[type="search"]:hover {
  background-position: 12px -21px;
}

.search form {
  float: left;
  margin-top: -5px;

  input[type="search"] {
    width: 10px;
    font-size: 0.9rem;
    border: 0;
    background: $off-black url('images/search.png') no-repeat 12px 6px;
    background-size: 18px 45px;
    cursor: pointer;
    @include transition(width 0.25s, background-color 0.25s);

    &:focus {
      width: 200px;
      cursor: text;
      background-color: #fff;
      background-position: 12px 6px !important; // to override hover styles when focused

      @include respond-to(phones) {
        margin-right: -40px;
      }
    }

    @include high-dpi {
      background-image: url('images/search_2x.png');
    }
  }
}



form.search input[type="search"]:focus .js-menu-toggle {
  display: none;
}


// Logo & primary navigation/dropdowns
.masthead-wrapper {
  background: $blue;
  width: 100%;
  padding: 12px 0 0;

  @include respond-to(phones) {
    padding: 0;
  }
}

nav.masthead {
  position: relative;
  @include flex-width;
  margin: 0 auto;

  .logo {
    position: absolute;
    top: -45px;
    left: -20px;
    z-index: 101;
    @include transition(top 0.5s, left 0.5s);
    @include respond-to(tablets_and_phones) {
      top: -55px;
      left: 10px;
    }
    @include respond-to(phones) {
      top: -45px;
    }

    img {
      width: 219px;
      height: 172px;
      @include transition(width 0.5s, height 0.5s);
      @include respond-to(tablets_and_phones) {
        width: 109px;
        height: 86px;
      }
      @include respond-to(phones) {
        width: 87px;
        height: 69px;
      }
    }
  }

  .main-menu {
    max-height: 3rem; // fixes FOUT-related issue when loading webfont.
    padding-left: 250px;
    @include transition(padding-left 0.5s);
    @include respond-to(tablets_and_phones) {
      padding-left: 135px;
    }
    @include respond-to(phones) {
      display: none;
      max-height: none;

      &.is-visible-mobile {
        display: block;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
      }
    }

    li {
      position: relative;
      display: inline;
      list-style-type: none;

      &:hover > .dropdown {
        display: block;
      }
    }

    .menu-link {
      display: inline-block;
      color: $gold;
      width: 24%;
      font-size: 1.8rem;
      font-family: $font-proxima-nova;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 4px;
      @include respond-to(tablets_and_phones) {
        font-size: 22px;
      }
      @include respond-to(phones) {
        display: block;
        width: 100%;
      }
      &:hover {
        color: #fff;
      }
      &.active {
        color: #fff;
      }
    }

    .dropdown {
      display: none;
      position: absolute;
      top: 2em;
      background: #000;
      background: rgba(0, 0, 0, 0.7);
      width: 120%;
      margin: 1px;
      left: -2em;
      padding: 0;
      z-index: 9999;
      @include box-sizing(border-box);
      @include respond-to(tablets_and_phones) {
        display: none !important;
      }

      li {
        list-style-type: none;

        a {
          display: block;
          color: #fff;
          font-family: $font-proxima-nova;
          font-size: 1.2rem;
          font-weight: 500;
          text-decoration: none;
          padding: 0.5em 2em;
          &:hover {
            color: $gold;
            background: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}

// Toggles first-level menu to appear when clicked on mobile.
.js-menu-toggle {
  display: none;
  margin-left: 100px;

  @include respond-to(phones) {
    display: inline;
  }
}

// Footer (miscellaneous links)
.footer-wrapper {
  width: 100%;
  background: $off-black;
  padding: 1em 0;
  overflow: hidden;
}

footer.main {
  @include flex-width;
  margin: 0 auto;

  h4 {
    font-family: $font-proxima-nova;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 0;

    @include respond-to(phones) {
      text-align: left;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {

    @include respond-to(phones) {
      text-align: left;
    }
  }

  a {
    color: $light-gray;
    font-family: $font-proxima-nova;
    font-size: 0.9rem;
    text-decoration: none;

    &:hover {
      color: $gold;
    }
  }

  .footer-col {
    float: left;
    width: 20%;
    padding: 1rem 0.5rem;
    @include box-sizing(border-box);

    @include respond-to(phones) {
      width: 45%;
      text-align: center;
      margin: 0 0 0 3.5%;
    }
  }
}
