// Basic layout classes, used in styleguide.
.sidebar {
  margin-top: 4rem; // keep top of sidebar inline with body text under a <h1>
  margin-bottom: 3rem;

  @include media($tablet) {
    @include span-columns(3);
    @include omega;

    nav.is-stuck {
      position: fixed;
      top: 0;
    }
  }
}

.sidebar-content {
  margin-top: 0;
  margin-bottom: 3rem;

  @include media($tablet) {
    @include shift(2);
    @include span-columns(10);
  }
}
