/** Used to indicate position on sub-pages */
nav.breadcrumbs {
  margin: 1em;
  text-align: center;

  ul {
    list-style-type: none;
  }

  li {
    display: inline;
    &:after {
      font-family: $font-din-condensed;
      content: '>';
      color: #ddd;
      padding: 0 1em;
    }
    &:last-of-type:after {
      display: none;
    }
  }

  a {
    color: #ccc;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/** Sidebar for in-page or in-section navigation. */
nav.sidebar {
  float:left;
  width:160px;
  padding: 100px 1rem;

  ul{
    margin-left:10px;
  }

  li{
    list-style-type:none;
    margin: 1em 0;

    a{
      text-decoration:none;
      border-bottom: 2px solid #eee;
      color:#666;

      &.active {
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid $purple;
      }

      &:hover{
        text-decoration:none;
        border-bottom: 2px solid $gold;
        color:#000;
      }
    }
  }
}

/** Used to preserve layout when using 'pinned' sidebar. */
.sidebar-wrapper {
  display: block;
  float: left;
  width: 250px;
  min-height: 1px; /* ensures layout doesn't collapse when child "pops out" to fixed pos. */
}