// Used to indicate position on sub-pages. This helps the user orient theirself.
//
// Styleguide 6.1
nav.breadcrumbs {
  margin: 1em;
  text-align: center;

  ul {
    list-style-type: none;
  }

  li {
    display: inline;
    &:after {
      font-family: $font-din-condensed;
      content: '>';
      color: $light-gray;
      padding: 0 1em;
    }
    &:last-of-type:after {
      display: none;
    }
  }

  a {
    color: $dark-gray;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/**  */
// Sidebar for in-page or in-section navigation. Use sparingly, multiple levels
// of navigation on a page may be confusing for the user.
//
// Styleguide 6.2
nav.sidebar {
  float:left;
  width:160px;
  padding: 100px 1rem;

  ul{
    margin-left:1em;

    li {
      list-style-type:none;
      margin: 1em 0;

      a {
        text-decoration:none;
        border-bottom: 2px solid #eee;
        color:$dark-gray;

        &.active {
          color: $off-black;
          font-weight: bold;
          border-bottom: 2px solid $light-blue;
        }

        &:hover{
          text-decoration:none;
          border-bottom: 2px solid $gold;
          color:$off-black;
        }
      }
    }
  }

  .section li {
    font-size: 0.9rem;

    a {
      border-bottom: 0;

      &:hover { border-bottom: 0; }
      &:active { border-bottom: 0; }
    }
  }
}

/** Used to preserve layout when using 'pinned' sidebar. */
.sidebar-wrapper {
  display: block;
  float: left;
  width: 250px;
  min-height: 1px; /* ensures layout doesn't collapse when child "pops out" to fixed pos. */
}