// CSS for top utility/main menus and footer

/** Gray utiltiy bar at the top of the site */
nav.utility {
	background: #333131;
	color: #fff;
	padding: 0.75rem 0 1rem;
	height: 1rem;

	.utility-links {
		float: right;
		list-style-type: none;
		margin: 0 1rem;
	}

	a {
		font-family: $font-din-condensed;
		color: #ddd;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: #fff;
		}
	}
}

/** Logo & primary navigation/dropdowns */
.masthead-wrapper {
	background: $blue;
	width: 100%;
	padding: 12px 0 0;

	@include respond-to(phones) {
		padding: 0;
	}
}

nav.masthead {
	position: relative;
	@include flex-width;
	margin: 0 auto;

	.logo {
		position: absolute;
		top: -45px;
		left: -20px;
		z-index: 101;
		@include transition(top 0.5s, left 0.5s);
		@include respond-to(tablets_and_phones) {
			left: 10px;
		}

		img {
			width: 219px;
			height: 172px;
			@include transition(width 0.5s, height 0.5s);
			@include respond-to(tablets_and_phones) {
				width: 109px;
				height: 86px;
			}
		}
	}

	.main-menu {
		max-height: 3rem; // fixes FOUT-related issue when loading webfont.
		padding-left: 250px;
		@include transition(padding-left 0.5s);
		@include respond-to(tablets_and_phones) {
			padding-left: 135px;
		}
		@include respond-to(phones) {
			display: none;

			&.is-visible-mobile {
				display: block;
			}
		}

		li {
			position: relative;
			display: inline;
			list-style-type: none;

			&:hover > .dropdown {
				display: block;
			}
		}

		.menu-link {
			display: inline-block;
			color: $gold;
			width: 24%;
			font-size: 2rem;
			font-family: $font-din-condensed;
			font-weight: 500;
			text-decoration: none;
			text-transform: uppercase;
			margin: 0;
			padding-bottom: 4px;
			@include respond-to(tablets_and_phones) {
				font-size: 22px;
			}
			@include respond-to(phones) {
				display: block;
				width: 100%;
			}
			&:hover {
				color: #fff;
			}
			&.active {
				color: #fff;
			}
		}

		.dropdown {
			display: none;
			position: absolute;
			top: 2em;
			background: #000;
			background: rgba(0,0,0, 0.7);
			width: 120%;
			margin: 1px;
			left: -2em;
			padding: 0;
			z-index: 99;
			@include box-sizing(border-box);
			@include respond-to(tablets_and_phones) {
				display: none !important;
			}

			li {
				list-style-type: none;

				a {
					display: block;
					color: #fff;
					font-family: $font-din-condensed;
					font-size: 1.2rem;
					font-weight: 500;
					text-decoration: none;
					padding: 0.5em 2em;
					border-radius: 2px;
					&:hover {
						color: $gold;
						background: rgba(0,0,0, 0.5);
					}
				}
			}
		}
	}
}

/** Toggles first-level menu to appear when clicked on mobile */
.js-menu-toggle {
	display: none;
	margin-left: 150px;

	@include respond-to(phones) {
		display: inline;
	}
}

/** Footer (miscellaneous links) */
.footer-wrapper {
	width: 100%;
	background: $dark-gray;
	margin-top: 1em;
	padding: 1em 0;
	overflow: hidden;
}

footer.main {
	@include flex-width-custom(-20px);
	margin: 0 auto;

	h4 {
		font-family: $font-din-condensed;
		color: #fff;
		font-size: 22px;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	a {
		color: #fff;
		font-family: $font-din-condensed;
		text-decoration: none;

		&:hover {
			color: $gold;
		}
	}

	.column {
		width: 20%;
		float: left;
	}
}

/** Used to indicate position on sub-pages */
nav.breadcrumbs {
	margin: 1em;
	text-align: center;

	ul {
		list-style-type: none;
	}

	li {
		display: inline;
		&:after {
			font-family: $font-din-condensed;
			content: '>';
			color: #ddd;
			padding: 0 1em;
		}
		&:last-of-type:after {
			display: none;
		}
	}

	a {
		color: #ccc;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

