// We define our own grid overlay in here. This allows us to
// nest it under a class (so it can be toggled on-demand), and
// prevent it from being included twice when helpers.css is
// imported into client app CSS.

body.show-visual-grid:before {
  content: "";
  display: inline-block;
  @include grid-column-gradient(gradient-stops($grid-columns));
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: $max-width;
  opacity: $visual-grid-opacity;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;

  @if $visual-grid-index == back {
    z-index: -1;
  }

  @else if $visual-grid-index == front {
    z-index: 9999;
  }

  @each $breakpoint in $visual-grid-breakpoints {
    @if $breakpoint != nil {
      @include media($breakpoint) {
        @include grid-column-gradient(gradient-stops($grid-columns));
      }
    }
  }
}
