// Alert banners. Should be used to notify the user of something outside of the typical application flow (for example, on form validation.)
//
// .error   - Used to display errors. Be careful not to blame the user for a mistake.
// .success - Used when something goes according to plan.
//
// Styleguide 7.1 - Alert Banners

.alert {
  position: relative;
  background: #fcf6e5;
  padding: 1em 1em 1em 3.5em;
  margin: 0.5rem;
  text-align: left;
  border-radius: $sm-border-radius;

  &:before {
    content: "\2691";
    position: absolute;
    left: 1.5em;
    color: darken(#fcf6e5, 15%);
  }

  &.error {
    background: #efd0d0;

    &:before {
      content: "\20E0";
      position: absolute;
      left: 1.5em;
      color: darken(#efd0d0, 15%);
    }
  }

  &.success {
    background: #dbfbd5;

    &:before {
      content: "\2713";
      position: absolute;
      left: 1.5em;
      color: darken(#dbfbd5, 15%);
    }
  }
}