// Alert boxes.
//
// .error   - Used to display errors. Be careful not to blame the user for a mistake.
// .success - Used when something goes according to plan.
//
// Styleguide 7.1

.alert {
  position: relative;
  background: $off-white;
  padding: 1em 1em 1em 3.5em;
  margin: 0.5rem;
  text-align: left;
  border-radius: $sm-border-radius;

  &:before {
    content: "\2691";
    position: absolute;
    left: 1.5em;
    color: darken($off-white, 10%);
  }

  &.error {
    background: #fcf6e5;

    &:before {
      content: "\2718";
      position: absolute;
      left: 1.5em;
      color: darken(#fcf6e5, 10%);
    }
  }

  &.success {
    background: #dbfbd5;

    &:before {
      content: "\2714";
      position: absolute;
      left: 1.5em;
      color: darken(#dbfbd5, 10%);
    }
  }
}