<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>About Us | DoSomething.org</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/application.css" media="screen, projection" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  
  <meta property="og:site_name" content="Do Something">
  <meta property="fb:app_id" content="105775762330">
  <meta property="og:url" content="http://www.dosomething.org/front">
  <meta property="og:image" content="http://files.dosomething.org/files/styles/thumbnail/public/garland_logo_0.png">
  <meta property="og:title" content="DoSomething.org">
  <meta property="og:description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">
  <meta property="og:type" content="non_profit">

  <meta property="description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/ie.css" type="text/css" />
    <script src="/ie/html5.min.js"></script>
  <![endif]-->
</head>
<body class="homepage">
<nav id="top" class="utility">
  <div class="flexwidth-wrapper">
    <a href="#" class="utility-link js-menu-toggle">Menu</a>
    <ul class="utility-links">
      <li class="search">
      <form action="#">
        <input name="query" type="search">
      </form>
      </li>
      <li><a class="utility-link" href="#">Help</a></li>
      <li><a class="utility-link" href="#">Sign In</a></li>
    </ul>
  </div>
</nav>

<div class="masthead-wrapper">
  <nav class="masthead">
    <a class="logo" href="http://www.dosomething.org"><img src="/images/ds-logo.png" alt="DoSomething.org"></a>
    <ul class="main-menu">
      <li>
        <a class="menu-link" href="/about">About Us</a>
        <ul class="dropdown">
          <li><a href="/about/who-we-are">Who We Are</a></li>
          <li><a href="/about/why-become-a-member">Why Become a Member?</a></li>
          <li><a href="/about/team">Staff Bios</a></li>
          <li><a href="/about/team/jobs">Jobs</a></li>
          <li><a href="/about/team/internships">Internships</a></li>
          <li><a href="/about/international">International</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/campaigns">Campaigns</a>
        <ul class="dropdown">
          <li><a href="/women">25,000 Women</a></li>
          <li><a href="http://pics.dosomething.org">Pics for Pets</a></li>
          <li><a href="/hunt">The Hunt</a></li>
          <li><a href="/iheartdad">I Heart Dad</a></li>
          <li><a href="/undocumented">Undocumented</a></li>
          <li><a href="/thumbwars">Thumb Wars</a></li>
          <li><a href="/puppy">Puppy Text</a></li>
          <li><a href="/baby">Pregnancy Text</a></li>
          <li><a href="/band">Band Together</a></li>
          <li><a href="/past-campaigns">Past Campaigns</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/causes">Causes</a>
        <ul class="dropdown">
          <li><a href="/cause/animals">Animals</a></li>
          <li><a href="/cause/bullying-and-violence">Bullying &amp; Violence</a></li>
          <li><a href="/cause/disasters">Disasters</a></li>
          <li><a href="/cause/discrimination">Discrimination</a></li>
          <li><a href="/cause/education">Education</a></li>
          <li><a href="/cause/environment">Environment</a></li>
          <li><a href="/cause/homelessness-and-poverty">Homelessness &amp; Poverty</a></li>
          <li><a href="/cause/human-rights">Human Rights</a></li>
          <li><a href="/cause/our-troops">Our Troops</a></li>
          <li><a href="/cause/physical-and-mental-health">Physical &amp; Mental Health</a></li>
          <li><a href="/cause/sex-and-relationships">Sex &amp; Relationships</a></li>
          <li><a href="/resources">All Resources</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/awesome-things">Awesome-Things</a>
        <ul class="dropdown">
          <li><a href="/scholarships">Scholarships</a></li>
          <li><a href="/petitions">Petitions</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/awards">Do Something Awards</a></li>
          <li><a href="/grants">Grants</a></li>
          <li><a href="/bootcamp">Boot Camp</a></li>
          <li><a href="/blog">Blog Center</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div role="main">
  <div class="wallpaper-wrapper" style="background-image: url('images/static/placeholder-intern2.jpg');">
    <div class="js-toggle-video-poster">
      <div class="embed-container">
        <div class="embed-poster">
          <a class="full-link video-play-link js-toggle-video-link" href="#"><span>Play Video</span></a>
          <div class="embed-content">
            <div class="content-center">
              <p><strong>We're the nation's largest organization for teens &amp; social good.</strong> Find out why our 2,215,655 members (and counting!) are doing something.</p>
            </div>
          </div>
        </div>

        <div class="js-toggle-video-container">
          &nbsp;
        </div>

        <a href="#content-top" class="scroll-indicator-link js-jump-scroll">or scroll to learn more</a>
      </div>
    </div>
  </div>

  <div id="content-top" class="wrapper js-scroll-indicator-link-killer">
    <section class="content-center section-starter">
      <p>We have 2,215,655 members (and counting!) who kick ass on causes they care about. Bullying. Animal cruelty. Homelessness. Cancer. The list goes on.</p>
      <p>We spearhead national campaigns so 13- to 25-year-olds can make an impact &mdash; without ever needing money, an adult, or a car. Over 2.4 million people took action through DoSomething.org in 2012. Why? Because apathy sucks.</p>
    </section>

    <section class="content-center">
      <h3>Why become a member?</h3>
      
      <h4 class="headline-callout"><span>Become part of a national movement for social change.</span></h4>
      <p>Volunteering in one's school or community is great, but DoSomething.org is bigger than that. Membership allows yong people to join thousands of others in creating an enormous movement for social change.</p>
      
      <h4 class="headline-callout"><span>Take action on any cause, any time.</span></h4>
      <p>Whether a campaign or a project, DoSomething.org gives young people a platform to kick ass on whatever matters to them.</p>

      <h4 class="headline-callout"><span>Be famous.</span></h4>
      <p>We love when our members tell us the amazing stuff they're doing. What we love even more? Telling others about it. We feature our members on our blog, Facebook page, Twitter, events, and other outlets.</p>

      <h4 class="headline-callout"><span>Be eligible for mad money.</span></h4>
      <p>For school scholarships. For school projects. For entrepreneurial endeavors. Makin' it rain.</p>

      <h4 class="headline-callout"><span>Access to exclusive events.</span></h4>
      <p>We host the Do Something Awards, attend movie premieres, and go to other places we'll admit are pretty cool. We shake hands with a lot of celebs, which is sometimes weird when they go in for the hug. Our members could have the chance to hug a celeb also.</p>

      <div class="callout">
        <a href="#" class="btn primary medium">Become A Member</a>
      </div>
    </section>

    <section class="content-center">
      <h3>Mind-Blowing Stats</h3>
      <p>We don't like to brag, so we'll let the numbers do it for us. Here's some facts about DoSomething.org in 2012-2013:</p>
      <ul class="about--biglist">
        <li><strong>2.4 million young people took action</strong> through our campaigns in 2012.</li>
        <li>Our <strong>2,113,197 mobile subscribers</strong> take action and text us all about it.</li>
        <li>We gave young people <strong>$240,000 in scholarships</strong> in 2012.</li>
        <li>We <strong>increased our campaigns participants by 590%</strong> from 2011 to 2012.</li>
        <li>Our members collected <strong>1,020,041 pairs of jeans</strong> for homeless youth through our <a href="#">Teens for Jeans</a> campaign.</li>
        <li>Our members recycled over <strong>1,189,761 aluminum cans</strong> through our <a href="#">50 Cans</a> campaign.</li>
      </ul>
    </section>
    
    <section class="content-center">
      <h3>More about us&hellip;</h3>
      <ul class="page-menu">
        <li>
          <a href="#">
          Jobs
          <em>work on cool things with cool people</em></a>
        </li>

        <li>
          <a href="#">
          Internships
          <em>get ready for the best summer ever</em></a>
        </li>

        <li>
          <a href="#">
          Our Staff
          <em>we're making "social good" cool</em></a>
        </li>

        <li>
          <a href="#">
          International
          <em>we're expanding around the world</em></a>
        </li>
      </ul>


      <br><br><br>
    </section>
  </div>

</div>

<div class="footer-wrapper">
  <footer class="main">
    <div class="column">
      <h4>Connect</h4>
      <ul>
        <li><a href="/help">Help Center</a></li>
        <li><a href="/tipsandtools/hotlines">Crisis Hotlines</a></li>
        <li><a href="http://www.facebook.com/dosomething">Like Us on Facebook</a></li>
        <li><a href="https://twitter.com/#!/dosomething">Follow Us on Twitter</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Show Your Love</h4>
      <ul>
        <li><a href="http://store.dosomething.org/">Wear Your Love</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/rss">RSS Feed</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Popular Stuff</h4>
      <ul>
        <li><a href="/awards">Do Something Awards</a></li>
        <li><a href="/scholarships">Scholarships</a></li>
        <li><a href="/clubs">Clubs</a></li>
        <li><a href="/grants">Grants</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Our Peeps</h4>
      <ul>
        <li><a href="//www.tmiagency.org/">TMI Agency</a></li>
        <li><a href="/about/partners">Partners</a></li>
        <li><a href="/about/team/board">Board of Directors</a></li>
        <li><a href="/yac">Youth Advisory Council</a></li>
        <li><a href="/ds-virtual">#DSVirtual</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Random Stuff</h4>
      <ul>
        <li><a href="/faqs">FAQ</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
        <li><a href="/about/stats">Mind-Blowing Stats</a></li>
        <li><a href="/our-sexy-financials-and-impact">Sexy Financials and Impact</a></li>
        <li><a href="/oldpeople">Old People</a></li>
        <li><a href="/about/privacy">Privacy Policy</a></li>
        <li><a href="/about/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
  </footer>
</div>

<script src="/jquery.min.js"></script>
<script type="text/javascript" src="/application.js"></script>
<!--[if lt IE 9]>
  <script src="/ie/rem.min.js"></script>
<![endif]-->

<script type="text/javascript">
  $(document).ready(function() {
    window.initializeScrollIndicatorVisibility();
  });
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
