<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>DS Neue Template</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <link rel="stylesheet" href="/application.css" media="screen, projection" type="text/css" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/ie.css" type="text/css" />
    <script src="/ie/html5.min.js"></script>
  <![endif]-->
</head>
<body>

<nav id="top" class="utility">
  <div class="flexwidth-wrapper">
    <a href="#" class="utility-link js-menu-toggle">Menu</a>
    <ul class="utility-links">
      <li class="search">
      <form action="#">
        <input name="query" type="search">
      </form>
      </li>
      <li><a class="utility-link" href="#">Help</a></li>
      <li><a class="utility-link" href="#">Sign In</a></li>
    </ul>
  </div>
</nav>

<div class="masthead-wrapper">
  <nav class="masthead">
    <a class="logo" href="http://www.dosomething.org"><img src="/images/ds-logo.png" alt="DoSomething.org"></a>
    <ul class="main-menu">
      <li>
        <a class="menu-link" href="/about">About Us</a>
        <ul class="dropdown">
          <li><a href="/about/who-we-are">Who We Are</a></li>
          <li><a href="/about/why-become-a-member">Why Become a Member?</a></li>
          <li><a href="/about/team">Staff Bios</a></li>
          <li><a href="/about/team/jobs">Jobs</a></li>
          <li><a href="/about/team/internships">Internships</a></li>
          <li><a href="/about/international">International</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/campaigns">Campaigns</a>
        <ul class="dropdown">
          <li><a href="/women">25,000 Women</a></li>
          <li><a href="http://pics.dosomething.org">Pics for Pets</a></li>
          <li><a href="/hunt">The Hunt</a></li>
          <li><a href="/iheartdad">I Heart Dad</a></li>
          <li><a href="/undocumented">Undocumented</a></li>
          <li><a href="/thumbwars">Thumb Wars</a></li>
          <li><a href="/puppy">Puppy Text</a></li>
          <li><a href="/baby">Pregnancy Text</a></li>
          <li><a href="/band">Band Together</a></li>
          <li><a href="/past-campaigns">Past Campaigns</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/causes">Causes</a>
        <ul class="dropdown">
          <li><a href="/cause/animals">Animals</a></li>
          <li><a href="/cause/bullying-and-violence">Bullying &amp; Violence</a></li>
          <li><a href="/cause/disasters">Disasters</a></li>
          <li><a href="/cause/discrimination">Discrimination</a></li>
          <li><a href="/cause/education">Education</a></li>
          <li><a href="/cause/environment">Environment</a></li>
          <li><a href="/cause/homelessness-and-poverty">Homelessness &amp; Poverty</a></li>
          <li><a href="/cause/human-rights">Human Rights</a></li>
          <li><a href="/cause/our-troops">Our Troops</a></li>
          <li><a href="/cause/physical-and-mental-health">Physical &amp; Mental Health</a></li>
          <li><a href="/cause/sex-and-relationships">Sex &amp; Relationships</a></li>
          <li><a href="/resources">All Resources</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/awesome-things">Awesome-Things</a>
        <ul class="dropdown">
          <li><a href="/scholarships">Scholarships</a></li>
          <li><a href="/petitions">Petitions</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/awards">Do Something Awards</a></li>
          <li><a href="/grants">Grants</a></li>
          <li><a href="/bootcamp">Boot Camp</a></li>
          <li><a href="/blog">Blog Center</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div role="main" class="wrapper">
  <div class="content-center">
    <h1>Projects</h1>
    <p>DoSomething.org spearheads national campaigns so young people can take action on things they care about. Now, it's YOUR turn.

    <p>Choose a project below and start kicking its ass.</p>
  </div>

  <div class="three-col block">
    <h3>Give A Spit</h3>
    <img src="/images/placeholders/project1.jpg" alt="Give A Spit">
    <p>Find out how your next party could save the life of someone with bone cancer.</p>
    <p><a href="#" class="btn primary medium">Do This</a></p>
    
  </div>

  <div class="three-col block">
    <h3>Bully Text</h3>
    <img src="/images/placeholders/project2.jpg" alt="Bully Text">
    <p>Everyone has the power to end bullying. Play The Bully Text with your friends to find out how.</p>
    <p><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="three-col block">
    <h3>Birthday Mail</h3>
    <img src="/images/placeholders/project3.jpg" alt="Birthday Mail">
    <p>Create an awesome birthday card for a child or teen experiencing homelessness.</p>
    <p><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="three-col block">
    <h3>25,000 Women</h3>
    <img src="/images/placeholders/project4.jpg" alt="25,000 Women">
    <p>Share what poor working women face and unlock a $25 loan for a woman in need.</p>
    <p><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="three-col block">
    <h3>Cell Phones for Survivors</h3>
    <img src="/images/placeholders/project5.jpg" alt="Cell Phones For Survivors">
    <p>Give some cell phones to some survivors. Make things suck less.</p>
    <p><a href="#" class="btn primary medium inactive">Starts Sept 12</a></p>
  </div>

  <div class="three-col block">
    <h3>Fed Up</h3>
    <img src="/images/placeholders/project6.jpg" alt="PB &amp; Jam Slam">
    <p>Everyone has the power to eat food. Some food isn't good though. Fix that.</p>
    <p><a href="#" class="btn primary medium inactive">Starts Nov 15</a></p>
  </div>

  <div class="content-center">
    <p>We run campaigns all year long. Keep checking this page or <a href="//www.dosomething.org/user/registration">become a member</a> to get email/text updates when we launch new campaigns.</p>
    <p><a href="#" class="legal">see past campaigns</a></p>
  </div>
</div>

<div class="footer-wrapper">
  <footer class="main">
    <div class="column">
      <h4>Connect</h4>
      <ul>
        <li><a href="/help">Help Center</a></li>
        <li><a href="/tipsandtools/hotlines">Crisis Hotlines</a></li>
        <li><a href="http://www.facebook.com/dosomething">Like Us on Facebook</a></li>
        <li><a href="https://twitter.com/#!/dosomething">Follow Us on Twitter</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Show Your Love</h4>
      <ul>
        <li><a href="http://store.dosomething.org/">Wear Your Love</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/rss">RSS Feed</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Popular Stuff</h4>
      <ul>
        <li><a href="/awards">Do Something Awards</a></li>
        <li><a href="/scholarships">Scholarships</a></li>
        <li><a href="/clubs">Clubs</a></li>
        <li><a href="/grants">Grants</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Our Peeps</h4>
      <ul>
        <li><a href="//www.tmiagency.org/">TMI Agency</a></li>
        <li><a href="/about/partners">Partners</a></li>
        <li><a href="/about/team/board">Board of Directors</a></li>
        <li><a href="/yac">Youth Advisory Council</a></li>
        <li><a href="/ds-virtual">#DSVirtual</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Random Stuff</h4>
      <ul>
        <li><a href="/faqs">FAQ</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
        <li><a href="/about/stats">Mind-Blowing Stats</a></li>
        <li><a href="/our-sexy-financials-and-impact">Sexy Financials and Impact</a></li>
        <li><a href="/oldpeople">Old People</a></li>
        <li><a href="/about/privacy">Privacy Policy</a></li>
        <li><a href="/about/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
  </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/application.js"></script>
<!--[if lt IE 9]>
  <script src="/ie/rem.min.js"></script>
<![endif]-->
</body>
</html>
