<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Campaigns | DoSomething.org</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <link rel="stylesheet" href="/application.css" media="screen, projection" type="text/css" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/ie.css" type="text/css" />
    <script src="/ie/html5.min.js"></script>
  <![endif]-->

  <style type="text/css">
    body {
      background: #f8f8f8;
    }

    .wrapper {
      background: #f8f8f8;
    }

    .timeline li:before {
      border: 4px solid #f8f8f8;
    }
  </style>
</head>
<body>

<nav id="top" class="utility">
  <div class="flexwidth-wrapper">
    <a href="#" class="utility-link js-menu-toggle">Menu</a>
    <ul class="utility-links">
      <li class="search">
      <form action="#">
        <input name="query" type="search">
      </form>
      </li>
      <li><a class="utility-link" href="#">Help</a></li>
      <li><a class="utility-link" href="#">Sign In</a></li>
    </ul>
  </div>
</nav>

<div class="masthead-wrapper">
  <nav class="masthead">
    <a class="logo" href="http://www.dosomething.org"><img src="/images/ds-logo.png" alt="DoSomething.org"></a>
    <ul class="main-menu">
      <li>
        <a class="menu-link" href="/about">About Us</a>
        <ul class="dropdown">
          <li><a href="/about/who-we-are">Who We Are</a></li>
          <li><a href="/about/why-become-a-member">Why Become a Member?</a></li>
          <li><a href="/about/team">Staff Bios</a></li>
          <li><a href="/about/team/jobs">Jobs</a></li>
          <li><a href="/about/team/internships">Internships</a></li>
          <li><a href="/about/international">International</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/campaigns">Campaigns</a>
        <ul class="dropdown">
          <li><a href="/women">25,000 Women</a></li>
          <li><a href="http://pics.dosomething.org">Pics for Pets</a></li>
          <li><a href="/hunt">The Hunt</a></li>
          <li><a href="/iheartdad">I Heart Dad</a></li>
          <li><a href="/undocumented">Undocumented</a></li>
          <li><a href="/thumbwars">Thumb Wars</a></li>
          <li><a href="/puppy">Puppy Text</a></li>
          <li><a href="/baby">Pregnancy Text</a></li>
          <li><a href="/band">Band Together</a></li>
          <li><a href="/past-campaigns">Past Campaigns</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/causes">Causes</a>
        <ul class="dropdown">
          <li><a href="/cause/animals">Animals</a></li>
          <li><a href="/cause/bullying-and-violence">Bullying &amp; Violence</a></li>
          <li><a href="/cause/disasters">Disasters</a></li>
          <li><a href="/cause/discrimination">Discrimination</a></li>
          <li><a href="/cause/education">Education</a></li>
          <li><a href="/cause/environment">Environment</a></li>
          <li><a href="/cause/homelessness-and-poverty">Homelessness &amp; Poverty</a></li>
          <li><a href="/cause/human-rights">Human Rights</a></li>
          <li><a href="/cause/our-troops">Our Troops</a></li>
          <li><a href="/cause/physical-and-mental-health">Physical &amp; Mental Health</a></li>
          <li><a href="/cause/sex-and-relationships">Sex &amp; Relationships</a></li>
          <li><a href="/resources">All Resources</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/awesome-things">Awesome-Things</a>
        <ul class="dropdown">
          <li><a href="/scholarships">Scholarships</a></li>
          <li><a href="/petitions">Petitions</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/awards">Do Something Awards</a></li>
          <li><a href="/grants">Grants</a></li>
          <li><a href="/bootcamp">Boot Camp</a></li>
          <li><a href="/blog">Blog Center</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div role="main" class="wrapper">
  <div class="content-center section-starter">
    <h1>Campaigns</h1>
    <p><strong>Campaigns are simple but impactful things you can do to make the world suck less.</strong> Pick a campaign below to get started. And check back for new ones coming soon.</p>
  </div>

  <div class="one-col feature" style="background-image: url('/images/placeholders/project1.jpg'); background-position: center center;">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>Give A Spit</h2>
      <p>Find out how your next party could save the life of someone with bone cancer.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="one-col feature" style="background-image: url('/images/placeholders/project2.jpg');">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>Birthday Mail</h2>
      <p>Create an awesome birthday card for a child or teen experiencing homelessness.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="one-col feature" style="background-image: url('/images/placeholders/project3.jpg');">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>Bully Text</h2>
      <p>Everyone has the power to end bullying. Play The Bully Text with your friends to find out how.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="one-col feature" style="background-image: url('/images/placeholders/project4.jpg');">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>25,000 Women</h2>
      <p>Share what poor working women face and unlock a $25 loan for a woman in need.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="one-col feature" style="background-image: url('/images/placeholders/project5.jpg');">
    <div class="description">
      <h2>Cell Phones for Survivors</h2>
      <p>Donate old cell phones to benefit survivors of domestic violence.</p>
    </div>
    <p class="action">Coming September 3rd</p>
  </div>

  <div class="content-center">
    <p class="callout">Our members have done amazing things in the past too:</p>
    

    <div class="timeline-divider">AUG</div>
    <ul class="timeline">
      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Pics For Pets</span></a>
          <div class="title full-link-delegate"><a href="#">Pics For Pets</a></div>
          <div class="description">You helped homeless pets get adopted by sharing pics.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Thumb Wars</span></a>
          <div class="title full-link-delegate"><a href="#">Thumb Wars</a></div>
          <div class="description">We sent out 80,000 thumb socks to prevent texting &amp; driving.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>I Heart Dad</span></a>
          <div class="title full-link-delegate"><a href="#">I Heart Dad</a></div>
          <div class="description">20,350 people checked their blood pressure to take the first step towards leading a healthy life.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Undocumented For A Day</span></a>
          <div class="title full-link-delegate"><a href="#">Undocumented For A Day</a></div>
          <div class="description">45,146 people took the Undocumented For A Day experience to learn about the struggles of undocumented immigrants.</div>
        </div>
      </li>
    </ul>

    <div class="timeline-divider">JUL</div>
    <ul class="timeline">
      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>The Hunt</span></a>
          <div class="title full-link-delegate"><a href="#">The Hunt</a></div>
          <div class="description">For 11 days, over 36,543 people took action on 11 causes, improving their communities 9,274 times.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Puppy Text</span></a>
          <div class="title full-link-delegate"><a href="#">Puppy Text</a></div>
          <div class="description">Puppies are cute. But not in puppy farms.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Pregnancy Text</span></a>
          <div class="title full-link-delegate"><a href="#">Pregnancy Text</a></div>
          <div class="description">You got your friends talking about teen pregnancy and over 120,000 phone babies were born.</div>
        </div>
      </li>
    </ul>

    <div class="timeline-divider">JUN</div>
    <ul class="timeline">
      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Band Together</span></a>
          <div class="title full-link-delegate"><a href="#">Band Together</a></div>
          <div class="description">You banded together to support music education and made an awesome crowd-sourced music video.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Heal Oklahoma</span></a>
          <div class="title full-link-delegate"><a href="#">Heal Oklahoma</a></div>
          <div class="description">Together, we collected art supplies for children in disaster-impacted areas of Oklahoma.</div>
        </div>
      </li>
    </ul>

    <div class="timeline-divider">MAY</div>
    <ul class="timeline">
      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Would You Rather?</span></a>
          <div class="title full-link-delegate"><a href="#">Would You Rather?</a></div>
          <div class="description">Over 50,000 played a game of Would You Rather with their friends and delivered 64,000 tips on saving money.</div>
        </div>
      </li>
    </ul>

    <p class="callout"><a href="#" class="legal expand-link">more finished projects</a></p>
  </div>
</div>

<div class="footer-wrapper">
  <footer class="main">
    <div class="column">
      <h4>Connect</h4>
      <ul>
        <li><a href="/help">Help Center</a></li>
        <li><a href="/tipsandtools/hotlines">Crisis Hotlines</a></li>
        <li><a href="http://www.facebook.com/dosomething">Like Us on Facebook</a></li>
        <li><a href="https://twitter.com/#!/dosomething">Follow Us on Twitter</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Show Your Love</h4>
      <ul>
        <li><a href="http://store.dosomething.org/">Wear Your Love</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/rss">RSS Feed</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Popular Stuff</h4>
      <ul>
        <li><a href="/awards">Do Something Awards</a></li>
        <li><a href="/scholarships">Scholarships</a></li>
        <li><a href="/clubs">Clubs</a></li>
        <li><a href="/grants">Grants</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Our Peeps</h4>
      <ul>
        <li><a href="//www.tmiagency.org/">TMI Agency</a></li>
        <li><a href="/about/partners">Partners</a></li>
        <li><a href="/about/team/board">Board of Directors</a></li>
        <li><a href="/yac">Youth Advisory Council</a></li>
        <li><a href="/ds-virtual">#DSVirtual</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Random Stuff</h4>
      <ul>
        <li><a href="/faqs">FAQ</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
        <li><a href="/about/stats">Mind-Blowing Stats</a></li>
        <li><a href="/our-sexy-financials-and-impact">Sexy Financials and Impact</a></li>
        <li><a href="/oldpeople">Old People</a></li>
        <li><a href="/about/privacy">Privacy Policy</a></li>
        <li><a href="/about/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
  </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/application.js"></script>
<!--[if lt IE 9]>
  <script src="/ie/rem.min.js"></script>
<![endif]-->
</body>
</html>
