<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Internships | DoSomething.org</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/application.css" media="screen, projection" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  
  <meta property="og:site_name" content="Do Something">
  <meta property="fb:app_id" content="105775762330">
  <meta property="og:url" content="http://www.dosomething.org/front">
  <meta property="og:image" content="http://files.dosomething.org/files/styles/thumbnail/public/garland_logo_0.png">
  <meta property="og:title" content="DoSomething.org">
  <meta property="og:description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">
  <meta property="og:type" content="non_profit">

  <meta property="description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/ie.css" type="text/css" />
    <script src="/ie/html5.min.js"></script>
  <![endif]-->
</head>
<body class="homepage">
<nav id="top" class="utility">
  <div class="page-width">
    <a href="#" class="utility-link js-menu-toggle">Menu</a>
    <ul class="utility-links">
      <li class="search">
      <form action="#">
        <input name="query" type="search">
      </form>
      </li>
      <li><a class="utility-link" href="#">Help</a></li>
      <li><a class="utility-link" href="#">Sign In</a></li>
    </ul>
  </div>
</nav>

<div class="masthead-wrapper">
  <nav class="masthead">
    <a class="logo" href="http://www.dosomething.org"><img src="/images/ds-logo.png" alt="DoSomething.org"></a>
    <ul class="main-menu">
      <li>
        <a class="menu-link" href="/about">About Us</a>
        <ul class="dropdown">
          <li><a href="/about/who-we-are">Who We Are</a></li>
          <li><a href="/about/why-become-a-member">Why Become a Member?</a></li>
          <li><a href="/about/team">Staff Bios</a></li>
          <li><a href="/about/team/jobs">Jobs</a></li>
          <li><a href="/about/team/internships">Internships</a></li>
          <li><a href="/about/international">International</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/campaigns">Campaigns</a>
        <ul class="dropdown">
          <li><a href="/women">25,000 Women</a></li>
          <li><a href="http://pics.dosomething.org">Pics for Pets</a></li>
          <li><a href="/hunt">The Hunt</a></li>
          <li><a href="/iheartdad">I Heart Dad</a></li>
          <li><a href="/undocumented">Undocumented</a></li>
          <li><a href="/thumbwars">Thumb Wars</a></li>
          <li><a href="/puppy">Puppy Text</a></li>
          <li><a href="/baby">Pregnancy Text</a></li>
          <li><a href="/band">Band Together</a></li>
          <li><a href="/past-campaigns">Past Campaigns</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/causes">Causes</a>
        <ul class="dropdown">
          <li><a href="/cause/animals">Animals</a></li>
          <li><a href="/cause/bullying-and-violence">Bullying &amp; Violence</a></li>
          <li><a href="/cause/disasters">Disasters</a></li>
          <li><a href="/cause/discrimination">Discrimination</a></li>
          <li><a href="/cause/education">Education</a></li>
          <li><a href="/cause/environment">Environment</a></li>
          <li><a href="/cause/homelessness-and-poverty">Homelessness &amp; Poverty</a></li>
          <li><a href="/cause/human-rights">Human Rights</a></li>
          <li><a href="/cause/our-troops">Our Troops</a></li>
          <li><a href="/cause/physical-and-mental-health">Physical &amp; Mental Health</a></li>
          <li><a href="/cause/sex-and-relationships">Sex &amp; Relationships</a></li>
          <li><a href="/resources">All Resources</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/awesome-things">Awesome-Things</a>
        <ul class="dropdown">
          <li><a href="/scholarships">Scholarships</a></li>
          <li><a href="/petitions">Petitions</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/awards">Do Something Awards</a></li>
          <li><a href="/grants">Grants</a></li>
          <li><a href="/bootcamp">Boot Camp</a></li>
          <li><a href="/blog">Blog Center</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div role="main">
  <div class="page-width with-copy">
    <nav class="breadcrumbs">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Internships</a></li>
      </ul>
    </nav>

    <h2>This is going to be the best summer you've ever had.</h2>
    <p class="callout"><a href="#current-openings" class="btn primary medium js-jump-scroll">View Internships</a></p>
  </div>

  <div class="full-width wallpaper internship--wallpaper" style="background-image: url('images/static/placeholder-intern1.jpg');">
    <div class="page-width with-copy js-fade-up-on-scroll">
      <h2 class="js-fade-up-on-scroll">Get experience and make an impact.</h2>
      <div class="fullwidth-wrapper internships--pics">
        <img class="bordered internships--pic internships--pic1 js-fade-up-on-scroll" src="images/static/fun.jpg" alt="">
        <img class="bordered internships--pic internships--pic2 js-fade-up-on-scroll" src="images/static/fun.jpg" alt="">
        <img class="bordered internships--pic internships--pic3 js-fade-up-on-scroll" src="images/static/fun.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="page-width">
    <section class="row section gutters">
      <div class="column span_6">
        <h4>The only coffee you'll be getting is for yourself.</h4>
        <p>You won't just be doing busywork. You'll be responsible for big, important projects. We're going to challenge you, and you're going to kick ass.</p>
      </div>

      <div class="column span_6">
        <h4>You're going places.</h4>
        <p>20% of our full-time staff were prior interns. Blow our minds and you might end up with a job.</p>
      </div>
    </div>
  </div>

  <div class="full-width wallpaper internship--wallpaper" style="background-image: url('images/static/placeholder-intern2.jpg');">
    <div class="page-width with-copy js-fade-up-on-scroll">
      <h2 class="js-fade-up-on-scroll">The summer that never sleeps.</h2>
      <div class="fullwidth-wrapper internships--pics">
        <img class="bordered internships--pic internships--pic4 js-fade-up-on-scroll" src="images/static/fun.jpg" alt="">
        <img class="bordered internships--pic internships--pic5 js-fade-up-on-scroll" src="images/static/fun.jpg" alt="">
        <img class="bordered internships--pic internships--pic6 js-fade-up-on-scroll" src="images/static/fun.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="page-width">
    <section class="row section gutters">
      <div class="column span_6">
        <h4>Intern Scavenger Hunt</h4>
        <p>We can't tell you much, but be prepared for a full-day frenzied scavenger hunt all around the city.</p>
      </div>
      
      <div class="column span_6">
        <h4>Enjoy the big city.</h4>
        <p>Don't expect to just spend the summer behind a desk. Past intern groups have went on field trips to Google, outings to the Staten Island Yankees, and more.</p>
      </div>
    </section>

    <section class="row section campaign-section internships--testimonials">
      <div class="row section">
        <div class="column span_4"><img src="images/static/jett.png" class="bordered" alt="Diane Nash"></div>
        <div class="column span_8">
          <div class="pullquote">
            I interned at DoSomething twice because it was so great. Now I work here! <cite>- Colleen W.</cite>
          </div>
        </div>
      </div>

      <div class="row section js-fade-up-on-scroll">
        <div class="column span_8">
          <div class="pullquote">
            I was amazed how awesome DoSomething.org is! I've made friends for life and I miss it so much! <cite>- Jett H.</cite>
          </div>
        </div>
        <div class="column span_4"><img src="images/static/jett.png" class="bordered" alt="Jett H"></div>
      </div>

      <div class="row section js-fade-up-on-scroll">
        <div class="column span_4"><img src="images/static/felicia.jpg" class="bordered" alt="James Zwerg"></div>
        <div class="column span_8">
          <div class="pullquote">
            DoSomething.org is fabulous and I never want to be anywhere else. The rest of my life has lost meaning. <cite>- Felicia F.</cite>
          </div>
        </div>
      </div>
    </section>

    <section class="row section with-copy">
      <h3 id="current-openings" class="callout">Summer Internship Positions</h3>
      
      <form action="#" class="callout">
        <p>We'll be posting Summer internship applications soon! Sign up below for an email notification when they're available.</p>
        <input type="text" class="medium" placeholder="email@example.com">
        <input type="submit" class="btn primary medium" value="Notify me">
      </form>
    </section>
  </div>
</div>

<div class="footer-wrapper">
  <footer class="main">
    <div class="column">
      <h4>Connect</h4>
      <ul>
        <li><a href="/help">Help Center</a></li>
        <li><a href="/tipsandtools/hotlines">Crisis Hotlines</a></li>
        <li><a href="http://www.facebook.com/dosomething">Like Us on Facebook</a></li>
        <li><a href="https://twitter.com/#!/dosomething">Follow Us on Twitter</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Show Your Love</h4>
      <ul>
        <li><a href="http://store.dosomething.org/">Wear Your Love</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/rss">RSS Feed</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Popular Stuff</h4>
      <ul>
        <li><a href="/awards">Do Something Awards</a></li>
        <li><a href="/scholarships">Scholarships</a></li>
        <li><a href="/clubs">Clubs</a></li>
        <li><a href="/grants">Grants</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Our Peeps</h4>
      <ul>
        <li><a href="//www.tmiagency.org/">TMI Agency</a></li>
        <li><a href="/about/partners">Partners</a></li>
        <li><a href="/about/team/board">Board of Directors</a></li>
        <li><a href="/yac">Youth Advisory Council</a></li>
        <li><a href="/ds-virtual">#DSVirtual</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Random Stuff</h4>
      <ul>
        <li><a href="/faqs">FAQ</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
        <li><a href="/about/stats">Mind-Blowing Stats</a></li>
        <li><a href="/our-sexy-financials-and-impact">Sexy Financials and Impact</a></li>
        <li><a href="/oldpeople">Old People</a></li>
        <li><a href="/about/privacy">Privacy Policy</a></li>
        <li><a href="/about/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
  </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/application.js"></script>
<!--[if lt IE 9]>
  <script src="/ie/rem.min.js"></script>
<![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
