<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Jobs | DoSomething.org</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/application.css" media="screen, projection" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  
  <meta property="og:site_name" content="Do Something">
  <meta property="fb:app_id" content="105775762330">
  <meta property="og:url" content="http://www.dosomething.org/front">
  <meta property="og:image" content="http://files.dosomething.org/files/styles/thumbnail/public/garland_logo_0.png">
  <meta property="og:title" content="DoSomething.org">
  <meta property="og:description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">
  <meta property="og:type" content="non_profit">

  <meta property="description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/ie.css" type="text/css" />
    <script src="/ie/html5.min.js"></script>
  <![endif]-->
</head>
<body class="homepage">
<nav id="top" class="utility">
  <div class="flexwidth-wrapper">
    <a href="#" class="utility-link js-menu-toggle">Menu</a>
    <ul class="utility-links">
      <li class="search">
      <form action="#">
        <input name="query" type="search">
      </form>
      </li>
      <li><a class="utility-link" href="#">Help</a></li>
      <li><a class="utility-link" href="#">Sign In</a></li>
    </ul>
  </div>
</nav>

<div class="masthead-wrapper">
  <nav class="masthead">
    <a class="logo" href="http://www.dosomething.org"><img src="/images/ds-logo.png" alt="DoSomething.org"></a>
    <ul class="main-menu">
      <li>
        <a class="menu-link" href="/about">About Us</a>
        <ul class="dropdown">
          <li><a href="/about/who-we-are">Who We Are</a></li>
          <li><a href="/about/why-become-a-member">Why Become a Member?</a></li>
          <li><a href="/about/team">Staff Bios</a></li>
          <li><a href="/about/team/jobs">Jobs</a></li>
          <li><a href="/about/team/internships">Internships</a></li>
          <li><a href="/about/international">International</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/campaigns">Campaigns</a>
        <ul class="dropdown">
          <li><a href="/women">25,000 Women</a></li>
          <li><a href="http://pics.dosomething.org">Pics for Pets</a></li>
          <li><a href="/hunt">The Hunt</a></li>
          <li><a href="/iheartdad">I Heart Dad</a></li>
          <li><a href="/undocumented">Undocumented</a></li>
          <li><a href="/thumbwars">Thumb Wars</a></li>
          <li><a href="/puppy">Puppy Text</a></li>
          <li><a href="/baby">Pregnancy Text</a></li>
          <li><a href="/band">Band Together</a></li>
          <li><a href="/past-campaigns">Past Campaigns</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/causes">Causes</a>
        <ul class="dropdown">
          <li><a href="/cause/animals">Animals</a></li>
          <li><a href="/cause/bullying-and-violence">Bullying &amp; Violence</a></li>
          <li><a href="/cause/disasters">Disasters</a></li>
          <li><a href="/cause/discrimination">Discrimination</a></li>
          <li><a href="/cause/education">Education</a></li>
          <li><a href="/cause/environment">Environment</a></li>
          <li><a href="/cause/homelessness-and-poverty">Homelessness &amp; Poverty</a></li>
          <li><a href="/cause/human-rights">Human Rights</a></li>
          <li><a href="/cause/our-troops">Our Troops</a></li>
          <li><a href="/cause/physical-and-mental-health">Physical &amp; Mental Health</a></li>
          <li><a href="/cause/sex-and-relationships">Sex &amp; Relationships</a></li>
          <li><a href="/resources">All Resources</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/awesome-things">Awesome-Things</a>
        <ul class="dropdown">
          <li><a href="/scholarships">Scholarships</a></li>
          <li><a href="/petitions">Petitions</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/awards">Do Something Awards</a></li>
          <li><a href="/grants">Grants</a></li>
          <li><a href="/bootcamp">Boot Camp</a></li>
          <li><a href="/blog">Blog Center</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div role="main">
  <div class="wrapper callout">
    <nav class="breadcrumbs">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Jobs</a></li>
      </ul>
    </nav>
    <section class="content-center">
      <h2>We're making "social good" cool. Come do something with us.</h2>
      <p class="callout"><a href="#current-openings" class="btn primary medium js-jump-scroll">View Current Openings</a></p>
    </section>
  </div>

  <div class="wallpaper-wrapper" style="background-image: url('images/static/office-entryway.jpg');">
    <div class="wallpaper-content-center js-fade-up-on-scroll">
      <div class="content-center">
        <h2>A workplace you'll want to spend time in.</h2>
        <p>We have a beautiful open floorplan office in the Flatiron District where we work together collaboratively. No cubicles.</p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <section class="full-width section-starter">
        <div class="two-col">
          <h4>We don't have offices.</h4>
          <p>Every few months we put everyone's names into a hat (including the CEO!) and as names are called, each person rushes to claim a new desk around the office.</p>
        </div>

        <div class="two-col">
          <h4>Thinking Thursdays</h4>
          <p>If this all sounds hectic, we have <strong>Thinking Thursdays</strong>, where the entire office is silent so we can focus on getting work done without interruptions.</p>
        </div>
      </div>
  </div>

  <div class="wallpaper-wrapper" style="background-image: url('images/static/wireframes.jpg');">
    <div class="wallpaper-content-center js-fade-up-on-scroll">
      <div class="content-center">
        <h2>We're not your mom's not-for-profit.</h2>
        <p>We're a data-driven organization with a world-class engineering team. If you're interested in crunching massive data or building solutions that scale, you'll have fun here.</p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <section class="full-width section-starter">
        <div class="two-col">
          <h4>We learn from failure.</h4>
          <p>We don't fire because of failures. We build things that may fail on the chance that they might be amazing. We hold an annual <strong>Failfest</strong> where we highlight our mistakes and what we learned from them. And yes, you have to wear a pink boa while you present.</p>
        </div>
        
        <div class="two-col">
          <h4>We're good sharers.</h4>
          <p>We write about our engineering and design process on our <a href="http://tech.dosomething.org">tech blog</a>, and we maintain <a href="#">open-source code</a> for the community. We also host a monthly "Tech For Good" meetup in our office.</p>
        </div>
      </div>
  </div>

  <div class="wallpaper-wrapper"  style="background-image: url('images/static/staff-retreat.jpg');">
    <div class="wallpaper-content-center js-fade-up-on-scroll">
      <div class="content-center">
        <h2>We invest in our best asset &mdash; you.</h2>
        <p>We hire smart, talent people who we trust to start kicking ass on their first day, and still be taking names two years later.</p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <section class="full-width section-starter">
        <div class="two-col">
          <h4>Get outside the box.</h4>
          <p>For one week each year, we take the entire staff off-site on <strong>staff retreat</strong>. We spawn innovative new ideas for the organization, take a step back and evaluate where we are and where we're going, and bond with each another with fun games &amp; activities.</p>
        </div>

        <div class="two-col">
          <h4>Take a break.</h4>
          <p>After two years at DoSomething, we let you do something amazing &mdash; take a break. We give all employees a <strong>four-week sabbatical</strong> to go volunteer somewhere else, and bring back new ideas and perspectives to us when they're done.</p>
        </div>
        
        <p class="callout"><br><br><br>Check out our <a href="/staff.html">staff</a> page to learn more about our employees and culture.</p>
      </div>
  </div>

  <div class="wrapper">
    <section class="full-width">
      <h3 class="callout">Employee Perks</h3>
      <div class="three-col">
        <img src="images/static/benefit-salary.png" alt="">
        <h4>Competetive salary</h4>
        <p>We know money isn't what drives you, but you need to pay the bills. All of our employees are paid a fair salary (on a not-for-profit scale).</p>
      </div>
      <div class="three-col">
        <img src="images/static/benefit-health.png" alt="">
        <h4>Great benefits</h4>
        <p>We offer comprehensive medical, dental, vision, life insurance, and 403(b) savings plans. </p>
      </div>
      <div class="three-col">
        <img src="images/static/benefit-vacation.png" alt="">
        <h4>3 weeks paid vacation</h4>
        <p>Work may be play, but sometimes you need a break. We get that and give all employees 3 weeks paid vacation plus major holidays.</p>
      </div>
    </section>
    <section class="full-width">
      <div class="three-col">
        <img src="images/static/benefit-gym.png" alt="">
        <h4>Discounted Gym membership</h4>
        <p>We offer a discounted membership at a top-notch gym facility. And if you're not that hardcore, we have our own gym area in the office.</p>
      </div>
      <div class="three-col">
        <img src="images/static/benefit-summer.png" alt="">
        <h4>Summer Fridays</h4>
        <p>We take half-days every Friday during the summer so you can enjoy the great weather.</p>
      </div>
      <div class="three-col">
        <img src="images/static/benefit-nyc.png" alt="">
        <h4>Made in NYC.</h4>
        <p>We're located in the Flatiron neighborhood in New York City. Be a part of one of the world's greatest cultural centers.</p>
      </div>
    </section>
    <div class="jobs--more-perks">
      <section class="full-width">
        <div class="callout jobs--more-perks-header"><h4>&hellip;not convinced yet? Here's more reasons you'll love working here:</h4></div>
        <div class="three-col">
          <h4>Arcade machine in the lunch room</h4>
          <p>With 60 classic arcade games &amp; a competetive high-score ladder.</p>
        </div>
        <div class="three-col">
          <h4>Summer Kickball League</h4>
          <p>Our interns &amp; staff demolish* other non-profit organizations in kickball.</p>
          <p class="legal">*actual results may vary.</p>
        </div>
        <div class="three-col">
          <h4>Summer Spirit Days</h4>
          <p>Every Summer Friday, you're challenged to come into work in a themed outfit.</p>
        </div>
      </section>
      <section class="full-width">
        <div class="three-col">
          <h4>Standing Desks</h4>
          <p>We have communal standing desks located around the office.</p>
        </div>
        <div class="three-col">
          <h4>Summer Bake-Offs</h4>
          <p>Needless to say, we eat a lot of brownies during the summer.</p>
        </div>
        <div class="three-col">
          <h4>The Penguin</h4>
          <p>Every Wednesday, we award The Penguin to a staff member who kicked ass the past week.</p>
        </div>
      </section>
      <section class="full-width">
        <div class="three-col">
          <h4>Pre-tax Commuter Plans</h4>
          <p>Save money on your MetroCard or Metro-North train tickets.</p>
        </div>
        <div class="three-col">
          <h4>No work on your birthday</h4>
          <p>Nobody wants to spend their birthday in the office (even one as awesome as ours), so we give you a free vacation day on your birthday.</p>
        </div>
        <div class="three-col">
          <h4>Bring Your Dog To Work</h4>
          <p>Bring man's best friend to work! We have a calendar to schedule dog visits.</p>
        </div>
      </section>
    </div>
  </div>  

  <div class="wrapper">
    <section class="full-width">
      <div class="content-center">
      <h3 id="current-openings" class="callout">Current Job Openings</h3>
        <script type="text/javascript" src="http://app.theresumator.com/widgets/basic/create/dosomething" charset="utf-8"></script>
      </div>

      <p class="callout content-center narrow">Don't see the job you're looking for, but still interested in working with us? Send an email to <a href="mailto:jobs@dosomething.org">jobs@dosomething.org</a> and tell us why!</p>
    </section>
  </div>
</div>

<div class="footer-wrapper">
  <footer class="main">
    <div class="column">
      <h4>Connect</h4>
      <ul>
        <li><a href="/help">Help Center</a></li>
        <li><a href="/tipsandtools/hotlines">Crisis Hotlines</a></li>
        <li><a href="http://www.facebook.com/dosomething">Like Us on Facebook</a></li>
        <li><a href="https://twitter.com/#!/dosomething">Follow Us on Twitter</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Show Your Love</h4>
      <ul>
        <li><a href="http://store.dosomething.org/">Wear Your Love</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/rss">RSS Feed</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Popular Stuff</h4>
      <ul>
        <li><a href="/awards">Do Something Awards</a></li>
        <li><a href="/scholarships">Scholarships</a></li>
        <li><a href="/clubs">Clubs</a></li>
        <li><a href="/grants">Grants</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Our Peeps</h4>
      <ul>
        <li><a href="//www.tmiagency.org/">TMI Agency</a></li>
        <li><a href="/about/partners">Partners</a></li>
        <li><a href="/about/team/board">Board of Directors</a></li>
        <li><a href="/yac">Youth Advisory Council</a></li>
        <li><a href="/ds-virtual">#DSVirtual</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Random Stuff</h4>
      <ul>
        <li><a href="/faqs">FAQ</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
        <li><a href="/about/stats">Mind-Blowing Stats</a></li>
        <li><a href="/our-sexy-financials-and-impact">Sexy Financials and Impact</a></li>
        <li><a href="/oldpeople">Old People</a></li>
        <li><a href="/about/privacy">Privacy Policy</a></li>
        <li><a href="/about/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
  </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/application.js"></script>
<!--[if lt IE 9]>
  <script src="/ie/rem.min.js"></script>
<![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
