<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Jobs | DoSomething.org</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/application.css" media="screen, projection" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  
  <meta property="og:site_name" content="Do Something">
  <meta property="fb:app_id" content="105775762330">
  <meta property="og:url" content="http://www.dosomething.org/front">
  <meta property="og:image" content="http://files.dosomething.org/files/styles/thumbnail/public/garland_logo_0.png">
  <meta property="og:title" content="DoSomething.org">
  <meta property="og:description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">
  <meta property="og:type" content="non_profit">

  <meta property="description" content="DoSomething.org is the country's largest organization for young people and social change with 2,000,000 members and counting.">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/ie.css" type="text/css" />
    <script src="/ie/html5.min.js"></script>
  <![endif]-->
</head>
<body class="homepage">
<nav id="top" class="utility">
  <div class="flexwidth-wrapper">
    <a href="#" class="utility-link js-menu-toggle">Menu</a>
    <ul class="utility-links">
      <li class="search">
      <form action="#">
        <input name="query" type="search">
      </form>
      </li>
      <li><a class="utility-link" href="#">Help</a></li>
      <li><a class="utility-link" href="#">Sign In</a></li>
    </ul>
  </div>
</nav>

<div class="masthead-wrapper">
  <nav class="masthead">
    <a class="logo" href="http://www.dosomething.org"><img src="/images/ds-logo.png" alt="DoSomething.org"></a>
    <ul class="main-menu">
      <li>
        <a class="menu-link" href="/about">About Us</a>
        <ul class="dropdown">
          <li><a href="/about/who-we-are">Who We Are</a></li>
          <li><a href="/about/why-become-a-member">Why Become a Member?</a></li>
          <li><a href="/about/team">Staff Bios</a></li>
          <li><a href="/about/team/jobs">Jobs</a></li>
          <li><a href="/about/team/internships">Internships</a></li>
          <li><a href="/about/international">International</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/campaigns">Campaigns</a>
        <ul class="dropdown">
          <li><a href="/women">25,000 Women</a></li>
          <li><a href="http://pics.dosomething.org">Pics for Pets</a></li>
          <li><a href="/hunt">The Hunt</a></li>
          <li><a href="/iheartdad">I Heart Dad</a></li>
          <li><a href="/undocumented">Undocumented</a></li>
          <li><a href="/thumbwars">Thumb Wars</a></li>
          <li><a href="/puppy">Puppy Text</a></li>
          <li><a href="/baby">Pregnancy Text</a></li>
          <li><a href="/band">Band Together</a></li>
          <li><a href="/past-campaigns">Past Campaigns</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/causes">Causes</a>
        <ul class="dropdown">
          <li><a href="/cause/animals">Animals</a></li>
          <li><a href="/cause/bullying-and-violence">Bullying &amp; Violence</a></li>
          <li><a href="/cause/disasters">Disasters</a></li>
          <li><a href="/cause/discrimination">Discrimination</a></li>
          <li><a href="/cause/education">Education</a></li>
          <li><a href="/cause/environment">Environment</a></li>
          <li><a href="/cause/homelessness-and-poverty">Homelessness &amp; Poverty</a></li>
          <li><a href="/cause/human-rights">Human Rights</a></li>
          <li><a href="/cause/our-troops">Our Troops</a></li>
          <li><a href="/cause/physical-and-mental-health">Physical &amp; Mental Health</a></li>
          <li><a href="/cause/sex-and-relationships">Sex &amp; Relationships</a></li>
          <li><a href="/resources">All Resources</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="/awesome-things">Awesome-Things</a>
        <ul class="dropdown">
          <li><a href="/scholarships">Scholarships</a></li>
          <li><a href="/petitions">Petitions</a></li>
          <li><a href="/quizzes">Quizzes</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/awards">Do Something Awards</a></li>
          <li><a href="/grants">Grants</a></li>
          <li><a href="/bootcamp">Boot Camp</a></li>
          <li><a href="/blog">Blog Center</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div role="main">
  <div class="wrapper">
    <nav class="breadcrumbs">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Staff</a></li>
      </ul>
    </nav>
    <section class="content-center">
      <h2>Meet your new best friends.</h2>
      <p>We work together in our office in Flatiron, NYC. Our office has scooters, superhero-themed conference rooms, and an arcade machine in the lunchroom. We think that work is play, and we love what we do.</p>
    </section>
  </div>
  <br><br>
  <div class="wallpaper-wrapper" style="background-image: url('images/static/placeholder-intern3.jpg');">
    <div class="wallpaper-content-center js-fade-up-on-scroll">
      <div class="content-center">

      </div>
    </div>
  </div>

  <div class="wrapper">
  <br><br>
    <section class="fullwidth-wrapper" style="overflow: hidden;">
      <h3>Meet the Team</h3>

      <div class="two-col media team--person">
        <a href="#" class="img">
          <img src="/images/static/staff/1.jpg" width="100" height="100"  alt="Aaron" />
        </a>
        <div class="media-content">
          <strong>Aaron Schachter</strong><br>
          Developer<br>
          <em>writes that cray computer code</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/2.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Alyssa Ruderman</strong><br>
          Campaigns Specialist &mdash; Sex &amp; Relationships<br>
          <em>likes scrambled eggs w/ ketchup</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/3.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>April Wright</strong><br>
          Director &mdash; International Programs<br>
          <em>would be played by Ellen Page in a movie</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/4.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Aria Finger</strong><br>
          COO<br>
          <em>professional badass</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/5.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Barry Clark</strong><br>
          Director &mdash; Technical Product<br>
          <em>Scottish</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/6.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Baylee Greenberg</strong><br>
          Business Development Associate<br>
          <em>brings the money in</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/7.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Ben Kassoy</strong><br>
          Content Editor<br>
          <em>his words do the talking</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/8.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Brad Williams</strong><br>
          Video Producer<br>
          <em>makes the videos!</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/9.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Calvin Stowell</strong><br>
          Director &mdash; Digital Content<br>
          <em>maintains our social media, often while giggling</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/10.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Chaquana Lyons</strong><br>
          Finance &amp; HR Manager<br>
          <em>keeps the lights on</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/11.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Chloe Lee</strong><br>
          Marketing Associate<br>
          <em>likes OREOs with Sriracha</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/12.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Colleen Wormsley</strong><br>
          Marketing Associate<br>
          <em>makes sure everyone knows how awesome we are</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/13.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Crystal Ruth Bell</strong><br>
          User Experience Researcher<br>
          <em>is carefully studying you</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/14.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Darren Mastropaolo</strong><br>
          Business Development Manager<br>
          <em>likes his eggs hatched and cute</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/15.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Darren "Dee" Lee</strong><br>
          Back-End Engineer<br>
          <em>a Drupal dude doing his best to make things "go"</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/15.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Dave Deluca</strong><br>
          Head of Campaigns<br>
          <em>responsible for bouncing an orange rubber ball</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/16.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>David Furnes</strong> <a class="twitter-link" href="#">@dfurnes</a><br>
          Developer<br>
          <em>Viking bezerker</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/17.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Desmond Morris</strong><br>
          Director of Engineering<br>
          <em>famed archaeologist</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/18.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Ellie Zeitlin</strong><br>
          Member Engagement Manager<br>
          <em>in charge of all things cool</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/19.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Farah Sheikh</strong><br>
          Campaigns Associate - Education<br>
          <em>fed up with this</em>
        </div>
      </div>

      <div class="two-col media team--person">
        <div class="img">
          <img src="/images/static/staff/20.jpg" width="100" height="100" alt="Alyssa" />
        </div>
        <div class="media-content">
          <strong>Jonathan Uy</strong><br>
          Mobile Developer<br>
          <em>secretly an android</em>
        </div>
      </div>

    </section>

    <section class="fullwidth-wrapper">
      <h3>Our Office-mates</h3>
      <p>We're also incubating two amazing startups in our office:</p>
      <div class="two-col block">
        <p>Crisis Text Line</p>  
      </div>
      <div class="two-col block">
        <p>TMI Agency</p>  
      </div>
      <p>&hellip;</p>
    </section>
  </div>
  


  <div class="wrapper">
    <section class="full-width">
      <p class="callout content-center narrow">Interested in working with us? Check out our <a href="/jobs.html">jobs</a> page!</p>
    </section>
  </div>
</div>

<div class="footer-wrapper">
  <footer class="main">
    <div class="column">
      <h4>Connect</h4>
      <ul>
        <li><a href="/help">Help Center</a></li>
        <li><a href="/tipsandtools/hotlines">Crisis Hotlines</a></li>
        <li><a href="http://www.facebook.com/dosomething">Like Us on Facebook</a></li>
        <li><a href="https://twitter.com/#!/dosomething">Follow Us on Twitter</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Show Your Love</h4>
      <ul>
        <li><a href="http://store.dosomething.org/">Wear Your Love</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/rss">RSS Feed</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Popular Stuff</h4>
      <ul>
        <li><a href="/awards">Do Something Awards</a></li>
        <li><a href="/scholarships">Scholarships</a></li>
        <li><a href="/clubs">Clubs</a></li>
        <li><a href="/grants">Grants</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Our Peeps</h4>
      <ul>
        <li><a href="//www.tmiagency.org/">TMI Agency</a></li>
        <li><a href="/about/partners">Partners</a></li>
        <li><a href="/about/team/board">Board of Directors</a></li>
        <li><a href="/yac">Youth Advisory Council</a></li>
        <li><a href="/ds-virtual">#DSVirtual</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Random Stuff</h4>
      <ul>
        <li><a href="/faqs">FAQ</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
        <li><a href="/about/stats">Mind-Blowing Stats</a></li>
        <li><a href="/our-sexy-financials-and-impact">Sexy Financials and Impact</a></li>
        <li><a href="/oldpeople">Old People</a></li>
        <li><a href="/about/privacy">Privacy Policy</a></li>
        <li><a href="/about/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
  </footer>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/application.js"></script>
<!--[if lt IE 9]>
  <script src="/ie/rem.min.js"></script>
<![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
