<% content_for :title do %>
  Not Found | DoSomething.org
<% end %>


<div class="error-404">
  <div class="flexwidth-wrapper">
    <div class="content-center narrow">
      <h2>Page not found.</h2>
      <p><strong>This is awkward. We're having trouble finding this page.</strong> This is totally our fault, and we've already notified someone to make sure it gets fixed. Sorry!</p>
      <!-- <p><strong>This is awkward. We're having trouble finding this page.</strong> It's probably our fault, so we made a note of the problem and will get it fixed as soon as we can.</p> -->
      <!-- <p><strong>This is awkward. We're having trouble finding this page.</strong> If you typed in the address yourself, double-check to make sure you didn't make any typos!</p> -->

      <p class="legal">Technical Details: 404 Page Not Found</p>
    </div>
  </div>
</div>

<div role="main" class="wrapper">
  <h3 class="section-header"><span>You might be looking for&hellip;</span></h3>
  <div class="one-col feature" style="background-image: url('/images/placeholders/project1.jpg'); background-position: center center;">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>Give A Spit</h2>
      <p>Find out how your next party could save the life of someone with bone cancer.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="one-col feature" style="background-image: url('/images/placeholders/project2.jpg');">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>Birthday Mail</h2>
      <p>Create an awesome birthday card for a child or teen experiencing homelessness.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="one-col feature" style="background-image: url('/images/placeholders/project3.jpg');">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>Bully Text</h2>
      <p>Everyone has the power to end bullying. Play The Bully Text with your friends to find out how.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="one-col feature" style="background-image: url('/images/placeholders/project4.jpg');">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>25,000 Women</h2>
      <p>Share what poor working women face and unlock a $25 loan for a woman in need.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="callout">
    <h3 class="section-header"><span>Still can't find it?</span></h3>
    <p>Text <strong>QUESTION</strong> to 38383 or send us an email at <a href="mailto:help@dosomething.org">help@dosomething.org</a>.</p>
  </div>
</div>