<div class="full-width wallpaper action--header" style="background-image: url('/images/placeholders/action1.jpg'); background-position: center center;">
  <h2>Fight texting &amp; driving.</h2>
</div>

<div class="page-width with-copy">
  <div class="messages success">You're signed up for <strong>Thumb Wars</strong>!</div>

  <div class="row section action--stage action--stage-active">
    <h3>Step 1: Learn</h3>
    <p class="summary">Get the facts about texting and driving&hellip;</p>
    <div class="action--description">
      <p>When you text and drive, your eyes can go off the road for the length of a football field. But your thumbs, and our free thumb socks, can save the day.</p>
      <ul class="action--faq">
        <li><a href="#faq1" class="js-trigger-modal">More stats on distracted driving.</a></li>
      </ul>

      <div class="action--nextstage callout">
        <a href="#" class="btn primary medium js-action-stage-complete">Next Step</a>
      </div>
    </div>
  </div>

  <div class="row section action--stage action--stage-inactive">
    <h3>Step 2: Plan</h3>
    <p class="summary">Enter your address to get two free pairs of thumb socks&hellip;</p>
    <div class="action--description">
      <p>Enter your address below to get two free pairs of thumb socks. Then, pick a friend or family member who texts and drives and share the socks with them in a surprising way. The more creative and fun, the more effective it’ll be.</p>

      <p class="action--result">
        You chose to send your socks to <strong class="js-action-result">The Evil Lair</strong>. (<a class="js-change-location" href="#">change</a>)
      </p>

      <ul class="action--faq">
        <li><a href="#faq2" class="js-trigger-modal">Tips on how to share the socks</a></li>
        <li><a href="#faq3" class="js-trigger-modal">More questions? Read our FAQ.</a></li>
      </ul>

      <div class="action--widget">
        <form action="#" class="callout js-location-finder-form">
          <div class="no-js-hide-feature">
            <p>Choose shipping address:</p>
            <input type="text" maxlength="5" class="short js-location-finder-input" placeholder="zip code">
            <a class="btn primary medium js-location-finder-button">Search</a>
          </div>

          <div class="alert error no-js-feature-warning">The Location Finder requires JavaScript to be enabled in your browser.</div>
        </form>

        <div class="content-center narrow js-location-finder-results no-js-hide-feature">
          <p>Nearest drop-off points for zipcode <span class="js-location-finder-results-zip"></span> (<a href='#' class='js-location-finder-reset'>change</a>):</p>

          <ul class="location-list">

          </ul>
        </div>

        <form action="#">
          <input class="js-location-finder-delegate" type="hidden">
        </form>
      </div>

      <div class="action--nextstage is-hidden-until-step-complete callout">
        <a href="#" class="btn primary medium js-action-stage-complete">Next Step</a>
      </div>
    </div>
  </div>

  <div class="row section action--stage action--stage-inactive">
    <h3>Step 3: Do</h3>
    <p class="summary">Take a pic of you and your friend with the socks&hellip;</p>
    <div class="action--description">
      <p>Take a pic of you and your friend with the socks. Make it crazy - we’ll be sharing our favorite pics on our Facebook page and Instagram (#thumbwars.)</p>  

      <div class="action--nextstage callout">
        <a href="#" class="btn primary medium js-action-stage-complete">Next Step</a>
      </div>
    </div>
  </div>

  <div class="row section action--stage action--stage-inactive">
    <h3>Step 4: Tell Us</h3>
    <p class="summary">Upload the pic of you and your friend&hellip;</p>
    <div class="action--description">
      <p>Upload the pic of you and your friend. You’ll be entered to win a $5K scholarship!</p>

      <div class="action--nextstage callout">
        <a href="#" class="btn primary medium js-action-stage-complete">Tell Us</a>
      </div>
    </div>
  </div>
</div>

<div id="faq1" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn secondary medium">&times;</a>
    <h2>More stats on distracted driving:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn primary medium">Got it!</a></p>
  </div>
</div>

<div id="faq2" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn secondary medium">&times;</a>
    <h2>Tips on how to share the socks:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn primary medium">Got it!</a></p>
  </div>
</div>

<div id="faq3" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn secondary medium">&times;</a>
    <h2>Frequently Asked Questions:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn primary medium">Got it!</a></p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    // lets hide this guy once the user has had a chance to see it
    $(".messages").delay(3000).slideUp();

    var locFinder = window.DSLocationFinder();
    locFinder.initialize({
      mode: "select",
      endpoint: "/example-data.json?q="
    });

    $(".js-action-stage-complete").click(function(e) {
      e.preventDefault();
      $(".messages").slideUp();

      console.log("FEEEEEE");
      var thisStep = $(this).closest(".action--stage");

      thisStep.find(".action--widget").slideUp();

      thisStep.removeClass("action--stage-active");
      thisStep.addClass("action--stage-inactive");

      thisStep.next(".action--stage").removeClass("action--stage-inactive");

      thisStep.find(".is-hidden-until-step-complete").hide();
    });

    $(".js-change-location").click(function() {
      console.log("ROLLIN' IT BACK");
      $(".action--stage").addClass("action--stage-inactive");
      $((".action--stage")).removeClass("action--stage-active");

      var thisStep = $(this).closest(".action--stage");
      console.log(thisStep);

      //thisStep.css("background", "red");
      thisStep.removeClass("action--stage-complete");
      thisStep.removeClass("action--stage-inactive");
      thisStep.addClass("action--stage-active");
      thisStep.find(".action--widget").slideDown();

    });

    $(".is-hidden-until-step-complete").hide();

    $(".js-location-finder-delegate").change(function() {
      console.log("YOU PICKED IT");
      var thisStep = $(this).closest(".action--stage");

      $(".js-action-result").text($(this).attr("data-name"));


      $(".is-hidden-until-step-complete").show();
    });

    $(".action--stage-inactive").click(function() {
      var thisStep = $(this);

      $(".action--stage").removeClass("action--stage-active");
      $(".action--stage").addClass("action--stage-inactive");

      thisStep.removeClass("action--stage-inactive");
      thisStep.addClass("action--stage-active");

      $(".action--stage-inactive").click(function() {});
    });

  });
</script>
