<div class="messages">
  <p>Thanks for signing up for <strong>Lorem dat Ipsum</strong>. You're awesome. Now start learning about the campaign!</p>
  <p><a href="#">Unsign me up for the campaign</a></p>
</div>

<div class="full-width">
  <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />

  <section class="row action--sponsors">
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" />
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" />
  </section>
</div>

<div class="page-width padded">

  <section class="row callout action--cta">
    <h2>Campaign Call to Action</h2>
    <p><a href="#">Scholarhips and Prizing</a></p>
  </section>

  <div id="action--step-nav-wrapper" class="action--step-nav">
    <nav id="action--step-nav" class="nav">
      <ul>
        <li class="column always_span_3"><a href="#learn" class="step-button">learn</a></li>
        <li class="column always_span_3"><a href="#plan" class="step-nav">plan</a></li>
        <li class="column always_span_3"><a href="#do" class="step-nav">do it</a></li>
        <li class="column always_span_3"><a href="#tell" class="step-nav">tell us</a></li>
      </ul>
    </nav>
  </div>

  <section class="row action--step">
    <h3 id="learn">Step 1: Learn</h3>
    <div class="action--description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <ul class="action--faq">
        <li><a href="#modal--faq1" class="js-trigger-modal">Learn more</a></li>
        <li><a href="#modal--faq3" class="js-trigger-modal">FAQs</a></li>
      </ul>

      <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />
    </div>
  </section>

  <section class="row action--step">
    <h3 id="plan">Step 2: Plan</h3>
    <div class="action--description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>

      <p class="action--result">
        You chose to send your lorems to <strong class="js-action-result">The Evil Lair</strong>. (<a class="js-change-location" href="#">change</a>)
      </p>

      <ul class="action--faq">
        <li><a href="#modal--faq2" class="js-trigger-modal">Check out the Action Guide</a></li>
      </ul>

      <div class="action--widget">
        <form action="#" class="callout js-location-finder-form">
          <div class="no-js-hide-feature">
            <p>Choose shipping address:</p>
            <input type="text" maxlength="5" class="short js-location-finder-input" placeholder="zip code">
            <a class="btn secondary medium callout js-location-finder-button">Search</a>
          </div>

          <div class="alert error no-js-feature-warning">The Location Finder requires JavaScript to be enabled in your browser.</div>
        </form>

        <div class="content-center narrow js-location-finder-results no-js-hide-feature">
          <p>Nearest drop-off points for zipcode <span class="js-location-finder-results-zip"></span> (<a href='#' class='js-location-finder-reset'>change</a>):</p>

          <ul class="location-list">

          </ul>
        </div>

        <form action="#">
          <input class="js-location-finder-delegate" type="hidden">
        </form>
      </div>

    </div>
  </section>

  <section class="row action--step">
    <h3 id="do">Step 3: Do It</h3>
    <div class="action--description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
    </div>
  </section>

  <section class="row section campaign-section">
    <h3 class="section-header"><span>Your Impact</span></h3>

    <div>
      <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />
    </div>

    <ul class="gallery-thumbs">
      <li class="column always_span_4">
        <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 90px" />
      </li>
      <li class="column always_span_4">
        <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 90px" />
      </li>
      <li class="column always_span_4">
        <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 90px" />
      </li>
    </ul>
  </section>

  <section class="row action--step">
    <h3 id="tell">Step 4: Tell Us</h3>
    <div class="action--description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <div class="action--prizing-preview">
        <h3>Prizing</h3>
        <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />

        <p><strong>Grand 1</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

        <p><strong>Prize 1, Prize 2, Prize 3</strong></p>
        <p>Prize ipsum incentivization lorem?</p>

        <p><a href="#modal--prizing" class="js-trigger-modal">View All Prizes</a></p>
      </div>

      <div class="action--stepper callout">
        <a href="/example/complete?new_chrome=1" class="btn secondary large callout js-action-step-complete">Tell Us About It</a>
      </div>
    </div>
  </section>

  <section class="row callout action--help">
    <p>Still have questions? E-mail <a href="mailto:#">name@dosomething.org</a>!</p>
  </section>
</div>

<aside id="modal--faq1" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn tertiary medium callout">&times;</a>
    <h2>More stats on placeholder content:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn tertiary medium callout">Got it!</a></p>
  </div>
</aside>

<aside id="modal--faq2" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn tertiary medium callout">&times;</a>
    <h2>Action action lorem tips!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn tertiary medium callout">Ipsum lorem!</a></p>
  </div>
</aside>

<aside id="modal--faq3" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn tertiary medium callout">&times;</a>
    <h2>Frequently Asked Questions:</h2>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn tertiary medium callout callout">Got it!</a></p>
  </div>
</aside>

<aside id="modal--prizing" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <h3>Prizing</h3>

    <p><strong>Grand 1</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Namquam blandi nobis soluta id alquid eiu nobis soluta id alquid eius</p>

    <p><strong>Grand 2</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

    <p><strong>Prize 1</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 125px; width: 200px;" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

    <p><strong>Prize 2</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 125px; width: 200px;" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

    <p><strong>Prize 3</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 125px; width: 200px;" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

    <p>Prize ipsum incentivization lorem?</p>
    <p><a href="#" class="js-close-modal btn secondary large callout">Tell Us About It</a></p>
    <p><a href="#" class="js-close-modal btn tertiary medium callout">Got it</a></p>
  </div>
</aside>

<script type="text/javascript">
  $(document).ready(function() {
    var locFinder = window.DSLocationFinder();
    locFinder.initialize({
      mode: "select",
      endpoint: "/example-data.json?q="
    });

    $(".js-change-location").click(function() {
      $(".action--step").addClass("action--step-inactive");
      $((".action--step")).removeClass("action--step-active");

      var thisStep = $(this).closest(".action--step");
      console.log(thisStep);

      //thisStep.css("background", "red");
      thisStep.removeClass("action--step-complete");
      thisStep.removeClass("action--step-inactive");
      thisStep.addClass("action--step-active");
      thisStep.find(".action--widget").slideDown();

    });

    $(".is-hidden-until-step-complete").hide();

    $(".js-location-finder-delegate").change(function() {
      var thisStep = $(this).closest(".action--step");

      $(".js-action-result").text($(this).attr("data-name"));

      $(".is-hidden-until-step-complete").show();
    });

  });
</script>

<script type="text/javascript">

  (function($) {
    //
    // Action Step Scrolling Nav
    //

    var $window = $(window);
    var $nav = $("#action--step-nav");
    var $nav_wrapper = $("#action--step-nav-wrapper");

    // Get pixel position from the top of $nav element to the top of the window
    var nav_position = $nav_wrapper.position().top;

    // Check window position on load and display $nav accordingly
    if ($window.scrollTop() >= nav_position) {
      $nav.addClass("fixed");
    }

    // Get value of current scroll position
    $window.scroll(function() {
      // Cache current scroll position
      var scroll_position = $(this).scrollTop();

      console.log("Scroll Position: " + scroll_position);
      console.log("Fixed Position: " + nav_position);

      // Display persistent nav after user scrolls past "digest" nav
      if (scroll_position >= nav_position) {
        $nav.addClass('fixed');
      }
      else if (scroll_position <= nav_position) {
        $nav.removeClass('fixed');
      }
    });

    //
    // Hide alert message after
    //
    //$('.messages').delay(5000).slideUp(500);

  })(jQuery);
</script>

