<div class="full-width">
  <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />

  <section class="row action--sponsors">
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" />
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" />
  </section>
</div>

<div class="page-width">

  <section class="row callout action--cta">
    <h2>Campaign Call to Action</h2>
  </section>

  <nav id="action--step-nav-digest" class="row action--step action--step-nav digest">
    <ul>
      <li><h3><a href="#learn">1. Learn lorem ipsum dolor</a></h3></li>
      <li><h3><a href="#plan">2. Plan lorem ipsum dolor</a></h3></li>
      <li><h3><a href="#do">3. Do It lorem ipsum dolor</a></h3></li>
      <li><h3><a href="#tell">4. Tell Us lorem ipsum dolor</a></h3></li>
      <li><p><a href="#">Scholarhips and Prizing</a></p></li>
    </li>
  </nav>

  <nav id="action--step-nav-fixed" class="action--step-nav fixed">
    <ul>
      <li class="column always_span_3"><a href="#learn" class="step-button">learn</a></li>
      <li class="column always_span_3"><a href="#plan" class="step-nav">plan</a></li>
      <li class="column always_span_3"><a href="#do" class="step-nav">do it</a></li>
      <li class="column always_span_3"><a href="#tell" class="step-nav">tell us</a></li>
    </ul>
  </nav>

  <section class="row action--step">
    <h3 id="learn">Step 1: Learn</h3>
    <div class="action--description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <ul class="action--faq">
        <li><a href="#faq1" class="js-trigger-modal">Learn more</a></li>
        <li><a href="#faq3" class="js-trigger-modal">FAQs</a></li>
      </ul>

      <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />
    </div>
  </section>

  <section class="row action--step">
    <h3 id="plan">Step 2: Plan</h3>
    <div class="action--description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>

      <p class="action--result">
        You chose to send your socks to <strong class="js-action-result">The Evil Lair</strong>. (<a class="js-change-location" href="#">change</a>)
      </p>

      <ul class="action--faq">
        <li><a href="#faq2" class="js-trigger-modal">Check out the Action Guide</a></li>
      </ul>

      <div class="action--widget">
        <form action="#" class="callout js-location-finder-form">
          <div class="no-js-hide-feature">
            <p>Choose shipping address:</p>
            <input type="text" maxlength="5" class="short js-location-finder-input" placeholder="zip code">
            <a class="btn primary medium js-location-finder-button">Search</a>
          </div>

          <div class="alert error no-js-feature-warning">The Location Finder requires JavaScript to be enabled in your browser.</div>
        </form>

        <div class="content-center narrow js-location-finder-results no-js-hide-feature">
          <p>Nearest drop-off points for zipcode <span class="js-location-finder-results-zip"></span> (<a href='#' class='js-location-finder-reset'>change</a>):</p>

          <ul class="location-list">

          </ul>
        </div>

        <form action="#">
          <input class="js-location-finder-delegate" type="hidden">
        </form>
      </div>

    </div>
  </section>

  <section class="row action--step">
    <h3 id="do">Step 3: Do It</h3>
    <div class="action--description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
    </div>
  </section>

  <section class="row section campaign-section">
    <h3 class="section-header"><span>Your Impact</span></h3>

    <div class="gallery-image">
      <img src="http://www.placekitten.com/g/960/500" alt="">
    </div>

    <ul class="gallery-thumbs">
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/220/220" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/200/200" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/240/240" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/250/250" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/260/260" alt="" /></a>
      </li>
    </ul>
  </section>

  <section class="row action--step">
    <h3 id="tell">Step 4: Tell Us</h3>
    <div class="action--description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

      <div class="action--stepper callout">
        <a href="/example/complete?new_chrome=1" class="btn primary medium js-action-step-complete">Tell Us</a>
      </div>
    </div>
  </section>

  <section class="row callout action--help">
    <p>Still have questions? E-mail <a href="mailto:#">name@dosomething.org</a>!</p>
  </section>
</div>

<aside id="modal--faq1" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn secondary medium">&times;</a>
    <h2>More stats on distracted driving:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn primary medium">Got it!</a></p>
  </div>
</aside>

<aside id="modal--faq2" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn secondary medium">&times;</a>
    <h2>Tips on how to share the socks:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn primary medium">Got it!</a></p>
  </div>
</aside>

<aside id="modal--faq3" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn secondary medium">&times;</a>
    <h2>Frequently Asked Questions:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn primary medium">Got it!</a></p>
  </div>
</aside>

<script type="text/javascript">
  $(document).ready(function() {
    var locFinder = window.DSLocationFinder();
    locFinder.initialize({
      mode: "select",
      endpoint: "/example-data.json?q="
    });

    $(".js-change-location").click(function() {
      $(".action--step").addClass("action--step-inactive");
      $((".action--step")).removeClass("action--step-active");

      var thisStep = $(this).closest(".action--step");
      console.log(thisStep);

      //thisStep.css("background", "red");
      thisStep.removeClass("action--step-complete");
      thisStep.removeClass("action--step-inactive");
      thisStep.addClass("action--step-active");
      thisStep.find(".action--widget").slideDown();

    });

    $(".is-hidden-until-step-complete").hide();

    $(".js-location-finder-delegate").change(function() {
      var thisStep = $(this).closest(".action--step");

      $(".js-action-result").text($(this).attr("data-name"));

      $(".is-hidden-until-step-complete").show();
    });

  });
</script>

<script type="text/javascript">

  //
  // Action Step Scrolling Nav
  //

  (function($) {
    var $window = $(window);
    var $digest_nav = $("#action--step-nav-digest");
    var $fixed_nav = $("#action--step-nav-fixed");

    // Get pixel position of bottom of $fixed_nav element relative to the top of window
    var digest_position = $digest_nav.position().top + $digest_nav.height();
    var scroll = 0;

    // Check window position on load and display $fixed_nav accordingly
    if ($window.scrollTop() >= digest_position) {
      $fixed_nav.show();
    }

    // Get value of current scroll position
    $window.scroll(function() {
      // Cache current scroll position
      var scroll_position = $(this).scrollTop();

      // NOTE - Scroll position is set on load
      // Prevent prematurely firing the callback
      if (scroll > 0) {
        // Display persistent nav after user scrolls past "digest" nav
        if (scroll_position >= digest_position) {
          $fixed_nav.slideDown(500);
        }
        else if (scroll_position <= digest_position) {
          $fixed_nav.slideUp(500);
        }
      }
      scroll++
    });

  })(jQuery);
</script>

