<div class="page-width">
  <div class="row section callout">
    <h1>Authorization Example</h1>
    <p>Click the "Sign In" button in the utility bar.</p>
  </div>

  <div class="row section with-copy">
    <article class="row section">
      <h3>Example Page Content</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      <p>Knight Rider, a shadowy flight into the dangerous world of a man who does not exist. Michael Knight, a young loner on a crusade to champion the cause of the innocent, the helpless in a world of criminals who operate above the law.</p>

      <h3>Subheading</h3>
      <p>Ten years ago a crack commando unit was sent to prison by a military court for a crime they didn't commit. These men promptly escaped from a maximum security stockade to the Los Angeles underground. Today, still wanted by the government, they survive as soldiers of fortune. If you have a problem and no one else can help, and if you can find them, maybe you can hire the A-team.</p>
      <blockquote class="aside pullquote">Ten years ago a crack commando unit was sent to prison by a military court for a crime they didn't commit.</blockquote>
      <p>Hong Kong Phooey, number one super guy. Hong Kong Phooey, quicker than the human eye. He's got style, a groovy style, and a car that just won't stop. When the going gets tough, he's really rough, with a Hong Kong Phooey chop (Hi-Ya!). Hong Kong Phooey, number one super guy. Hong Kong Phooey, quicker than the human eye. Hong Kong Phooey, he's fan-riffic!</p>

      <figure>
          <img src="http://placekitten.com/1440/600" alt="Placeholder">
          <figcaption class="image-caption">Mr. Bigglesworth &mdash; mild mannered cat with a dark secret... Housecat by day, monster by night.</figcaption>
      </figure>

      <p>One for all and all for one, Muskehounds are always ready. One for all and all for one, helping everybody. One for all and all for one, it's a pretty story. Sharing everything with fun, that's the way to be. One for all and all for one, Muskehounds are always ready. One for all and all for one, helping everybody. One for all and all for one, can sound pretty corny. If you've got a problem chum, think how it could be.</p>
      <aside class="aside pullquote left span_3">
        Time - we'll fight against the time, and we'll fly on the white wings of the wind.
      </aside>
      <p>80 days around the world, we'll find a pot of gold just sitting where the rainbow's ending. Time - we'll fight against the time, and we'll fly on the white wings of the wind. 80 days around the world, no we won't say a word before the ship is really back. Round, round, all around the world. Round, all around the world. Round, all around the world. Round, all around the world.</p>
      <p>Mutley, you snickering, floppy eared hound. When courage is needed, you're never around. Those medals you wear on your moth-eaten chest should be there for bungling at which you are best. So, stop that pigeon, stop that pigeon, stop that pigeon, stop that pigeon, stop that pigeon, stop that pigeon, stop that pigeon. Howwww! Nab him, jab him, tab him, grab him, stop that pigeon now.</p>
    </article>
  </div>
</div>

<div id="modal--auth-login" class="modal">
  <div class="modal-content login">
    <span href="#" class="icon-lock modal-secure-button js-security-info"><span>Secure Connection</span></span>
    <a href="#" class="js-close-modal modal-close-button">&times;</a>

    <div class="row callout">
      <h2 class="js-auth-heading">Log in to get started!</h2>
    </div>
    <form id="auth-form" action="https://localhost:8889/login">
      <div class="row">
        <div class="column span_6">
          <div class="is-registration-field">
            <label for="first_name">First Name:</label>
            <input id="first_name" type="text" name="first_name" placeholder="(What do we call you?)">
          </div>
        </div>

        <div class="column span_6">
          <div class="is-registration-field">
            <label for="birthday">Birthday:</label>
            <input id="birthday" type="text" name="birthday" placeholder="01/01/1992">
          </div>
        </div>

        <div class="column span_12">
          <label for="username">Email</label>
          <input id="username" type="text" name="username" placeholder="your_email@example.com">

          <div class="is-registration-field">
            <label for="cell">Cell #:</label>
            <input id="cell" type="text" name="cell" placeholder="(555) 555-5555">
          </div>

          <label for="password">Password</label>
          <input id="password"  type="password" name="password" placeholder="(password)">

          <div class="is-registration-field">
            <label for="confirm_password">Confirm Password:</label>
            <input id="confirm_password"  type="password" name="confirm_password" placeholder="(just double-checking!)">
          </div>
        </div>
      </div>

      <div class="row callout">
        <input type="submit" class="js-submit-link btn primary medium" value="Log In">
      </div>

      <div class="row section callout">
        <a href="" class="js-toggle-register">Create a DoSomething.org Account</a>
      </div>

      <div class="row section callout is-registration-field">
        <p class="legal">Clicking "Register" won't sell your soul, but it means you agree to our <a href="#">terms of service</a> &amp; <a href="#">privacy policy</a> &amp; to receive our weekly update. Message &amp; data rates may apply. You can always text STOP to opt-out, HELP for help.</p>
      </div>
    </form>
  </div>
</div>

<style>
  .is-registration-field {
    display: none;
  }
</style>

<script>

  $(".js-toggle-register").on("click", function(e) {
    e.preventDefault();
    var parent_modal = $(this).closest(".modal-content");
    var action = parent_modal.find("form").attr("action");

    $(window).scrollTop();

    console.log($(this));

    if(action.match(/login/)) {
      // we're in register-mode; let's switch to just logging in
      parent_modal.find(".js-auth-heading").text("Get started by registering for DoSomething.org!");
      parent_modal.find(".is-registration-field").slideDown();
      parent_modal.find(".js-submit-link").val("Register");
      parent_modal.find("form").attr("action", "https://localhost:8889/register");
      $(this).text("I already have an account.");
    } else {
      // we're in login-mode; let's switch to registering
      parent_modal.find(".js-auth-heading").text("Log in to get started!");
      parent_modal.find(".is-registration-field").slideUp();
      parent_modal.find(".js-submit-link").val("Log In");
      parent_modal.find("form").attr("action", "https://localhost:8889/login");
      $(this).text("Create a DoSomething.org Account");
    }

  });

</script>
