<% content_for :title do %>
  Blog | DoSomething.org
<% end %>


<section class="page-width with-copy">
  <nav class="breadcrumbs">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Category</a></li>
    </ul>
  </nav>
  <article class="row section">
    <h1>Let's do something about heading tags. Do it, son.</h1>
    <h2>Because typographic apathy sucks.</h2>
    <p>Content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h3>Subheading</h3>
    <p>Content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <blockquote class="aside pullquote">Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla.</blockquote>
    <p>Content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <figure>
        <img src="http://placekitten.com/1440/600" alt="Placeholder">
        <figcaption class="image-caption">Mr. Bigglesworth &mdash; mild mannered cat with a dark secret... Housecat by day, monster by night.</figcaption>
    </figure>

    <p>Content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <aside class="aside pullquote left span_3">
      Lorem ipsum, son. Dolor sit amet consequeter.
    </aside>
    <p>Content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </article>
</article>
