<% content_for :title do %>
  Campaign Template | DoSomething.org
<% end %>


<div class="page-width">
  <section class="campaign--header" id="header">
    <img class="header-logo" alt="Campaign Logo" src="/images/placeholders/logo-project.png" />
    <p class="header-date">Ends July 29th, 2013</p>

    <div class="header-sponsors">
      <img src="/images/placeholders/logo-sponsor-icon.png" alt="Corporate Sponsor" />
      <img src="/images/placeholders/logo-sponsor-wordy.png" alt="Corporate Sponsor" />
      <img src="/images/placeholders/logo-sponsor-long.png" alt="Corporate Sponsor" />
    </div>

    <div class="header-social">
      <!-- Facebook Like Button -->
      <div class="fb-like header-facebook-share" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
      <!-- Twitter Tweet Button -->
      <div class="header-twitter-share">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.dosomething.org/pbj" data-text="1 in 6 people in America will go hungry at some point during the year. Help @dosomething about feeding the hungry: http://www.dosomething.org/pbj" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </section>

  <section class="campaign--headline" id="headline">
    <h2 class="headline-callout"><span>OVER 1% OF YOU WILL FILL OUT THIS FORM</span></h2>
    <h3 class="headline-callout"><span>IN THE UNITED KINGDOM PEOPLE DRINK TEA</span></h3>
  </section>

  <p class="row section callout">
    Send this fact to 6 of your friends for cash money!
  </p>

  <section class="row section with-copy gutters" id="sms">
    <form action="#" method="POST" class="form-default">
      <input type="hidden" name="redirect_to" value="mango" />
      <div class="row">
        <div class="column span_6">
          <label>Your First Name:</label>
          <input type="text" name="person[first_name]" placeholder="Your name:"/>
        </div>

        <div class="column span_6">
          <label>Your Cell #:</label>
          <input type="text" name="person[phone]" placeholder="Your cell #:" />
        </div>
      </div>

      <div class="row">
        <label>Friend's Cell #s:</label>
      </div>

      <div class="row">
        <div class="column span_6">
          <input type="text" name="friends[]" placeholder="Friend's cell #:"/>
          <input type="text" name="friends[]" placeholder="Friend's cell #:"/>
          <input type="text" name="friends[]" placeholder="Friend's cell #:"/>
        </div>

        <div class="column span_6">
          <input type="text" name="friends[]" placeholder="Friend's cell #:"/>
          <input type="text" name="friends[]" placeholder="Friend's cell #:"/>
          <input type="text" name="friends[]" placeholder="Friend's cell #:"/>
        </div>
      </div>

      <div class="row callout">
        <input type="hidden" name="opt_in_path" value="mango" />
        <input type="hidden" name="friends_opt_in_path" value="mango" />

        <input type="submit" class="btn primary large" value="Invite Friends" />

        <p><a href="#" class="btn secondary medium">Official Rules &amp; Regulations</a></p>
        <p class="legal">Message &amp; data rates may apply. Text <strong>STOP</strong> to opt-out, <strong>HELP</strong> for help.</p>
      </div>
    </form>
  </section>

  <section class="row section banner" id="call-to-action">
    <p>
      <span>Press the button to start grinding some beans!</span>
      <a class="left btn primary large js-jump-scroll">Report Back</a>
    </p>
  </section>

  <section class="row section campaign-section gutters" id="how-it-works">
      <h3 class="section-header"><span>Here's What You Do</span></h3>

      <section class="row section gutters">
        <div class="column span_4 callout">
          <img src="/images/placeholders/placeholder.png" alt="X (placeholder image)" />
          <h3>Learn the Issue</h3>
          <p>1 in 3 teenagers have slept through Math or English class in the past week.</p>
        </div>

        <div class="column span_4 callout">
          <img src="/images/placeholders/placeholder.png" alt="X (placeholder image)" />
          <h3>Complete the Action</h3>
          <p>Drink coffee to stay awake! DoSomething.org recommends 3 cups per day.</p>
        </div>

        <div class="column span_4 callout">
          <img src="/images/placeholders/placeholder.png" alt="X (placeholder image)" />
          <h3>Get Friends Involved</h3>
          <p><a href="#">Invite</a> your friends to hang out at a caf&eacute; with you and drink some 'fee.</p>
        </div>
      </section>

      <div class="row callout" id="action-kit">
        <p>Want help running your drive? <a href="#">Download</a> our action kit, sailor.</p>
      </div>
  </section>

  <section class="row section campaign-section gutters" id="prizing">
    <h3 class="section-header"><span>Prizing</span></h3>
    <p class="callout">This is the prizing section. You could win a prize!</p>

    <div class="row aside">
      <div class="column span_12 callout">
        <img src="/images/placeholders/placeholder.png" alt="x placeholder"/>
        <h2>Big Ol' Grand Prize</h2>
        <p>You can drink coffee all by yourself. That's why they call it a "solo" espresso!</p>
      </div>
    </div>
    <div class="row aside">
      <div class="column span_6 callout">
        <img src="/images/placeholders/placeholder.png" alt="x placeholder"/>
        <h3>Individual Scholarship</h3>
        <p>You can drink coffee all by yourself. That's why they call it a "solo" espresso!</p>
      </div>

      <div class="column span_6 callout">
        <img src="/images/placeholders/placeholder.png" alt="x placeholder"/>
        <h3>Group Scholarship</h3>
        <p>You can coffee with your friends. Order a "quad americano" and see what happens. #YOLO</p>
      </div>
    </div>
    <div class="row callout">
      <p><a href="#headline" class="btn primary large js-jump-scroll">Tell Us About It</a></p>
      <p><a href="#" class="btn secondary medium">Official Rules &amp; Regulations</a></p>
    </div>
  </section>

  <section class="row section campaign-section" id="sms-game-example">
    <h3 class="section-header"><span>An Example From the Game</span></h3>

    <div class="row aside span_6">
      <div class="game-conversation game-ds">
        <p>Girl, you got any 'fee?</p>
      </div>

      <div class="game-conversation game-user">
        <p>Yeah, I got that 'fee. Desmond gave it to me.</p>
      </div>

      <div class="game-conversation game-ds">
        <p>Double americano? Lemme get some!</p>
      </div>
    </div>
    <div class="row callout">
      <a href="#headline" class="btn primary large js-jump-scroll">Play The Game</a>
    </div>
  </section>

  <section class="section row campaign-section location-finder" id="location-finder">
    <h3 class="section-header"><span>Location Finder</span></h3>
    <div id="locfinder" class="aside span_8">

    </div>

    <script type="text/template" id="template--locfinder-geo">
      <div class="row callout">
        <a class="js-location-finder-submit btn primary medium">Search Near Me</a>
      </div>
      <div class="row"><p class="callout legal">(or <a href="#" class="js-location-finder-toggle-form">search by zip code</a>)</p></div>
    </script>

    <script type="text/template" id="template--locfinder-zip">
      <form action="#" class="js-location-finder-form row callout">
        <input name="zip" type="text" maxlength="5" class="short" placeholder="zip code">
        <a class="js-location-finder-submit btn primary medium">Submit</a>
      </form>
      {{# if(Modernizr.geolocation) { }}
        <div class="row"><p class="callout legal">(or <a href="#" class="js-location-finder-toggle-form">search nearby</a>)</p></div>
      {{# } }}
    </script>

    <script type="text/template" id="template--locfinder-results">
      <p>Drop-off points near <strong>{{ searchTerm }}</strong> (<a href="#" class="js-location-finder-reset-form">change</a>): </p>

      <ul class="location-list js-location-finder-results">

      </ul>
    </script>

    <script type="text/template" id="template--locfinder-location">
      <li class="location">
        <strong>{{ name }}</strong><br>
        {{ street }}<br>
        {{ city }}, {{ state }} {{ zip }}<br>
      </li>
    </script>
  </section>

  <script type="text/javascript">
    $(document).ready(function() {
      window.DS.LocationFinder.initialize($("#locfinder"), {});
    });
  </script>

  <section class="row section campaign-section">
    <h3 class="section-header"><span>Your Impact</span></h3>

    <div class="gallery-image">
      <img src="http://www.placekitten.com/g/960/500" alt="">
    </div>

    <ul class="gallery-thumbs">
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/220/220" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/200/200" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/240/240" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/250/250" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/260/260" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/270/270" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/400/400" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/200/200" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/300/300" alt="" /></a>
      </li>
      <li class="gallery-thumb">
        <a href="#" title=""><img src="http://www.placekitten.com/g/320/320" alt="" /></a>
      </li>
    </ul>

    <ul class="tabs">
      <li><span>&#8249; prev</span></li>
      <li class="active"><a href="#">1</a></li>
      <li><a title="Go to page 2" href="/teensforjeans?page=1">2</a></li>
      <li><a title="Go to page 3" href="/teensforjeans?page=2">3</a></li>
      <li><a title="Go to page 4" href="/teensforjeans?page=3">4</a></li>
      <li><a title="Go to page 5" href="/teensforjeans?page=4">5</a></li>
      <li><a title="Go to next page" href="/teensforjeans?page=1">next &#8250;</a></li>
    </ul>
  </section>

  <section class="row section campaign-section with-copy" id="content">
    <h3 class="section-header"><span>More Information on 'fee</span></h3>
    <div class="content-center">
      <p>Part of growing up means making decisions and sometimes hard life choices*. Are you going to order a double or triple espresso? Do you want that 'fee to go?</p>

      <p class="legal">*Disclaimer: The best way to prevent an underconsumption of 'fee is to order more 'fee (duh). Whether you choose to have a lot or even more, it's important to know the facts, so we've provided a list of different resources so that you can inform your own decisions.</p>

      <h4 class="headline-callout">This is a fact.</h4>
      <p>Not having any 'fee today will probably make you a terrible person.</p>

      <h4 class="headline-callout">This is a fact.</h4>
      <p>You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee.</p>

      <h4 class="headline-callout">This is a fact.</h4>
      <p>You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee.</p>

      <h4 class="headline-callout">This is a fact.</h4>
      <p>You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee. You should probably drink more 'fee.</p>

      <h4 class="headline-callout">Additional Resources</h4>
      <p>Need more? Check out these additional resources:</p>
      <ul>
        <li><a href="http://www.birchcoffee.com/" target="_blank">Birch Coffee</a></li>
        <li><a href="https://tonx.org/" target="_blank">Tonx Coffee</a></li>
        <li><a href="http://equalexchange.coop/products/coffee" target="_blank">Equal Exchange</a></li>
      </ul>
    </div>
  </section>

  <section class="row section campaign-section with-copy gutters" id="profiles">
    <div class="row">
      <h3 class="section-header"><span>Meet the Baristas</span></h3>
    </div>

    <div class="row">
      <div class="column span_4">
        <img src="//www.placekitten.com/g/580/350" class="bordered" alt="Diane Nash">
      </div>
      <div class="column span_8">
       <h3>Diane Nash, 22</h3>
       <p>After seeing public bathrooms marked “white” or “colored” as a student in Nashville Tennessee, Nash was determined to fight racism. She attended nonviolent, civil disobedience workshops lead by Rev. James Lawson, and became a leader of the Nashville sit-ins, a nonviolent tactic to integrate restaurants around the city. Students would sit in “whites only” sections of lunch counters, accepting arrest and even violence to prove a point about making a change. She also helped found and led the Student Nonviolent Coordinating Committee, the largest student activist group that led key grassroots action against discrimination during the civil rights movement.</p>
      </div>
    </div>

    <div class="row">
      <div class="column span_4">
        <img src="//www.placekitten.com/g/590/360" class="bordered" alt="Barbara Johns">
      </div>
      <div class="column span_8">
       <h3>Barbara Johns, 16</h3>
       <p>As a student, she was part of a segregated school district in Virginia that crammed 450 kids into a 200 person building. She started a two week strike with the help of the NAACP to advocate for an integrated school district, marching to the town courthouse to make officials aware of the large difference in quality between black and white schools. In response, her house was burned to the ground. NAACP took her case to court, which became a part of the groundbreaking Brown v. Board of Education case that ruled "separate but equal” facilities based on race illegal.</p>
      </div>
    </div>

    <div class="row">
      <div class="column span_4">
        <img src="//www.placekitten.com/g/550/320" class="bordered" alt="James Zwerg">
      </div>
      <div class="column span_8">
       <h3>James Zwerg, 22</h3>
       <p>He developed an interest in civil rights after seeing his African-American roommate experience prejudice. Attending an exchange program, he went to Fisk University and met John Lewis, a leader of the Student Nonviolent Coordinating Committee, and decided to go on a Freedom Ride, a nonviolent action to test out integration laws on buses. He was arrested, and at one point ambushed during the ride. He was beaten so badly he was unconscious for two days and stayed in a hospital for five. His photos were used in many newspapers and magazines across the country, stirring even more support for the civil rights movement.</p>
      </div>
    </div>
  </section>

  <section class="row section campaign-section with-copy" id="faq">
    <h3 class="section-header"><span>Frequently Asked Questions</span></h3>
    <div class="content-center">
      <div class="answer">
        <h4>What's this game about?</h4>
        <p> Would You Rather is a game where you and your friends will be given crazy, money saving situations to choose from. At the end of the game, you'll be given a few tips on how you could actually save money a bit easier.
        </p>
      </div>

      <div class="answer">
        <h4 class="active">Why should I participate?</h4>
        <p>It's fun, you can see what your friends would do, and you'll all learn something. Awesome.</p>
      </div>

      <div class="answer">
        <h4>Does the game cost anything?</h4>
        <p>The game is completely free to play, but standard text messaging rates do apply.</p>
      </div>

      <div class="answer">
        <h4>How many times can I play?</h4>
        <p>You can text "WYR" as many times as you'd like. There are a bunch of questions waiting for you!</p>
      </div>

      <div class="answer">
        <h4>How do I enter the scholarship?</h4>
        <p>All you have to do is invite 6 friends to play the game with you and you'll be entered to win a $3,000 scholarship.</p>
      </div>
    </div>

    <div class="callout">
      <a href="#headline" class="btn primary large js-jump-scroll">I want to play</a>
      <p><a href="#top" class="btn secondary small js-jump-scroll">Back to Top</a></p>
    </div>
  </section>

  <footer class="row section sponsor" id="sponsor">
    <h3>Sponsored by:</h3>

    <p>
      <img src="/images/placeholders/logo-sponsor-icon.png" alt="Corporate Sponsor" />
      <img src="/images/placeholders/logo-sponsor-wordy.png" alt="Corporate Sponsor" />
      <img src="/images/placeholders/logo-sponsor-long.png" alt="Corporate Sponsor" />
    </p>
  </footer>
</div>

<footer class="contact" id="footer">
  <p>Questions? E-mail <a href="mailto:help@dosomething.org">help@dosomething.org</a>!</p>
</footer>
