<% content_for :title do %>
  Campaigns | DoSomething.org
<% end %>

<div class="row section with-copy">
  <h1>Campaigns</h1>
  <p><strong>Campaigns are simple but impactful things you can do to make the world suck less.</strong> Pick a campaign below to get started. And check back for new ones coming soon.</p>
</div>

<div class="page-width row section gutters">
  <div class="row feature-block" style="background-image: url('/images/placeholders/project1.jpg'); background-position: center center;">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>Give A Spit</h2>
      <p>Find out how your next party could save the life of someone with bone cancer.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="row feature-block" style="background-image: url('/images/placeholders/project2.jpg');">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>Birthday Mail</h2>
      <p>Create an awesome birthday card for a child or teen experiencing homelessness.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="row feature-block" style="background-image: url('/images/placeholders/project3.jpg');">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>Bully Text</h2>
      <p>Everyone has the power to end bullying. Play The Bully Text with your friends to find out how.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="row feature-block" style="background-image: url('/images/placeholders/project4.jpg');">
    <a href="#" class="full-link"><span>Do This</span></a>
    <div class="description">
      <h2>25,000 Women</h2>
      <p>Share what poor working women face and unlock a $25 loan for a woman in need.</p>
    </div>
    <p class="action"><a href="#" class="btn primary medium">Do This</a></p>
  </div>

  <div class="row feature-block" style="background-image: url('/images/placeholders/project5.jpg');">
    <div class="description">
      <h2>Cell Phones for Survivors</h2>
      <p>Donate old cell phones to benefit survivors of domestic violence.</p>
    </div>
    <p class="action">Coming September 3rd</p>
  </div>
</div>

<div class="row section">
  <p class="callout">Our members have done amazing things in the past too:</p>
  
  <div class="aside">
    <div class="timeline-divider">AUG</div>
    <ul class="timeline">
      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Pics For Pets</span></a>
          <div class="title full-link-delegate"><a href="#">Pics For Pets</a></div>
          <div class="description">You helped homeless pets get adopted by sharing pics.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Thumb Wars</span></a>
          <div class="title full-link-delegate"><a href="#">Thumb Wars</a></div>
          <div class="description">We sent out 80,000 thumb socks to prevent texting &amp; driving.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>I Heart Dad</span></a>
          <div class="title full-link-delegate"><a href="#">I Heart Dad</a></div>
          <div class="description">20,350 people checked their blood pressure to take the first step towards leading a healthy life.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Undocumented For A Day</span></a>
          <div class="title full-link-delegate"><a href="#">Undocumented For A Day</a></div>
          <div class="description">45,146 people took the Undocumented For A Day experience to learn about the struggles of undocumented immigrants.</div>
        </div>
      </li>
    </ul>

    <div class="timeline-divider">JUL</div>
    <ul class="timeline">
      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>The Hunt</span></a>
          <div class="title full-link-delegate"><a href="#">The Hunt</a></div>
          <div class="description">For 11 days, over 36,543 people took action on 11 causes, improving their communities 9,274 times.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Puppy Text</span></a>
          <div class="title full-link-delegate"><a href="#">Puppy Text</a></div>
          <div class="description">Puppies are cute. But not in puppy farms.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Pregnancy Text</span></a>
          <div class="title full-link-delegate"><a href="#">Pregnancy Text</a></div>
          <div class="description">You got your friends talking about teen pregnancy and over 120,000 phone babies were born.</div>
        </div>
      </li>
    </ul>

    <div class="timeline-divider">JUN</div>
    <ul class="timeline">
      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Band Together</span></a>
          <div class="title full-link-delegate"><a href="#">Band Together</a></div>
          <div class="description">You banded together to support music education and made an awesome crowd-sourced music video.</div>
        </div>
      </li>

      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Heal Oklahoma</span></a>
          <div class="title full-link-delegate"><a href="#">Heal Oklahoma</a></div>
          <div class="description">Together, we collected art supplies for children in disaster-impacted areas of Oklahoma.</div>
        </div>
      </li>
    </ul>

    <div class="timeline-divider">MAY</div>
    <ul class="timeline">
      <li class="event">
        <div class="event-wrapper">
          <a href="#" class="full-link"><span>Would You Rather?</span></a>
          <div class="title full-link-delegate"><a href="#">Would You Rather?</a></div>
          <div class="description">Over 50,000 played a game of Would You Rather with their friends and delivered 64,000 tips on saving money.</div>
        </div>
      </li>
    </ul>
  </div>

  <p class="callout"><a href="#" class="btn secondary small">more finished projects</a></p>
</div>
