<div class="full-width">
  <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />

  <section class="row action--sponsors">
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" />
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" />
  </section>
</div>

<div class="page-width">

  <section class="row callout complete--header">
    <h1>Complete!</h1>
    <h2>Lorem Ipsum Dolor Action</h2>
    <p>Lorem ipsum earned hours action resume.</p>
  </section>

  <section class="row complete--social action--step">
    <!-- TODO - DOES THIS NEED A SECOND FILE? ONLY ONE OF THESE CLASSES SHOULD BE HERE-->
    <a class="column always_span_4" href="#">tu</a>
    <a class="column always_span_4" href="#">fb</a>
    <a class="column always_span_4" href="#">tw</a>
  </section>

  <section class="row callout complete--cta">
    <a href="#" class="btn primary med">see another campaign</a>
  </section>

</div>

