<div class="full-width wallpaper action--header" style="background-image: url('/images/placeholders/action1.jpg'); background-position: center center;">
  <h2>Start a composting program at your school.</h2>
</div>

<div class="page-width with-copy">
  <div class="messages success">You're signed up for <strong>Composting</strong>!</div>

  <div class="row section action--stage action--stage-active">
    <h3>Step 1: Learn</h3>
    <p class="summary">Get the facts about composting&hellip;</p>
    <div class="action--description">
      <p>Over 36 million tons of food waste reach landfills each year in the United States. This waste could be composted to be reused for richer soil.</p>
      <p>Adding compost to soil reduces the need to use fertilizers - better for the environment and your health!</p>
      <ul class="action--faq">
        <li><a href="#faq1" class="js-trigger-modal">More stats on composting</a></li>
      </ul>

      <div class="action--nextstage callout">
        <a href="#" class="btn primary medium js-action-stage-complete">Next Step</a>
      </div>
    </div>
  </div>

  <div class="row section action--stage action--stage-inactive">
    <h3>Step 2: Plan</h3>
    <p class="summary">Set up your compost bin&hellip;</p>
    <div class="action--description">
      <p>Work with your cafeteria staff to set up collection bins. Make sure you make clear signs that indicate what can and can’t go into the bins. Things that are ok include food and vegetable scraps, paper, egg shells, tea bags, bread, nut shells, and food-soiled cardboard. Things to avoid include meat and fish scraps, cheese and dairy products, plastics and greasy foods.</p>

      <p>Then pick a location for your compost pile where you will dump the bins out every day. Select a dry, shady spot near a hose. You can either use a plastic container or fence off an area with wooden boards. Your pile should be about 3 cubic feet.</p>

      <p class="action--result">
        You chose to send your socks to <strong class="js-action-result">The Evil Lair</strong>. (<a class="js-change-location" href="#">change</a>)
      </p>

      <ul class="action--faq">
        <li><a href="#faq2" class="js-trigger-modal">Tips on what to compost</a></li>
        <li><a href="#faq3" class="js-trigger-modal">More questions? Read our FAQ.</a></li>
      </ul>

      <div class="action--widget">
        <form action="#" class="callout js-location-finder-form">
          <div class="no-js-hide-feature">
            <p>Find a compost bin:</p>
            <input type="text" maxlength="5" class="short js-location-finder-input" placeholder="zip code">
            <a class="btn primary medium js-location-finder-button">Search</a>
          </div>

          <div class="alert error no-js-feature-warning">The Location Finder requires JavaScript to be enabled in your browser.</div>
        </form>

        <div class="content-center narrow js-location-finder-results no-js-hide-feature">
          <p>Nearest drop-off points for zipcode <span class="js-location-finder-results-zip"></span> (<a href='#' class='js-location-finder-reset'>change</a>):</p>

          <ul class="location-list">

          </ul>
        </div>

        <form action="#">
          <input class="js-location-finder-delegate" type="hidden">
        </form>
      </div>

      <div class="action--nextstage is-hidden-until-step-complete callout">
        <a href="#" class="btn primary medium js-action-stage-complete">Next Step</a>
      </div>
    </div>
  </div>

  <div class="row section action--stage action--stage-inactive">
    <h3>Step 3: Do</h3>
    <p class="summary">How to compost your food&hellip;</p>
    <div class="action--description">
      <p>On a regular basis, empty out your collection bins into the compost pile. Make sure you mix a combination of green and brown waste. Green waste includes fruit and vegetable scraps, grass clippings, and tea bags. Brown waste includes things like bread, food-soiled cardboard, dead plants, and leaves.</p>
      <p>Make sure you mix your compost pile every week or two. Your custodians shovels or pitchforks would work great for this. This will ensure there is enough air in the pile for the material to properly decompose.</p>
      <p>When you mix your pile, take a hose and add some water as well. You want your pile to be as wet as a wrung out sponge.</p>
      <p>You should also take this time to monitor the temperature. The pile should feel hot. If it is air temperature then add more green waste to heat it up.</p>
      <p>After a few weeks of tending to your pile you’ll have a layer of good compost at the bottom of your bin. You can tell it’s ready if it’s dark and rich in color and you can’t differentiate any of the different materials in it. You can take this and begin adding it as a natural fertilizer to plants around your school.</p>

      <div class="action--nextstage callout">
        <a href="#" class="btn primary medium js-action-stage-complete">Next Step</a>
      </div>
    </div>
  </div>

  <div class="row section action--stage action--stage-inactive">
    <h3>Step 4: Tell Us</h3>
    <p class="summary">Upload the pic of you and your friend&hellip;</p>
    <div class="action--description">
      <p>Send us your pic of you and your compost in action and tell us how many piles you created.</p>

      <div class="action--nextstage callout">
        <a href="#" class="btn primary medium js-action-stage-complete">Tell Us</a>
      </div>
    </div>
  </div>
</div>

<div id="faq1" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn secondary medium">&times;</a>
    <h2>More stats on distracted composting:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn primary medium">Got it!</a></p>
  </div>
</div>

<div id="faq2" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn secondary medium">&times;</a>
    <h2>Tips on how to convince others to compost:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn primary medium">Got it!</a></p>
  </div>
</div>

<div id="faq3" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn secondary medium">&times;</a>
    <h2>Frequently Asked Questions:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn primary medium">Got it!</a></p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    // lets hide this guy once the user has had a chance to see it
    $(".messages").delay(3000).slideUp();

    var locFinder = window.DSLocationFinder();
    locFinder.initialize({
      mode: "select",
      endpoint: "/example-data.json?q="
    });

    $(".js-action-stage-complete").click(function(e) {
      e.preventDefault();
      $(".messages").slideUp();

      console.log("FEEEEEE");
      var thisStep = $(this).closest(".action--stage");

      thisStep.find(".action--widget").slideUp();

      thisStep.removeClass("action--stage-active");
      thisStep.addClass("action--stage-inactive");

      thisStep.next(".action--stage").removeClass("action--stage-inactive");

      thisStep.find(".is-hidden-until-step-complete").hide();
    });

    $(".js-change-location").click(function() {
      console.log("ROLLIN' IT BACK");
      $(".action--stage").addClass("action--stage-inactive");
      $((".action--stage")).removeClass("action--stage-active");

      var thisStep = $(this).closest(".action--stage");
      console.log(thisStep);

      //thisStep.css("background", "red");
      thisStep.removeClass("action--stage-complete");
      thisStep.removeClass("action--stage-inactive");
      thisStep.addClass("action--stage-active");
      thisStep.find(".action--widget").slideDown();

    });

    $(".is-hidden-until-step-complete").hide();

    $(".js-location-finder-delegate").change(function() {
      console.log("YOU PICKED IT");
      var thisStep = $(this).closest(".action--stage");

      $(".js-action-result").text($(this).attr("data-name"));


      $(".is-hidden-until-step-complete").show();
    });

    $(".action--stage-inactive").click(function() {
      var thisStep = $(this);

      $(".action--stage").removeClass("action--stage-active");
      $(".action--stage").addClass("action--stage-inactive");

      thisStep.removeClass("action--stage-inactive");
      thisStep.addClass("action--stage-active");

      $(".action--stage-inactive").click(function() {});
    });

  });
</script>
