<% content_for :title do %>
  DoSomething.org
<% end %>

<div class="page">
    <h2>Join 2.5 million young people. Any cause, anytime, anywhere. *mic drop*</h2>

    <p>DoSomething.org makes the world suck less. The largest org for young people and social change, our 2.5 million members tackle campaigns that impact every cause, from poverty to violence to the environment to literally everything else. Any cause, anytime, anywhere. *mic drop*</p>


</div>
