<% content_for :title do %>
  DoSomething.org
<% end %>

<div class="page">
    <h2>Join over 2.2 million young people taking action. </h2>
    <p><strong>Make the world suck less. Pick a project below to get started.</strong></p>

    <p>Lorem ipsum dolor sit amet. Vestibulum eu magna vel leo tincidunt iaculis. In dictum tortor orci, eget laoreet est tincidunt a. Praesent turpis elit, posuere et turpis ut, sagittis pulvinar enim. Nulla interdum erat vitae nunc sollicitudin euismod id quis ipsum. Proin nec elit id arcu pulvinar eleifend et quis dolor. Cras quis malesuada nisi. Ut sit amet sodales risus. Nam ac velit id est porta commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec pretium leo at lacus sagittis egestas. Etiam tristique fringilla nisi, at pellentesque felis vulputate nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla pulvinar convallis tristique. Integer pellentesque semper tellus.</p>

    <p>Pellentesque suscipit ac orci vitae pulvinar. Nunc feugiat dictum odio, pretium faucibus dui sodales at. Proin laoreet porta pharetra. Vestibulum lacinia quam velit. Nullam scelerisque dignissim urna vel accumsan. Vestibulum ut tortor convallis, accumsan tortor quis, malesuada lectus. Morbi iaculis auctor dolor. Donec ornare ornare placerat. Aliquam suscipit, lorem nec bibendum venenatis, tortor ante vehicula ante, nec ultrices lectus orci a enim.</p>

    <p>Sed in dui augue. In eget tincidunt risus. Ut laoreet lectus posuere dolor lobortis imperdiet. Proin vulputate massa vel risus egestas dignissim. Proin viverra orci eu purus placerat, sit amet laoreet elit auctor. Donec sem dolor, faucibus quis blandit quis, porta quis quam. Nam ac tincidunt massa. Ut justo dui, venenatis et tempor eget, tempus vel sem. Maecenas dictum ullamcorper pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget justo vulputate, tempus turpis id, sollicitudin lorem. Nullam pulvinar purus sapien, ut fermentum ligula placerat sed. Ut orci elit, fermentum non erat quis, aliquet consequat turpis. Vivamus at egestas massa. Duis rutrum facilisis turpis, quis accumsan metus vulputate eu.</p>

    <p>Pellentesque suscipit ac orci vitae pulvinar. Nunc feugiat dictum odio, pretium faucibus dui sodales at. Proin laoreet porta pharetra. Vestibulum lacinia quam velit. Nullam scelerisque dignissim urna vel accumsan. Vestibulum ut tortor convallis, accumsan tortor quis, malesuada lectus. Morbi iaculis auctor dolor. Donec ornare ornare placerat.</p>

</div>
