<% content_for :title do %>
  DoSomething.org
<% end %>


<div class="full-width wallpaper ds-intro">
  <div class="page-width with-copy">
    <h1>Join over 2.2 million young people taking action. </h1>
    <p>Make the world suck less. Pick a project below to get started.</p>
  </div>
</div>

<div class="page-width gutters">
  <div class="row">
      <div class="column span_12 feature-block fixed" style="background-image: url('/images/placeholders/feature.jpg');">
      <a class="full-link" href="/bully"><span>Do This</span></a>
      <div class="headline big blue">
        <h3>Invite friends to stand up to bullying with the Bully Text.</h3>
        <a href="/bully" class="btn primary large">Do This</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column span_4 feature-block fixed" style="background-image: url('/images/placeholders/homepage1.jpg'); background-position: center center;">
      <a class="full-link" href="/women"><span>Do This</span></a>
      <div class="headline purple">
        <div class="headline-row"><h4>Help 25,000 poor women in need</h4></div>
        <div class="headline-row"><p class="homepage-block-cta"><a href="/women" class="btn primary large">Do This</a></p></div>
      </div>
    </div>

    <div class="column span_4 feature-block fixed" style="background-image: url('/images/placeholders/homepage2.jpg'); background-position: center center;">
      <a class="full-link" href="/women"><span>Do This</span></a>
      <div class="headline red">
        <div class="headline-row"><h4>Petition: Add more diverse Emoji</h4></div>
        <div class="headline-row"><p class="homepage-block-cta"><a href="/women" class="btn primary large">Do This</a></p></div>
      </div>
    </div>

    <div class="column span_4 feature-block fixed" style="background-image: url('/images/placeholders/homepage3.jpg'); background-position: center center;">
      <a class="full-link" href="/women"><span>Do This</span></a>
      <div class="headline yellow">
        <div class="headline-row"><h4>Make a birthday card for a homeless teen</h4></div>
        <div class="headline-row"><p class="homepage-block-cta"><a href="/women" class="btn primary large">Do This</a></p></div>
      </div>
    </div>
  </div>

  <div class="row homepage-sponsors">
    <h4>Sponsors</h4>
    <p>
      <i title="H&amp;R Block" class="sprite sprite-HRB"></i>
      <i title="Aeropostale" class="sprite sprite-aeropostale"></i>
      <i title="Channel One" class="sprite sprite-channel-one"></i>
      <i title="Fastweb" class="sprite sprite-fastweb"></i>
      <i title="Toyota" class="sprite sprite-toyota"></i>
      <i title="JetBlue" class="sprite sprite-jetblue"></i>
      <i title="AARP" class="sprite sprite-aarp"></i>
      <i title="Sprint" class="sprite sprite-sprint"></i>
      <i title="VH1" class="sprite sprite-vh1"></i>
      <i title="Walmart" class="sprite sprite-walmart"></i>
      <i title="American Express" class="sprite sprite-amex"></i>
    </p>
  </div>
</div>