<% content_for :title do %>
  DoSomething.org
<% end %>

<div class="page">
    <h2>Join 2.5 million young people. Any cause, anytime, anywhere. *mic drop*</h2>

    <p>DoSomething.org makes the world suck less. The largest org for young people and social change, our 2.5 million members tackle campaigns that impact every cause, from poverty to violence to the environment to literally everything else. Any cause, anytime, anywhere. *mic drop*</p>

    <p>Lorem ipsum dolor sit amet. Vestibulum eu magna vel leo tincidunt iaculis. In dictum tortor orci, eget laoreet est tincidunt a. Praesent turpis elit, posuere et turpis ut, sagittis pulvinar enim. Nulla interdum erat vitae nunc sollicitudin euismod id quis ipsum. Proin nec elit id arcu pulvinar eleifend et quis dolor. Cras quis malesuada nisi. Ut sit amet sodales risus. Nam ac velit id est porta commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec pretium leo at lacus sagittis egestas. Etiam tristique fringilla nisi, at pellentesque felis vulputate nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla pulvinar convallis tristique. Integer pellentesque semper tellus.</p>
</div>
