<% content_for :title do %>
  Jobs | DoSomething.org
<% end %>


<div class="page-width with-copy">
  <nav class="breadcrumbs">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Jobs</a></li>
    </ul>
  </nav>
  <section class="content-center">
    <h2>We're making "social good" cool. Come do something with us.</h2>
    <p class="callout"><a href="#current-openings" class="btn primary medium js-jump-scroll">View Current Openings</a></p>
  </section>
</div>

<div class="full-width wallpaper" style="background-image: url('/images/static/office-entryway.jpg');">
  <div class="page-width with-copy js-fade-up-on-scroll">
    <h2>You'll love working here.</h2>
    <p>We have a beautiful open floorplan office in Flatiron, NYC where we work together collaboratively. No cubicles.</p>
  </div>
</div>

<div class="page-width gutters">
  <div class="row section">
    <div class="column span_6">
      <h4>We don't have offices.</h4>
      <p>Every few months we put everyone's names into a hat (including the CEO!) and as names are called, each person rushes to claim a new desk around the office.</p>
    </div>

    <div class="column span_6">
      <h4>Thinking Thursdays</h4>
      <p>If this all sounds hectic, we have <strong>Thinking Thursdays</strong>, where the entire office is silent so we can focus on getting work done without interruptions.</p>
    </div>
  </div>
</div>

<div class="full-width wallpaper" style="background-image: url('/images/static/wireframes.jpg');">
  <div class="page-width with-copy js-fade-up-on-scroll">
    <h2>We're not your mom's not-for-profit.</h2>
    <p>We're a data-driven organization with a world-class engineering team. If you're interested in crunching massive data and building things that scale to millions of users, you'll have fun here.</p>
  </div>
</div>

<div class="page-width gutters">
  <div class="row section">
    <div class="column span_6">
      <h4>We learn from failure.</h4>
      <p>We don't fire because of failures. We build things that may fail on the chance that they might be amazing. We hold an annual <strong>Failfest</strong> where we highlight our mistakes and what we learned from them. And yes, you have to wear a pink boa while you present.</p>
    </div>
    
    <div class="column span_6">
      <h4>We're good sharers.</h4>
      <p>We write about our engineering and design process on our <a href="http://tech.dosomething.org">tech blog</a>, and we maintain <a href="#">open-source code</a> for the community. We also host a monthly "Tech For Good" meetup in our office.</p>
    </div>
  </div>
</div>

<div class="full-width wallpaper" style="background-image: url('/images/static/staff-retreat.jpg');">
  <div class="page-width with-copy js-fade-up-on-scroll">
    <h2>We invest in our best asset &mdash; you.</h2>
    <p>We hire smart, talented people who we trust to start kicking ass on their first day &amp; still be taking names two years later.</p>
  </div>
</div>

<div class="page-width gutters">
  <div class="row section">
    <div class="column span_6">
      <h4>Get outside the box.</h4>
      <p>For one week each year, we take the entire staff off-site on <strong>staff retreat</strong>. We spawn innovative new ideas for the organization, take a step back and evaluate where we are and where we're going, and bond with each another with fun games &amp; activities.</p>
    </div>

    <div class="column span_6">
      <h4>Take a break.</h4>
      <p>After two years at DoSomething, we let you do something amazing &mdash; take a break. We give all employees a <strong>four-week sabbatical</strong> to go volunteer somewhere else, and bring back new ideas and perspectives to us when they're done.</p>
    </div>
  </div>

  <div class="row section callout">
    <p>Check out our <a href="/staff.html">staff</a> page to learn more about our employees and culture.</p>
  </div>
</div>

<section class="page-width">
  <h3 class="callout">Employee Perks</h3>
  <div class="row">
    <div class="column span_4">
      <img src="/images/static/benefit-salary.png" alt="">
      <h4>Competetive salary</h4>
      <p>We know money isn't what drives you, but you need to pay the bills. All of our employees are paid a fair salary (on a not-for-profit scale).</p>
    </div>
    <div class="column span_4">
      <img src="/images/static/benefit-health.png" alt="">
      <h4>Great benefits</h4>
      <p>We offer comprehensive medical, dental, vision, life insurance, and 403(b) savings plans. </p>
    </div>
    <div class="column span_4">
      <img src="/images/static/benefit-vacation.png" alt="">
      <h4>3 weeks paid vacation</h4>
      <p>Work may be play, but sometimes you need a break. We get that and give all employees 3 weeks paid vacation plus major holidays.</p>
    </div>
  </div>
  <div class="row">
    <div class="column span_4">
      <img src="/images/static/benefit-gym.png" alt="">
      <h4>Discounted Gym membership</h4>
      <p>We offer a discounted membership at a top-notch gym facility. And if you're not that hardcore, we have our own gym area in the office.</p>
    </div>
    <div class="column span_4">
      <img src="/images/static/benefit-summer.png" alt="">
      <h4>Summer Fridays</h4>
      <p>We take half-days every Friday during the summer so you can enjoy the great weather.</p>
    </div>
    <div class="column span_4">
      <img src="/images/static/benefit-nyc.png" alt="">
      <h4>Made in NYC.</h4>
      <p>We're located in the Flatiron neighborhood in New York City. Be a part of one of the world's greatest cultural centers.</p>
    </div>
  </div>
</section>

<section class="page-width gutters jobs--more-perks">
  <div class="row section callout">
    <h4>&hellip;not convinced yet? Here's more reasons you'll love working here:</h4>
  </div>
  <div class="row">
    <div class="column span_4">
      <h4>Arcade machine in the lunch room</h4>
      <p>With 60 classic arcade games &amp; a competetive high-score ladder.</p>
    </div>
    <div class="column span_4">
      <h4>Summer Kickball League</h4>
      <p>Our interns &amp; staff demolish* other non-profit organizations in kickball.</p>
      <p class="legal">*actual results may vary.</p>
    </div>
    <div class="column span_4">
      <h4>Summer Spirit Days</h4>
      <p>Every Summer Friday, you're challenged to come into work in a themed outfit.</p>
    </div>
  </div>
  <div class="row">
    <div class="column span_4">
      <h4>Standing Desks</h4>
      <p>We have communal standing desks located around the office.</p>
    </div>
    <div class="column span_4">
      <h4>Summer Bake-Offs</h4>
      <p>Needless to say, we eat a lot of brownies during the summer.</p>
    </div>
    <div class="column span_4">
      <h4>The Penguin</h4>
      <p>Every Wednesday, we award The Penguin to a staff member who kicked ass the past week.</p>
    </div>
  </div>
  <div class="row">
    <div class="column span_4">
      <h4>Pre-tax Commuter Plans</h4>
      <p>Save money on your MetroCard or Metro-North train tickets.</p>
    </div>
    <div class="column span_4">
      <h4>No work on your birthday</h4>
      <p>Nobody wants to spend their birthday in the office (even one as awesome as ours), so we give you a free vacation day on your birthday.</p>
    </div>
    <div class="column span_4">
      <h4>Bring Your Dog To Work</h4>
      <p>Bring man's best friend to work! We have a calendar to schedule dog visits.</p>
    </div>
  </div>
</section>  

<section class="page-width with-copy">
<div class="row section callout">
  <h3 id="current-openings">Current Job Openings</h3>  
</div>
<div class="aside">
  <script type="text/javascript" src="http://app.theresumator.com/widgets/basic/create/dosomething" charset="utf-8"></script>
</div>
<div class="row section">
  <p class="callout">Don't see the job you're looking for, but still interested in working with us? Send an email to <a href="mailto:jobs@dosomething.org">jobs@dosomething.org</a> and tell us why!</p>
</div>