<div class="pitch--slide">
  
  <div class="pitch--text">
    <h2>Send a handmade birthday card to a kid at a shelter.</h2>
    <p>1 million children experience homelessness every year.</p>
    <p><a href="/example/action_static?new_chrome=1" class="btn primary large">Do This Now</a></p>
  </div>
</div>