<div class="messages">
  <p>Thanks for signing up for <strong>Lorem dat Ipsum</strong>. You're awesome. Now start learning about the campaign!</p>
  <p><a href="#">Unsign me up for the campaign</a></p>
</div>

<div class="full-width">
  <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />

  <section class="row action--sponsors">
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" />
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" />
  </section>
</div>

<div class="page-width padded">

  <section class="row callout action--cta">
    <h2>Campaign Call to Action</h2>
    <p><a href="#modal--prizing" class="js-trigger-modal">Scholarhips and Prizing</a></p>
  </section>

  <div id="action--step-nav-wrapper" class="action--step-nav">
    <nav id="action--step-nav" class="nav">
      <ul>
        <li class="column always_span_3"><a href="#learn" class="step-button">learn</a></li>
        <li class="column always_span_3"><a href="#plan" class="step-nav">plan</a></li>
        <li class="column always_span_3"><a href="#do" class="step-nav">do it</a></li>
        <li class="column always_span_3"><a href="#tell" class="step-nav">tell us</a></li>
      </ul>
    </nav>
  </div>

  <section class="row action--step">
    <h3 id="learn">Step 1: Learn</h3>

    <div class="action--description">
      <p>Almost 1 in 3 girls will become pregnant by the time they turn 20.</p>
      <p>One of the best ways to prevent teen pregnancy is to just talk about it!</p>
      <p>Sending a phone baby to your friends tells them that they can talk to you about this stuff in a funny, no-pressure way. It also gives them a sneak peek into life as a teen parent.</p>

      <ul class="action--faq">
        <li><a href="#modal--faq1" class="js-trigger-modal">Learn more</a></li>
        <li><a href="#modal--faq3" class="js-trigger-modal">FAQs</a></li>
      </ul>

      <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />
    </div>
  </section>

  <section class="row action--step">
    <h3 id="plan">Step 2: Plan</h3>
    <div class="action--description">
      <p>Send this to a friend who needs someone to talk to about these things or maybe someone who doesn’t think/talk about them enough.</p>
      <p>The challenge starts the morning after they accept and lasts for one day. They’ll receive approximately 10 text messages from a sassy phone baby.</p>

      <p class="action--result">
        You chose to send your lorems to <strong class="js-action-result">The Evil Lair</strong>. (<a class="js-change-location" href="#">change</a>)
      </p>

      <ul class="action--faq">
        <li><a href="#modal--faq2" class="js-trigger-modal">Check out the Action Guide</a></li>
      </ul>
    </div>
  </section>

  <section class="row action--step"> <h3 id="do">Step 3: Do It</h3>
    <div class="action--description">
      <p>Enter your friends’ numbers below and we’ll send them their phone baby.</p>

      <section style="display: block;" class="sms section" id="sms">
        <form>
          <input name="redirect_to" value="mango" type="hidden">

          <label class="sms-beta-mobile">Friend's Cell #s:</label>

          <div class="sms-input-wrapper first-fields">
            <input class="sms-input" name="friends[]" placeholder="Friend's cell #:" type="text">
            <input class="sms-input" name="friends[]" placeholder="Friend's cell #:" type="text">
            <input class="sms-input" name="friends[]" placeholder="Friend's cell #:" type="text">
          </div>

          <div class="sms-input-wrapper sectond-fields">
            <input class="sms-input" name="friends[]" placeholder="Friend's cell #:" type="text">
            <input class="sms-input" name="friends[]" placeholder="Friend's cell #:" type="text">
            <input class="sms-input" name="friends[]" placeholder="Friend's cell #:" type="text">
          </div>

          <input name="opt_in_path" value="mango" type="hidden">
          <input name="friends_opt_in_path" value="mango" type="hidden">

          <a class="btn secondary medium callout" href="#">ipsum send 'em</a>
          <a id="show-more-fields" class="btn secondary tertiary callout" href="#">invite more friends</a>

          <p><a class="official-rules" href="#" target="_blank">Official Rules &amp; Regulations</a></p>
          <p class="ctia legal">Message &amp; data rates may apply. Text <strong>STOP</strong> to opt-out, <strong>HELP</strong> for help.</p>
        </form>
      </section>

      <section class="action--sms-example">
        <h3 class="section-header"><span>Example From the Game:</span></h3>
        <div class="game-conversation game-ds">
          <p>Girl, you got any 'fee?</p>
        </div>

        <div class="game-conversation game-user">
          <p>Yeah, I got that 'fee. Desmond gave it to me.</p>
        </div>

        <div class="game-conversation game-ds">
          <p>Double americano? Lemme get some!</p>
        </div>
      </section>

      <p>At the end of the experience, they’ll get access to a resource guide on their phone with tons of info about teen pregnancy.</p>

      <p>Talk to your friends about it! See how they did, what they thought the hardest part was etc. </p>
    </div>
  </section>

  <section class="row action--step">
    <h3 id="tell">Step 4: Tell Us</h3>
    <div class="action--description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>

      <div class="action--prizing-preview">
        <h3>Prizing</h3>
        <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />

        <p><strong>Grand 1</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

        <p><strong>Prize 1, Prize 2, Prize 3</strong></p>
        <p>Prize ipsum incentivization lorem?</p>

        <p><a href="#modal--prizing" class="js-trigger-modal">View All Prizes</a></p>
      </div>

      <div class="action--stepper callout">
        <a href="/example/complete" class="btn secondary large callout js-action-step-complete">Tell Us About It</a>
      </div>
    </div>
  </section>

  <section class="row section callout action--help">
    <p>Still have questions? E-mail <a href="mailto:#">name@dosomething.org</a>!</p>
  </section>
</div>

<aside id="modal--faq1" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn tertiary medium callout">&times;</a>
    <h2>More stats on placeholder content:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn tertiary medium callout">Got it!</a></p>
  </div>
</aside>

<aside id="modal--faq2" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn tertiary medium callout">&times;</a>
    <h2>Action action lorem tips!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn tertiary medium callout">Ipsum lorem!</a></p>
  </div>
</aside>

<aside id="modal--faq3" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn tertiary medium callout">&times;</a>
    <h2>Frequently Asked Questions:</h2>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <h4>Q: Ipsum Questions Lorem</h4>
    <p>Lorem responds: ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, incidunt, minima, numquam blanditiis nobis soluta id aliquid eius error ipsam animi quaerat eligendi veritatis at facere quibusdam officia vel. Distinctio!</p>
    <p><a href="#" class="js-close-modal btn tertiary medium callout callout">Got it!</a></p>
  </div>
</aside>

<aside id="modal--prizing" class="modal fade-in">
  <div class="modal-content slide-in-fast">
    <a href="#" class="js-close-modal modal-close-button btn tertiary medium callout">&times;</a>
    <h3>Prizing</h3>

    <p><strong>Grand 1</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Namquam blandi nobis soluta id alquid eiu nobis soluta id alquid eius</p>

    <p><strong>Grand 2</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 200px" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

    <p><strong>Prize 1</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 125px; width: 200px;" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

    <p><strong>Prize 2</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 125px; width: 200px;" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

    <p><strong>Prize 3</strong></p>
    <img src="/images/placeholders/wallpaper.png" alt="campaign image" class="full-width" style="height: 125px; width: 200px;" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

    <p>Prize ipsum incentivization lorem?</p>
    <p><a href="#" class="js-close-modal btn secondary large callout">Tell Us About It</a></p>
    <p><a href="#" class="js-close-modal btn tertiary medium callout">Got it</a></p>
  </div>
</aside>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    var locFinder = window.DSLocationFinder();
    locFinder.initialize({
      mode: "select",
      endpoint: "/example-data.json?q="
    });

    $(".js-change-location").click(function() {
      $(".action--step").addClass("action--step-inactive");
      $((".action--step")).removeClass("action--step-active");

      var thisStep = $(this).closest(".action--step");
      console.log(thisStep);

      //thisStep.css("background", "red");
      thisStep.removeClass("action--step-complete");
      thisStep.removeClass("action--step-inactive");
      thisStep.addClass("action--step-active");
      thisStep.find(".action--widget").slideDown();

    });

    $(".is-hidden-until-step-complete").hide();

    $(".js-location-finder-delegate").change(function() {
      var thisStep = $(this).closest(".action--step");

      $(".js-action-result").text($(this).attr("data-name"));

      $(".is-hidden-until-step-complete").show();
    });

  });
</script>

<script type="text/javascript">

  (function($) {
    //
    // Action Step Scrolling Nav
    //

    var $window = $(window);
    var $nav = $("#action--step-nav");
    var $nav_wrapper = $("#action--step-nav-wrapper");

    // Get pixel position from the top of $nav element to the top of the window
    var nav_position = $nav_wrapper.position().top;

    // Check window position on load and display $nav accordingly
    if ($window.scrollTop() >= nav_position) {
      $nav.addClass("fixed");
    }

    // Get value of current scroll position
    $window.scroll(function() {
      // Cache current scroll position
      var scroll_position = $(this).scrollTop();

      console.log("Scroll Position: " + scroll_position);
      console.log("Fixed Position: " + nav_position);

      // Display persistent nav after user scrolls past "digest" nav
      if (scroll_position >= nav_position) {
        $nav.addClass('fixed');
      }
      else if (scroll_position <= nav_position) {
        $nav.removeClass('fixed');
      }

    });

    //
    // SMS Invite Show More Fields
    //

    var $secondary_fields = $('.sectond-fields');
    var $show_more_fields = $('#show-more-fields');

    $secondary_fields.hide();
    $show_more_fields.click(function(e) {
      e.preventDefault();
      $secondary_fields.show();
      $show_more_fields.hide();
    });

  })(jQuery);
</script>

