// Location finder. Initialize by calling <code>window.initializeLocationFinder();</code>.
//
// Styleguide X.1 - Location Finder Module
.js-clickable {
  cursor: pointer;

  &:hover strong {
    text-decoration: underline;
  }

  &.js-selected {
    background-color: $light-gray;
  }
}