// Location finder. Initialize by calling <code>window.initializeLocationFinder();</code>.
//
// Styleguide X.1 - Location Finder Module
.location-list {
  li {
    margin: 1rem 0;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid $light-gray;

    &:last-of-type {
      border-bottom: none;
    }
  }
}
