// Utility class to make links fill their parent container. Also applies button hover
// effects to buttons that are direct children of the parent container.
//
// .video-play-link - Turns container into a "play" button.
//
// Styleguide 4.5.1 - Full Container Link
.full-link {
  position: absolute;
  background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'); // fixes link z-indexing in IE. yeah, really.
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  &.video-play-link {
    &:before {
      content: '\25B6';
      border: 5px solid rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 40%;
      left: 50%;
      display: block;
      width: 80px;
      height: 80px;
      margin-left: -40px;
      border-radius: 160px;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      font-size: 40px;
      padding-top: 13px;
      padding-left: 6px;
      @include box-sizing(border-box);
    }

    &:hover:before {
      color: rgba(255, 255, 255, 1);
      border: 5px solid rgba(255, 255, 255, 1);
    }
  }

  span {
    display: none;
  }

  &:hover ~ .full-link-delegate a {
    text-decoration: underline;
  }

  &:hover ~ .headline .btn {
    background: $btn-hover;
    @include background-image(linear-gradient($btn-color, $btn-hover));
  }

  &:active ~ .headline .btn {
    background: $btn-color;
    color: lighten(#333, 10);
    @include background-image(linear-gradient($btn-hover, $btn-color));
  }
}
