// Utility class to make links fill their parent container. Also applies button hover
// effects to buttons that are direct children of the parent container.
//
// .video-play-link - Turns container into a "play" button.
//
// Styleguide x.1.0 - Full Container Link
.full-link {
  position: absolute;
  background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'); // fixes link z-indexing in IE. yeah, really.
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  &.video-play-link {
    &:before {
      content: '\25B6';
      border: 5px solid #fff;
      position: absolute;
      top: 40%;
      left: 50%;
      display: block;
      width: 80px;
      height: 80px;
      margin-left: -40px;
      border-radius: 160px;
      text-align: center;
      color: #fff;
      font-size: 40px;
      padding-top: 13px;
      padding-left: 6px;
      @include box-sizing(border-box);
    }
  }

  span {
    display: none;
  }

  &:hover ~ .full-link-delegate a {
    text-decoration: underline;
  }

  &:hover ~ .headline .btn {
    background: $btn-hover;
    @include background-image(linear-gradient($btn-color, $btn-hover));
  }

  &:active ~ .headline .btn {
    background: $btn-color;
    color: lighten(#333, 10);
    @include background-image(linear-gradient($btn-hover, $btn-color));
  }
}

// Used to indicate that the user can scroll (useful on pages with huge content above
// the fold). Scrolls to main content area on click.
// ** Must be initialized with `window.initializeScrollIndicatorVisibility();` **
//
// Styleguide x.1.2 - Scroll Indicator Link
.scroll-indicator-link {
  position: fixed;
  bottom: 3rem;
  color: rgba(255,255,255,0.9);
  z-index: 11;
  width:100%;
  text-align: center;
  text-decoration: none;

  &:after {
    content: "\FFEC";
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    width: 100%;
    font-size: 2rem;
    @include animation(bounce 2s ease infinite alternate);
  }
}


// Keeps an image at 100% width of the container.
//
// Styleguide x.1.4 - Full-Width Image
img.full-width-img {
  width: 100%;
}

// Hides content on phones. (Not mobile first so that we can ensure the `display: none` will always hide element.)
//
// Styleguide x.2.1 - Hide on Phones
@include respond-to(phones) {
  .is-hidden-on-phones {
    display: none !important;
  }
}

// Hides content if the device does not support JavaScript.
//
// Styleguide x.2.2 - Hide without JS
.no-js-hide-feature {
  display: none;
}
