// Background highlight pattern used under handwritten text 

.highlight-wrapper {
  display: block;
  font-family: $font-hand-written;
}

.highlight {
  display: inline-block;
  padding: 0 10px;
  background-repeat: no-repeat;
  background-size: 170px 30px;
  background-position: 50% 50%;
  background-image: url("https://trello-attachments.s3.amazonaws.com/52de9089aa3032b85e9b0962/52e1724e23eeb26f4e9fc427/10fb3a32f6c9eef369c955ca7f3ef74f/highlight.png");
  // @TODO - Remove this

  @include transform( rotate(-2deg) );
}
