// Style for images in content sections.
//
// Styleguide 4.2.1 - Figures
figure {
  padding: 2.5% 0;

  img {
    max-width: 100%;
  }
}

figcaption {
  color: $med-gray;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1rem 1.5rem;
}

// Stylized "polaroid" image, with a thick border and subtle shadow.
//
// Styleguide 4.2.2 - Bordered image style
img.bordered {
  border: 5px solid #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  @include box-sizing(border-box);
}


// Legal text (a.k.a. the fine print). Use a `small` element for semantics.
//
// Styleguide 4.2.3 - Legal Text
.legal {
  font-size: 0.75rem;
  color: $light-gray;
  margin: 0 0 1em;

  a {
    color: $light-gray;

    &:hover {
      color: lighten($light-gray, 10%);
    }

    &:visited {
      color: lighten($light-gray, 10%);
    }
  }
}

// An pullquote draws attention to a particular quote from the
// text. Generally used with an `aside` element.
//
// Styleguide 4.2.4 - Pullquote
.pullquote {
  color: $purple;
  width: 95%;
  font-size: 1.25rem;

  @include media($tablet) {
    width: auto;
    font-size: 1.5rem;
  }

  cite {
    color: $light-gray;
  }
}


// List styles, applied to `ul` elements when wrapped in a `.with-copy`.
//
// .good - Checkmark for good things!
// .bad - X for bad things! Boo!
//
// Styleguide 4.2.5 - List styles
.with-copy {
  ul {
    list-style-type: square;
    padding-left: 4em;

    li {
      position: relative;
      margin-bottom: 0.15em;
    }

    &.bad, &.good {
      list-style-type: none;
      text-indent: -0.6em;
      padding-left: 2em;
      margin-left: 0;
      li:before {
        position: relative;
        left: -0.75em;
        font-size: 0.8em;
      }
    }

    &.bad {
      li:before {
        content: "\2718";
        color: #dc9797;
      }
    }

    &.good {
      li:before {
        content: "\2713";
        color: #acdc97;
      }
    }
  }
}

// Responsive embedded videos.
//
// Styleguide 4.2.6 - Embeds
.embed-container {
  position: relative;
  padding-bottom: 54%;
  padding-top: 30px;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
