// Legal text (a.k.a. the fine print).
//
// Styleguide 4.2.1 - Legal Text
.legal {
  font-size: $font-small;
  color: $med-gray;

  a,
  p,
  small,
  strong,
  sup {
    font-size: $font-small;
    color: $med-gray;
    margin: 0;
  }

  a {
    color: $med-gray;

    &:hover {
      color: lighten($med-gray, $color-tint);
    }

    &:active {
      color: darken($med-gray, $color-tint);
    }
  }
}

// An pullquote draws attention to a particular quote from the
// text. Generally used with an `aside` element.
//
// Styleguide 4.2.2 - Pullquote
.pullquote {
  color: $purple;
  width: 95%;
  font-size: 22px;

  @include media($tablet) {
    width: auto;
    font-size: 27px;
  }

  cite {
    color: $light-gray;
  }
}

// Responsive embedded videos.
//
// Styleguide 4.2.6 - Embeds
.embed-container {
  position: relative;
  padding-bottom: 54%;
  padding-top: 30px;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
