// Style for images in content sections.
//
// Styleguide 4.2.1 - Figures
figure {
  text-align: center;
  padding: 2.5% 0;

  img {
    max-width: 100%;
  }

  figcaption {
    color: $med-gray;
    font-size: $font-small;
    padding: 0 1rem 1.5rem;
  }
}

// Stylized "polaroid" image, with a thick border and subtle shadow.
//
// Styleguide 4.2.2 - Bordered image style
img.bordered {
  border: 6px solid #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}


// Legal text (a.k.a. the fine print).
//
// Styleguide 4.2.3 - Legal Text
.legal {
  font-size: $font-small;
  color: $med-gray;

  a,
  p,
  small,
  strong,
  sup {
    font-size: $font-small;
    color: $med-gray;
    margin: 0;
  }

  a {
    color: $med-gray;

    &:hover {
      color: lighten($med-gray, $color-tint);
    }

    &:active {
      color: darken($med-gray, $color-tint);
    }
  }
}

// An pullquote draws attention to a particular quote from the
// text. Generally used with an `aside` element.
//
// Styleguide 4.2.4 - Pullquote
.pullquote {
  color: $purple;
  width: 95%;
  font-size: 1.25rem;

  @include media($tablet) {
    width: auto;
    font-size: 1.5rem;
  }

  cite {
    color: $light-gray;
  }
}

// Responsive embedded videos.
//
// Styleguide 4.2.6 - Embeds
.embed-container {
  position: relative;
  padding-bottom: 54%;
  padding-top: 30px;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
