// Used to indicate position on sub-pages. This helps the user orient themself.
//
// Styleguide 4.3.1 - Breadcrumbs
nav.breadcrumbs {
  margin: 1.65rem;
  text-align: center;

  ul {
    list-style-type: none;
    margin-left: auto;
    padding-left: 0;
  }

  li {
    display: inline;
    &:after {
      font-family: $font-proxima-nova;
      content: '>';
      color: $light-gray;
      padding: 0 1em;
    }
    &:last-of-type:after {
      display: none;
    }
  }

  a {
    color: $med-gray;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


// Used to navigate between sections/panels/pages within an interface. Apply `.active` class to
// link element for "active" state.
//
// .vertical - Vertical tab layout (for use in a sidebar).
//
// Styleguide 4.3.2 - Tabs
.tabs {
  padding: 3.25rem 0; // aligns top edge with top of <p> below an <h1> element
  font-size: 1.1rem;
  text-align: center;
  overflow: hidden;

  ul {
    font-size: 0.9em;
    margin: 1rem;
  }

  li {
    display: inline;
    margin: 0 1rem;
  }

  a {
    text-decoration: none;
    padding: 0 0.5rem;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      background: $light-gray;
      border-radius: $lg-border-radius;
    }
  }

  &.vertical {
    font-size: 1.1em; // decreasing font size, starting at 1em
    text-align: left;

    ul {
      font-size: 0.9em;
      margin: 0.5rem 1rem 1rem;
    }

    li {
      display: block;
      margin: 0.5rem 0;
    }
  }
}
