.tile {
  height: 0;
  padding-bottom: 100%;
  position: relative;

  > .wrapper {
    background-color: #fff;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    &:before {
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      @include linear-gradient(rgba(#000, 0) 40%, rgba(#000, .2) 70%, rgba(#000, .5) 87%, rgba(#000, .85) 100%);
    }
  }

  .no-cssgradients & {
    > .wrapper {
      &:before {
        background: transparent neue-image-url('black-gradient.png') 0 bottom repeat-x;
      }
    }
  }

  img {
    display: block;
    width: 100%;
  }
}


.tile--meta {
  bottom: 0;
  color: #fff;
  padding: 1rem;
  position: absolute;
  width: 100%;

  .__title {
    color: inherit;
    font-size: $font-medium;
    line-height: 1.2;
    margin: 0 0 0.25rem;
  }

  .__tagline {
    color: inherit;
    font-size: 0.9em;
    line-height: 1;
    margin: 0;
  }

  .__title,
  .__tagline {
    text-shadow: 0 1px 3px rgba(black, 0.3);
  }

  .no-cssgradients & {
    background: transparent neue-image-url('black-gradient.png') 0 bottom repeat-x;
  }
}
