// Banner with text and a link. Used for text-based call-to-actions.
//
// Styleguide 4.4.1 - Banners
.banner {
  background: $off-white;
  padding: 2rem;

  &>p {
    text-align: center;
    margin-bottom: 0;

    &>span {
      padding: 0 2rem;

      @include respond-to(phones) {
        display: block;
        padding-bottom: 2rem;
      }
    }
  }

  .btn {
    display: inline-block;
  }
}

// Blocks featuring big background images and big text. Used for homepage &
// campaigns page links.
//
// Styleguide 4.4.2 - Feature Blocks
.feature-block {
  position: relative;
  display: block;
  background-size: cover;
  overflow: hidden;
  padding: 2%;

  .headline {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    background: rgb(0,181,224);
    background: rgba(0,181,224,0.4);
    text-align: center;
    padding: 1.5rem;
    @include box-sizing(border-box);

    h3 {
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 1rem;
      text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    }

    h4 {
      color: #fff;
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    }

    &.purple {
      background: rgb(80, 40, 98);
      background: rgba(80, 40, 98, 0.4);
    }

    &.yellow {
      background: rgb(222, 177, 39);
      background: rgba(222, 177, 39, 0.4);
    }

    &.red {
      background: rgb(180, 43, 37);
      background: rgba(180, 43, 37, 0.4);
    }

    &.teal {
      background: rgb(0, 169, 157);
      background: rgba(0, 169, 157, 0.4);
    }
  }

  &.span_12 {
    height: 200px;
    @include respond-to(widescreens_and_tablets) {
      height: 400px;
    }
    @include respond-to(phones) {
      height: auto;
      padding: 0;

      .headline {
        position: static;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.span_4 {
    height: 150px;
    @include transition(height 0.5s);
    @include respond-to(widescreens) {
      height: 300px;
    }
    @include respond-to(widescreens_and_tablets) {
      &:hover {
        .headline {
          left: 0; bottom: 0px;
        }
      }
    }

    .headline {
      position: absolute;
      left: 0; bottom: -150px;
      padding: 0;
      @include transition(bottom 0.25s);

      .headline-row {
        display: table-row;
        height: 150px;
        text-align: center;

        h4 {
          display: table-cell;
          vertical-align: middle;
          padding: 0.5rem 1.5rem;
        }

        .homepage-block-cta {
          display: table-cell;
          vertical-align: middle;
        }

      }
    }
  }

  // campaigns page
  .description {
    color: #fff;
    padding: 1rem;
    text-align: center;

    h2 {
      font-family: $font-din-condensed;
      margin-bottom: 0;
    }

    p {
      color: #fff;
      margin-bottom: 0;
    }

    @include respond-to(widescreens_and_tablets) {
      text-align: left;
      padding: 2rem;
      width: 70%;
      max-width: 500px;
    }
  }

  .action {
    font-family: $font-din-condensed;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    padding: 0 1rem 1rem;
    margin: 0;
    text-align: center;

    @include respond-to(widescreens_and_tablets) {
      position: absolute;
      bottom: 0; right: 0;
      text-align: right;
    }
  }
}


// Stylized SMS conversation bubbles. <mark>Requires a modifier class to specify which role is talking.</mark>
//
// game-ds - Represents the other party in the conversation, usually DoSomething.
// game-user - Represents the user in the conversation flow.
//
// Styleguide 4.4.3 - Conversation Bubbles
.game-conversation {
  clear: both;
  position: relative;
  background: $off-white;
  margin: 0 auto 3em;
  padding: 0.5rem 1.5rem;
  border-radius: $sm-border-radius;
  text-transform: uppercase;
  font-weight: 500;
  &:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
  }

  p {
    margin: 0.5em;
  }


  &.game-ds {
    float: left;
    &:after {
      bottom: -30px;
      left: 20px;
      border-color: $off-white $off-white transparent transparent;
    }
  }

  &.game-user {
    float: right;
    &:after {
      bottom: -30px;
      right: 20px;
      border-color: $off-white transparent transparent $off-white;
    }
  }
}


// Image gallery with thumbnails.
//
// Styleguide 4.4.4 - Image Gallery
.gallery-image {
  text-align: center;

  img {
    max-width: 100%;
    box-shadow: 0 10px 10px -10px $off-black;
  }
}

.gallery-thumbs {
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  padding: 1%;
}

.gallery-thumb {
  float: left;
  width: 18%;
  margin: 1%;

  img {
    width: 100%;
    height: auto;
    border-radius: $sm-border-radius;
    box-shadow: 0 10px 10px -10px $off-black;
  }
}

footer.sponsor {
  text-align: center;
  display: none;
  @include respond-to(phones) {
    display: block;
    border-top: 1px solid $light-gray;
    margin: -4rem 0px 0px;
    padding: 4rem 0px 0px;
  }

  img {
    max-width: 80%;
    margin: 1rem;
    height: 30px;
  }
}

footer.contact {
  text-align: center;
  padding: 3rem 0 2rem;
  background: $light-gray;
}

// Vertical timeline.
//
// Styleguide 4.4.5 - Timeline Module
.timeline-divider {
  color: $light-gray;
  margin-top: 4px;
  margin-left: -14px;
}

.timeline {
  border-left: 5px solid $light-gray;

  li {
    clear: both;
    position: relative;
    padding: 1rem 0 1rem 1.5rem;

    &:before {
      content: "";
      position: absolute;
      left: -12px;
      top: 18px;
      display: block;
      background: $off-black;
      width: 12px;
      height: 12px;
      border-radius: 20px;
      border: 4px solid #fff; // should match backgrounf of container
    }

    .event-wrapper {
      overflow: hidden;
    }

    .title {
      color: $off-black;
      font-weight: 500;
      text-transform: uppercase;
      @include box-sizing(border-box);

      @include respond-to(widescreens_and_tablets) {
        float: left;
        width: 40%;
        padding-right: 3.5rem;
      }

      a {
        color: $off-black;
        text-decoration: none;
      }
    }

    .description {
      color: $dark-gray;

      @include respond-to(widescreens_and_tablets) {
        float: left;
        width: 60%;
      }
    }
  }
}


// Allows the user to search for locations by zip-code or geolocation. ** Must be initialized
// with `window.DS.LocationFinder.initialize($("container"), {});`. See `LocationFinder.js`
// for full documentation **
//
// Styleguide 4.4.7 - Location Finder
ul.location-list {
  list-style-type: none !important;
  padding-left: 2% !important;

  li {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid $light-gray;

    &:last-of-type {
      border-bottom: none;
    }
  }
}


// Show supplementary information to a user without leaving the page. Fills screen on mobile, centered with overlay on tablet/desktop.
//
// Styleguide 4.4.7 - Modal (Popup)
.modal {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9998;
  //display: none;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;


  .modal-content {
    position: relative;
    background: #fff;
    width: 600px;
    z-index: 1050;
    width: auto;
    padding: 2rem 1rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;

    .modal-close-button {
      position: absolute;
      top: 0.5rem; right: 0.5rem;
      text-decoration: none;
    }

    h2 {
      padding-right: 3rem;
      margin-bottom: 1rem;
    }

    @include respond-to(widescreens_and_tablets) {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      max-width: 600px;
      margin-top: 5rem;
      margin-bottom: 5rem;
      min-height: 0;
    }
  }
}

body.modal-open {
  overflow: hidden;
}
