/* Overrides for Internet Explorer. */
/* Abandon hope, all ye who enter here. */
@-webkit-keyframes rotation {
  /* line 41, ../scss/globals/_variables.scss */
  from {
    -webkit-transform: rotate(0deg); }

  /* line 42, ../scss/globals/_variables.scss */
  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes rotation {
  /* line 41, ../scss/globals/_variables.scss */
  from {
    -moz-transform: rotate(0deg); }

  /* line 42, ../scss/globals/_variables.scss */
  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes rotation {
  /* line 41, ../scss/globals/_variables.scss */
  from {
    -o-transform: rotate(0deg); }

  /* line 42, ../scss/globals/_variables.scss */
  to {
    -o-transform: rotate(359deg); } }

@keyframes rotation {
  /* line 41, ../scss/globals/_variables.scss */
  from {
    transform: rotate(0deg); }

  /* line 42, ../scss/globals/_variables.scss */
  to {
    transform: rotate(359deg); } }

/* line 9, ../scss/ie.scss */
form.search input[type="search"] {
  color: #333131;
  padding-top: 8px;
  padding-bottom: 6px; }

/* line 17, ../scss/ie.scss */
form.search input[type="search"] {
  background: #333131 url("images/search.png") no-repeat 12px 6px; }
  /* line 20, ../scss/ie.scss */
  form.search input[type="search"]:hover {
    background-position: 12px -21px; }
  /* line 24, ../scss/ie.scss */
  form.search input[type="search"]:focus {
    background-position: 12px 6px; }

/* line 33, ../scss/ie.scss */
.timeline li:before {
  display: none; }
