.full-width.wallpaper.about--video-container {
  padding: 0;
}

/** Overlay text on the poster for embedded "About" video. */
.embed-content {
  position: absolute;
  top: 10%;
  width: 100%;
  @include respond-to(phones) {
    position: static;
    padding-bottom: 4rem;
  }

  p {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    font-size: 1.75rem;
    max-width: 700px;
    margin: 0 auto;
    @include respond-to(tablets) {
      font-size: 1.25rem;
    }
    @include respond-to(phones) {
      font-size: 0.9rem;
      margin: 1rem;
    }
  }
}
