/** ACTION STEP PAGE **/

// TODO - DELETE THIS WRAPPER
//        ONCE A FONT IS SELECTED

#action--wrapper {
  h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: "Comic Sans MS";
  }

  h1, h2, h3, h4, h5, h6, p  {
    padding: 0 1.5rem;
  }
}

.action--sponsors {

  img {
    display: block;
    margin: 5%;
    width: 40%;
    float: left;
  }
}


.action--step-nav {
  background-color: #fff;
  width: 100%;
  height: 50px;
  @include transition(background-color 0.5s linear);

  .nav {
    height: 40px;
    padding: 10px 0 0 0;
  }

  .fixed {
    background-color: #eee;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 288px;
    margin: 0 0 0 -16px;
    padding: 10px 16px 0 16px;
  }

}


.action--step {

  .action--widget {
    background: $off-white;
    margin: 1rem;
    padding: 1rem;
    border-radius: $sm-border-radius;
  }

  .action--result {
    display: none;
  }

  @include respond-to(phones) {
    h3, h4, p {
      margin-left: 6%;
      margin-right: 6%;
    }
  }
}


.action--step-inactive {
  .action--description {
    display: none;
  }

  h3 {
    font-size: 1rem;
    color: $light-gray;
  }
}

.action--step-complete {
  .action--description {
    p {
      color: $light-gray;
    }

    .action--result {
      display: block;
      color: $dark-gray;
    }

    .action--stepper {
      display: none;
    }
  }

  h3 {
    font-size: 1rem;
    color: $green;

    &:after {
      content: "\2714";
      padding-left: 1rem;
      color: $green;
    }
  }

  .action--faq {
    display: none;
  }
}

.action--faq {
  list-style-type: none !important;
  padding-left: 1.5rem !important;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}


/** ACTION STAGE CONCEPT **/

.action--header {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}


.action--stage {
  .action--widget {
    background: $off-white;
    margin: 1rem;
    padding: 1rem;
    border-radius: $sm-border-radius;
  }

  .action--result {
    display: none;
  }

  p.summary {
    display: none;
  }

  @include respond-to(phones) {
    h3, p {
      margin-left: 6%;
      margin-right: 6%;
    }
  }
}

.action--stage-inactive {
  &:hover {
    cursor: pointer;
  }

  p.summary {
    display: block;
    color: $light-gray;
  }

  .action--description {
    display: none;
  }

  h3 {
    font-size: 1rem;
    color: $light-gray;
    text-decoration: underline;
  }
}

.action--stage-complete {
  .action--description {
    p {
      color: $light-gray;
    }

    .action--result {
      display: block;
      color: $dark-gray;
    }

    .action--nextstage {
      display: none;
    }

    p.summary {
      display: block;
      color: $light-gray;
    }
  }

  h3 {
    font-size: 1rem;
    color: $green;

    &:after {
      content: "\2714";
      padding-left: 1rem;
      color: $green;
    }
  }

  .action--faq {
    display: none;
  }
}

.complete--social {

  a {
    text-align: center;
  }
}

// TODO - DELETE THIS
body.mobile--background {
  background: #222 !important;
}

.mobile--container {
  background: #fff;
  max-width: 320px;
  width: 100%;

  @media only screen and (min-width: 321px) {
    margin: 5rem auto;
  }

  div[role="main"] {
    background: #fff;
  }

  aside.modal {
    width: 320px;
    margin: 0 auto;

    .modal-content {
      //margin: 0;
    }
  }
}

.page-width.padded {
  padding: 0 16px;
}
