// common

.campaign-section {
  padding-bottom: 2rem;
  border-bottom: 1px solid $off-white;
  overflow: hidden;
}

.section-intro {
  text-align: center;
}

// sections

section.header {
  position: relative;
  background: $off-white;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 112px 24px;
  background-size: cover;
  @include respond-to(phones) {
    padding: 48px 24px;
  }

  .header-logotype {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  .header-date {
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  .header-social {
    position: absolute;
    bottom: 0;
    left: 12px;

    .header-twitter-share {
      display: inline;
      margin-left: 8px;
    }
  }
}

section.headline {
  padding: 3rem 0;
  h1, h2, h3 {
    color: $off-black;
    text-align: center;

    span {
      display: inline-block;
      background: $off-white;
      margin: 0 1em;
      padding: 0.2em 1em 0;
    }
  }
}

.official-rules {
  color: $light-gray;

  &:hover, &:visited {
    color: $off-black;
  }
}

// Legal text (a.k.a. the fine print).
//
// Styleguide 5.1 - Legal Text
.legal {
  font-size: 0.75rem;
  color: $light-gray;
  margin: 0 0 1em;
}

section.call-to-action {
  background: $off-white;
  padding: 2%;

  &>p {
    text-align: center;
    padding: 1rem;

    &>span {
      padding: 0 2rem;

      @include respond-to(phones) {
        display: block;
        padding-bottom: 2rem;
      }
    }
  }

  .btn {
    display: inline-block;
  }
}

// Stylized SMS conversation bubbles. <mark>Requires a modifier class to specify which role is talking.</mark>
//
// game-ds - Represents the other party in the conversation, usually DoSomething.
// game-user - Represents the user in the conversation flow.
//
// Styleguide 5.2 - Conversation Bubbles
.game-conversation {
  clear: both;
  position: relative;
  background: $off-white;
  margin: 0 auto 3em;
  padding: 0.5rem 1.5rem;
  border-radius: $sm-border-radius;
  text-transform: uppercase;
  font-weight: 500;

  &:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
  }


  &.game-ds {
    float: left;
    &:after {
      bottom: -30px;
      left: 20px;
      border-color: $off-white $off-white transparent transparent;
    }
  }

  &.game-user {
    float: right;
    &:after {
      bottom: -30px;
      right: 20px;
      border-color: $off-white transparent transparent $off-white;
    }
  }
}


// Image gallery with thumbnails.
//
// Styleguide 5.3 - Gallery Module
.gallery-image {
  text-align: center;

  img {
    max-width: 100%;
    box-shadow: 0 10px 10px -10px $off-black;
  }
}

.gallery-thumbs {
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  padding: 1%;
}

.gallery-thumb {
  float: left;
  width: 18%;
  margin: 1%;

  img {
    width: 100%;
    height: auto;
    border-radius: $sm-border-radius;
    box-shadow: 0 10px 10px -10px $off-black;
  }
}

footer.sponsor {
  text-align: center;
  margin: 2rem 0;

  img {
    margin: 1rem 2rem;
  }
}

footer.contact {
  text-align: center;
  margin: 2rem 0;
}

// Vertical timeline.
//
// Styleguide 5.4 - Timeline Module
.timeline-divider {
  color: $light-gray;
  margin-top: 4px;
  margin-left: -14px;
}

.timeline {
  border-left: 5px solid $light-gray;

  li {
    clear: both;
    position: relative;
    padding: 1rem 0 1rem 1.5rem;

    &:before {
      content: "";
      position: absolute;
      left: -12px;
      top: 18px;
      display: block;
      background: $off-black;
      width: 12px;
      height: 12px;
      border-radius: 20px;
      border: 4px solid #fff; // should match backgrounf of container
    }

    .event-wrapper {
      overflow: hidden;
    }

    .title {
      color: $off-black;
      font-weight: 500;
      text-transform: uppercase;
      @include box-sizing(border-box);

      @include respond-to(widescreens_and_tablets) {
        float: left;
        width: 40%;
        padding-right: 3.5rem;
      }

      a {
        color: $off-black;
        text-decoration: none;
      }
    }

    .description {
      color: $dark-gray;

      @include respond-to(widescreens_and_tablets) {
        float: left;
        width: 60%;
      }
    }
  }
}


// Location finder. Initialize by calling <code>window.initializeLocationFinder();</code>.
//
// Styleguide 5.5 - Location Finder Module
.location-list {
  li {
    margin: 1rem 0;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid $light-gray;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.no-js-hide-feature {
  display: none;
}
