// common

.campaign-section {
  padding-bottom: 2rem;
  border-bottom: 1px solid $off-white;

  &:last-of-type {
    border-bottom: none;
  }
}

// sections
.campaign--header {
  position: relative;
  background: $off-white;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 96px 24px;
  background-size: cover;
  @include respond-to(phones) {
    padding: 48px 24px;
  }

  .header-logo {
    margin: 1.6rem auto;
    display: block;
    width: 100%;
    max-width: 500px;
  }

  .header-date {
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  .header-sponsors,
  .header-social {
    position: absolute;
    bottom: 0.5rem;
  }

  .header-sponsors {
    right: 0.5rem;
    width: 70%;
    @include respond-to(phones) {
      display: none;
    }

    img {
      float: right;
      height: 30px;
      margin: 0.5rem 0 0 0.5rem;
    }
  }

  .header-social {
    height: 20px;
    left: 0.5rem;

    .header-facebook-share,
    .header-twitter-share {
      height: 20px;
      display: inline-block;
    }

    .header-twitter-share {
      margin-left: 8px;
    }
  }
}

.campaign--headline {
  margin: 3rem 0;
  h1, h2, h3 {
    color: $off-black;
    text-align: center;

    span {
      display: inline-block;
      background: $off-white;
      margin: 0 1em;
      padding: 0.2em 1em 0;
    }
  }
}