// An pullquote draws attention to a particular quote from the
// text. Generally used with an `aside` element.
//
// Styleguide 4.2.1 - Pullquote
.pullquote {
  color: $light-blue;
  font-size: 1.5rem;
  @include respond-to(tablets) {
    font-size: 1.5rem;
  }
  @include respond-to(phones) {
    width: 95%;
    font-size: 1.25rem;
  }

  cite {
    color: $light-gray;
  }
}

// The 'media' interface pattern contains a list of text/links with associated thumbnails.
//
// Styleguide 4.3 - Media

.media {
  margin: 1rem;
  overflow: hidden;
  
  .media-content {
    overflow: hidden;
  }

  .img {
    float: left;
    margin-right: 1rem;

    img {
      display: block;
    }
  }

  .imgExt {
    float: right;
    margin-left: 1rem;
  }
}

// Responsive embedded videos.
//
// Styleguide 4.3 - Embeds
.embed-container {
  position: relative;
  padding-bottom: 54%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


footer.content {
  color: $dark-gray;
  font-size: 0.9rem;
  text-align: center;
  padding: 2em 1em 4em;
}
