// Basic style classes for inline content. This wrapper class is used to prevent
// text styles for things like lists from polluting interface element styling.
//
// .good - style for list items
// .bad - style for list items
//
// Styleguide 4.1 - Content Styles
.content {
  ul {
    list-style-type: none;

    li {
      padding-left: 1em;
      text-indent: -0.65em;
      margin-bottom: 0.15em;

      &:before {
        content: '\25A0';
        position: relative;
        left: -0.5em;
        color: $light-gray;
        font-size: 0.8em;
      }
    }
    
    &.bad {
      li:before {
        content: "\2718";
        color: #dc9797;
      }
    }

    &.good {
      li:before {
        content: "\2713";
        color: #acdc97;
      }
    }
  }
}

// A pullquote brings attention to a quote from an article.
//
// .right - Floats the pullquote to the right (on wider screens).
// .left - Floats the pullquote to the left (on wider screens).
//
// Styleguide 4.2 - Pullquote
aside.pullquote {
  width: 80%;
  max-width: 650px;
  color: $light-blue;
  font-size: 2rem;
  font-weight: 400;
  margin: 1em auto;
  @include respond-to(tablets) {
    font-size: 1.5rem;
  }
  @include respond-to(phones) {
    width: 95%;
    font-size: 1.25rem;
  }

  @include respond-to(widescreens_and_tablets) {
    &.right {
      float: right;
      width: 40%;
      max-width: 300px;
      text-align: right;
      margin: 1em 0 1em 1em;
    }

    &.left {
      float: left;
      width: 40%;
      max-width: 300px;
      margin: 1em 1em 1em 0;
    }
  }

  cite {
    color: $light-gray;
  }
}

// The 'media' interface pattern contains a list of text/links with associated thumbnails.
//
// .large - Large thumbnail image.
//
// Styleguide 4.3 - Media

.media {
  display: block;
  clear: both;
  text-decoration: none;
  margin: 1em 0;

  img {
    float: left;
    width: 50px;
    height: 50px;
    padding: 0.5em;
  }

  span {
    display: block;
    font-size: 1rem;
    text-align: left;
    padding: 0.5em 0.5em 0.1em 70px;
  }

  em {
    display: block;
    color: $dark-gray;
    font-size: 0.9em;
    text-decoration: none;
    padding-left: 70px;
  }

  &.large img {
    width: 150px;
    height: 150px;
  }
}

// Responsive embedded videos.
//
// Styleguide 4.3 - Embeds
.embed-container {
  position: relative;
  padding-bottom: 54%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



