.outer-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 1rem;
}

.error-403 {
  background: $gold url('/images/403.jpg') no-repeat right center;
  background-size: auto 100%;
  overflow: hidden;

  .content-center {
    width: 50%;
    margin: 70px 0 90px;

    h1, h2 {
      text-align: left;
    }

    .legal {
      color: rgba(0, 0, 0, 0.3);
    }

    @include respond-to(phones) {
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      background: rgba(0,0,0,0.5);
      color: #fff;
      @include box-sizing(border-box);

      p {
        color: #fff;
      }

      a {
        color: #fff;
      }

      .legal {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.error-404 {
  background: #012243 url('/images/404.jpg') no-repeat right center;
  background-size: auto 100%;
  overflow: hidden;

  .wrapper {
    background: transparent;
  }

  .content-center {
    width: 50%;
    margin: 70px 0 90px;

    @include respond-to(phones) {
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      background: rgba(0,0,0,0.5);
      @include box-sizing(border-box);
    }

    h1, h2 {
      text-align: left;
      color: #fff;
    }

    p {
      color: #fff;
    }

    a {
      color: #fff;
    }

    .legal {
      color: rgba(255, 255, 255, 0.3);
    }

    form {
      text-align: center;
    }

    input[type="search"] {
      width: 65%;
      margin: 1rem;
    }
  }
}