.wallpaper-wrapper {
  position: relative;
  background: #eee;
  overflow: hidden;
  padding: 0;
  @include background-size(cover);

  img.fullwidth {
    display: block;
    width: 100%;
    margin: 0;
  }

  .caption {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    background: rgb(0,0,0);
    background: rgba(0,0,0, 0.5);
    color: #fff;
    font-size: 0.75rem;
    padding: 0.5em 1em;
  }
}

.wallpaper-content-center {
  background: transparent;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 200px 0;
  @include respond-to(phones) {
    padding: 50px 0;
  }

  .content-center {
    max-width: 900px;
  }

  p {
    color: #fff;
    font-size: 1.5rem;

    @include respond-to(phones) {
      font-size: 1rem;
    }
  }
}


.ds-intro {
  color: #fff;
  background: url('images/bg-intro.jpg') no-repeat center center;
  background-size: cover;

  .content-center {
    width: 580px;
    padding: 48px 0 64px;
    @include box-sizing(border-box);
    @include transition(padding 0.5s);
    @include respond-to(tablets_and_phones) {
      padding: 42px;
      width: auto;
    }

    @include respond-to(phones) {
      padding: 32px;
    }
  }

  h1 {
    font-family: $font-din-condensed;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    border-bottom: 4px solid rgb(255,255,255);
    border-bottom: 4px solid rgba(255,255,255,0.5);
    padding-bottom: 0.5em;

    @include respond-to(phones) {
      font-size: 1.5rem;
      border-bottom: 0;
      padding-bottom: 0.25em;
    }
  }

  h2 {
    font-family: $font-din-regular;
    font-size: 1em;
    font-weight: 400;
    text-align: left;

    margin-top: 0.5em;
    padding-top: 0;
    padding-bottom: 0.75em;
    margin-bottom: 0;
  }

  p.legal {
    color: rgba(255,255,255,0.5);
  }
}

.homepage-sponsors {
  clear: both;
  width: 90%;
  margin: 0 auto;

  h4 {
    color: $light-gray;
    text-align: center;
    padding-top: 2em;
  }

  img {
    margin: 0 1rem;
  }

  p {
    text-align: center;
    padding-bottom: 1em;
  }

  .sprite {
    background-image: url(images/sponsors.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 70px;
    margin: 0 1em;
    @include respond-to(phones) {
      background-size: 175px 160px;
      width: 50px;
      height: 35px;
    }
  }

  .sprite-HRB {
    width: 120px;
    @include respond-to(phones) {
      width: 60px;
    }
  }

  .sprite-HRB { @include responsive-sprite(-5px, -5px); }
  .sprite-aeropostale { @include responsive-sprite(-135px, -5px); }
  .sprite-channel-one { @include responsive-sprite(-5px, -85px); }
  .sprite-fastweb { @include responsive-sprite(-115px, -85px); }
  .sprite-toyota { @include responsive-sprite(-5px, -165px); }
  .sprite-jetblue { @include responsive-sprite(-115px, -165px); }
  .sprite-aarp { @include responsive-sprite(-245px, -5px); }
  .sprite-sprint { @include responsive-sprite(-225px, -85px); }
  .sprite-vh1 { @include responsive-sprite(-225px, -165px); }
  .sprite-walmart { @include responsive-sprite(-5px, -245px); }
  .sprite-amex { @include responsive-sprite(-115px, -245px); }
}