/** Top introductory banner on homepage */
.full-width.wallpaper.ds-intro {
  color: #fff;
  background-image: url('images/bg-intro.jpg');
  padding: 3rem 1rem 2rem;

  .page-width.with-copy {
    h1, p {
      max-width: 35rem;
      text-align: left;
    }

    h1 {
      font-family: $font-din-condensed;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
      @include respond-to(widescreens_and_tablets) {
        font-size: 2rem;
        border-bottom: 4px solid rgb(255,255,255);
        border-bottom: 4px solid rgba(255,255,255,0.5);
        padding-bottom: 0.3em;
      }
    }

    p {
      font-size: 1rem;
    }
  }
}

/** Sponsor logo */
.homepage-sponsors {
  h4 {
    color: $light-gray;
    text-align: center;
    padding-top: 2em;
  }

  img {
    margin: 0 1rem;
  }

  p {
    text-align: center;
    padding-bottom: 1em;
  }

  .sprite {
    background-image: url(images/sponsors.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 70px;
    margin: 0 1rem;
    @include respond-to(phones) {
      background-size: 175px 160px;
      width: 50px;
      height: 35px;
    }
  }

  .sprite-HRB {
    width: 120px;
    @include respond-to(phones) {
      width: 60px;
    }
  }

  .sprite-HRB { @include responsive-sprite(-5px, -5px); }
  .sprite-aeropostale { @include responsive-sprite(-135px, -5px); }
  .sprite-channel-one { @include responsive-sprite(-5px, -85px); }
  .sprite-fastweb { @include responsive-sprite(-115px, -85px); }
  .sprite-toyota { @include responsive-sprite(-5px, -165px); }
  .sprite-jetblue { @include responsive-sprite(-115px, -165px); }
  .sprite-aarp { @include responsive-sprite(-245px, -5px); }
  .sprite-sprint { @include responsive-sprite(-225px, -85px); }
  .sprite-vh1 { @include responsive-sprite(-225px, -165px); }
  .sprite-walmart { @include responsive-sprite(-5px, -245px); }
  .sprite-amex { @include responsive-sprite(-115px, -245px); }
}