.full-width.wallpaper.internship--wallpaper {
  padding: 75px 125px;
}

.internship--wallpaper-block {
  top: 10%;
  padding: 50px 0 100px;

  @include respond-to(phones) {
    padding: 0 0 25px;
  }
}

.internships--pics {
  display: inline-block;
  padding-left: 6%;
  padding-top: 64px;

  @include respond-to(phones) {
    padding-top: 0;
  }
}

.internships--pic {
  float: left;
  width: 35%;
  margin: -2%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  -webkit-backface-visibility: hidden;
  @include transform(translateY(-150px) rotate(-10deg));
  @include animation(come-in 1.6s ease reverse);
}

.internships--pic1 {
  &.come-in, &.already-visible {
    @include transform(translateY(0) rotate(-4deg));
  }
}

.internships--pic2 {
  &.come-in, &.already-visible {
    @include transform(translateY(0) rotate(1deg));
  }

}

.internships--pic3 {
  &.come-in, &.already-visible {
    @include transform(translateY(0) rotate(6deg));
  }
}

.internships--pic4 {
  &.come-in, &.already-visible {
    @include transform(translateY(0) rotate(-5deg));
  }
}

.internships--pic5 {
  &.come-in, &.already-visible {
    @include transform(translateY(0) rotate(-2deg));
  }
}

.internships--pic6 {
  &.come-in, &.already-visible {
    @include transform(translateY(0) rotate(4deg));
  }
}


.internships--testimonials {
  @include respond-to(widescreens_and_tablets) {
    .column-break .pullquote {
      margin-top: 3rem;
    }

    .column-break:nth-child(odd) .pullquote {
      margin-right: 4rem;
    }

    .column-break:nth-child(even) .pullquote {
      text-align: right;
      margin-left: 4rem;
    }
  }  
}
