.newchrome--nav {
  background: #111;
  color: #fff;
  padding: 0.3rem;
  overflow: hidden;

  a {
    color: #fff;
    text-decoration: none;
  }

  .newchrome--logo {
    float: left;
    display: block;
    width: 55px;
    height: 45px;
    background: transparent url('images/dev/newchrome--logo_d.png') no-repeat center center;
    background-size: 55px 45px;
    padding-left: 0.3rem;

    span {
      display: none;
    } 
  }

  .newchrome--hamburger {
    float: right;
    font-size: 28px;
    padding-top: 4px;
    padding-right: 0.5rem;

    span {
      display: none;
    }
  }
}


.newchrome--bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: #f1f1f1;
  border: 1px solid $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0, 0.2);
  text-align: center;
  padding: 0.5rem;
  @include box-sizing(border-box);

  a.btn {
    width: 80%;
  }
}



.newchrome--footer {
  margin: -55px 0px 0px;

  @media only screen and (max-width: 321px) {
    margin: -20px 0 0 0;
  }

  &.wrapper {
    background: $off-black;
    color: $off-white;
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem;

    a.newchrome--ds-link {
      color: $gold;
      text-decoration: none;
    }

    p {
      color: $off-white;
    }

    p.newchrome--ds-info {
      color: $dark-gray;
      font-size: 0.7rem;
    }
  }
}

