// Base HTML elements

body {
	background: #18408b;
	font: 18px/1.4 $font-din-reg;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-din-headline;
	font-weight: bold;
}

h1 {
	font-size: 4.5rem;
	line-height: 1.2;
	margin: 0.5rem 0 0.25rem;
	@include respond-to(phones) {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 2rem;
	margin-bottom: 0;
	@include respond-to(phones) {
		font-size: 1.5rem;
	}
}

h3 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0;
}

p {
	color: #333;
}

a {
	color: $blue;
}