// Base HTML elements

html {
	font-size: 18px;
}

body {
	background: #18408b;
	font: 18px/1.4 $font-din-regular;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-din-regular;
	font-weight: 600;
}

h1 {
	font-size: 4rem;
	line-height: 1.2;
	margin: 2rem 0 1.25rem;
	@include respond-to(phones) {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 2rem;
	margin: 1.5rem 0 1.25rem;
	@include respond-to(phones) {
		font-size: 1.5rem;
	}
}

h3 {
	font-size: 1.5rem;
	font-weight: 500;
	margin: 0.5rem 0;
}

h4 {
	font-size: 1rem;
}

p {
	color: #333;
	margin: 1em 0;
}

a {
	color: $blue;
}

strong, b {
	font-weight: 600;
}


// header styles
h1, h2, h3, h4, h5, h6 {
	&> span {
		padding: 0.1em 0.25em 0;
	}
}