/* DIN REGULAR REGULAR */
@font-face {
  font-family: "din-regular";
  src: url('/assets/fonts/DINWeb.eot');
  src: url('/assets/DINWeb.eot?iefix') format('eot'), url('/assets/fonts/DINWeb.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

/* DIN REGULAR MEDIUM */
@font-face {
  font-family: "din-regular";
  src: url('/assets/fonts/DINWeb-Medium.eot');
  src: url('/assets/fonts/DINWeb-Medium.eot?iefix') format('eot'), url('/assets/fonts/DINWeb-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

/* DIN REGULAR BOLD */
@font-face {
  font-family: "din-regular";
  src: url('/assets/fonts/DINWeb-Bold.eot');
  src: url('/assets/fonts/DINWeb-Bold.eot?iefix') format('eot'), url('/assets/fonts/DINWeb-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

/* DIN CONDENSED MEDIUM */
@font-face {
  font-family: "din-condensed";
  src: url('/assets/fonts/DINWeb-CondMedium.eot');
  src: url('/assets/fonts/DINWeb-CondMedium.eot?iefix') format('eot'), url('/assets/fonts/DINWeb-CondMedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
