// --------------
//  PROXIMA NOVA
// --------------

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url('assets/fonts/proxima-nova/ProximaNova-Regular.eot');
  src: url('assets/fonts/proxima-nova/ProximaNova-Regular.eot?') format('eot'), url('assets/fonts/proxima-nova/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url('assets/fonts/proxima-nova/ProximaNova-SBold.eot');
  src: url('assets/fonts/proxima-nova/ProximaNova-SBold.eot?') format('eot'), url('assets/fonts/proxima-nova/ProximaNova-SBold.woff') format('woff');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url('assets/fonts/proxima-nova/ProximaNova-Bold.eot');
  src: url('assets/fonts/proxima-nova/ProximaNova-Bold.eot?') format('eot'), url('assets/fonts/proxima-nova/ProximaNova-Bold.woff') format('woff');
}

// ------------
//  L'ENGINEER
// ------------

@font-face {
  font-family: "Engineer";
  font-weight: 400;
  src: url("assets/fonts/engineer/LEngineer-Regular.otf");
}

// ---------------------
//  ICOMOON (ICON FONT)
// ---------------------

@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon/icomoon.eot');
  src: url('assets/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon/icomoon.ttf') format('truetype'),
    url('assets/fonts/icomoon/icomoon.woff') format('woff'),
    url('assets/fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icomoon-icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  @include icomoon-icon;
  content: "\e600";
}
.icon-lock:before {
  @include icomoon-icon;
  content: "\e601";
}
.icon-search:before {
  @include icomoon-icon;
  content: "\e602";
}
