// --------------
//  PROXIMA NOVA
// --------------

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url("fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url("fonts/ProximaNova-Sbold.otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url("fonts/ProximaNova-Bold.otf");
}

// ------------
//  L'ENGINEER
// ------------

@font-face {
  font-family: "Engineer";
  font-weight: 400;
  src: url("fonts/LEngineer-Regular.otf");
}

// -----
//  DIN
// -----

// DIN REGULAR REGULAR
@font-face {
  font-family: "din-regular";
  src: url('fonts/DINWeb.eot');
  src: url('fonts/DINWeb.eot?iefix') format('eot'), url('fonts/DINWeb.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

// DIN REGULAR MEDIUM
@font-face {
  font-family: "din-regular";
  src: url('fonts/DINWeb-Medium.eot');
  src: url('fonts/DINWeb-Medium.eot?iefix') format('eot'), url('fonts/DINWeb-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

// DIN REGULAR BOLD
@font-face {
  font-family: "din-regular";
  src: url('fonts/DINWeb-Bold.eot');
  src: url('fonts/DINWeb-Bold.eot?iefix') format('eot'), url('fonts/DINWeb-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

// DIN CONDENSED MEDIUM
@font-face {
  font-family: "din-condensed";
  src: url('fonts/DINWeb-CondMedium.eot');
  src: url('fonts/DINWeb-CondMedium.eot?iefix') format('eot'), url('fonts/DINWeb-CondMedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
