form.default-form {
  padding: 1em;

  fieldset {
    border: 0;
    padding: 0;
  }

  .two-col {
    select {
      width: 100%;
      margin: 0;
    }

    @include respond-to(phones) {
      width: 100%;
    }
  }
}

// Labels for form elements.
//
// Styleguide 2.1
label {
  float: left;
  clear: both;
  width: 100%;
  margin: 1em 1em 0.5em;
}


// Text input fields.
//
// Styleguide 2.2.1
input[type="text"], input[type="search"] {
  width: 100%;
  font-family: $font-din-regular;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5em 1em 0.3em;
  margin: 0 0 0.5em;
  @include box-sizing(border-box);
  -webkit-appearance: none;
  &:focus {
    outline: 0;
    border: 1px solid $gold;
    box-shadow: 0 0 3px $gold;
  }
}

// Specific style rules for search input fields.
//
// Styleguide 2.2.2
input[type="search"] {
  padding: 0.3em 0.3em 0.1em 36px;
  border-radius: 2em; // fully rounded borders indicate search box
  background: #fff url('images/search.png') no-repeat 16px 8px;
}


// Button styles for both input and anchor buttons. Suitable for all-purpose use.
//
// :hover             - Suble hover state (will not be displayed on touch interfaces)
// :focus             - Focus state for users navigating the page using tab keys.
// :active            - "Pushed" button state
// .disabled          - Disabled (non-interactive) button state. Consider removing button from interface if not necessary to avoid confusion.
// .primary           - Used to bring attention to the main call-to-action on a page. Use sparingly.
// .primary:hover     - Subltle hover on call-to-action button
// .small             - A tiny button.
// .medium            - (Default) A normal button size.
// .large             - A large button. Suitable for call-to-action or other important buttons.
// .x-large           - A really big button. Use sparingly.
//
// Styleguide 2.3
.btn {
  /* base/default (secondary) appearance */
  display: inline-block;
  clear: both;
  background: #eee;
  border: 1px solid #ccc;
  margin: 0.25rem;
  padding: 0.5em 1em 0.3em;
  cursor: pointer;
  color: #333;
  font-family: $font-din-regular;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: $lg-border-radius;
  -webkit-appearance: none;
  &:hover {
    background: $btn-hover;
    @include background-image(linear-gradient(#eee, #ddd));
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.2);
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 5px $blue;
  }
  &:active {
    outline: 0;
    background: #333;
    color: lighten(#333, 10);

    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.2);
    @include background-image(linear-gradient(#ddd, #eee));
  }
  &:link, &:active, &:hover {
    // overrides for default <a> styling
    color: #333;
    text-decoration: none;
  }

  /* primary appearance */
  &.primary {
    background: $btn-color;
    border: 1px solid $btn-border;

    &:hover {
      background: $btn-hover;
      @include background-image(linear-gradient($btn-color, $btn-hover));
    }
    &:focus {
      outline: 0;
      box-shadow: 0 0 5px $blue;
    }
    &:active {
      outline: 0;
      background: $btn-color;
      color: lighten(#333, 10);
      @include background-image(linear-gradient($btn-hover, $btn-color));
    }
  }

  /* sizes */
  &.small {
    font-size: 0.75rem;
  }

  &.medium {
    font-size: 1rem;
  }

  &.large {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &.x-large {
    font-size: 2.5rem;
    font-weight: 600;
  }

  /* disabled state */
  &[disabled="disabled"], &.inactive {
    clear: both;
    background: #ddd;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin: 0.25rem;
    padding: 0.40rem 1em 0.25rem;
    cursor: default;
    color: #efefef;
    font-family: $font-din-regular;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: $lg-border-radius;

    &:hover {
      background: #ddd;
      box-shadow: none;
    }

    &:active {
      outline: 0;
      background: #ddd;
      color: #efefef;

      box-shadow: none;
    }
  }
}

input[type="submit"] {
  white-space: normal; // ensures text wraps to new lines when in an <input> element
}

// Custom styling for select boxes. <mark>At the moment, only Webkit browsers correctly style select elements
// so apperance varies slightly by browser.</mark>
//
// :focus - An active select box (while dropdown is shown or has keyboard focus).
// .dark  - A dark variation of the select box (like used in the Action Finder). Use sparingly.
// .dark:focus - Focused style of the dark select box.
//
// Styleguide 2.4
select {
  position: relative;
  background: #fff;
  border: 1px solid $light-gray;
  border-radius: $lg-border-radius;
  color: #333;
  font-family: $font-din-regular;
  font-size: 1rem;
  padding: 0.5em 3em 0.5em 1em;
  margin: 0.25em;
  background-image: url('../images/dropdown.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;

  -webkit-appearance: none;

  &.dark {
    display: block;
    color: #fff;
    background-color: $dark-gray;
    border: 1px solid $dark-gray;
  }

  &:focus {
    outline: 0;
    border: 1px solid $gold;
    box-shadow: 0 0 3px $gold;
    background-image: url('../images/dropdown_gold.png');
  }

}