// buttons and textfields and labels oh my...

input[type="text"] {
	width: 100%;
  font-family: $font-din-reg;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0.5em 0.5em 0.3em;
  margin: 0 0 0.5em;
	@include box-sizing(border-box);
	&:focus {
		outline: 0;
		border: 1px solid $gold;
		box-shadow: 0 0 3px $gold;
	}

	&.search {
    padding: 0.3em 0.3em 0.1em 48px;
		border-radius: 2em;
    background: url('../images/search.png') no-repeat 12px 50%;
	}
}

label {
  float: left;
	clear: both;
  width: 100%;
	margin: 1em 1em 0.5em;
}

form.default-form {
	padding: 1em;

	.two-col {
		width: 45%;
		margin: 0 2.5%;

    select {
      width: 100%;
      margin: 0;
    }

    @include respond-to(phones) {
      width: 100%;
    }
	}

	.clear-columns {
		clear: both;
		padding: 1em;
	}
}

// buttons
.btn {
  clear: both;
  display: block;
  background: $btn-color;
  margin: 0 auto;
  padding: 0.40em 1em 0.25em;
  border: 1px solid $btn-border;
  cursor: pointer;
  color: #333;
  font-family: $font-din-reg;
  font-weight: 600;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background: $btn-hover;
    @include background-image(linear-gradient($btn-color, $btn-hover));
    box-shadow: 0 10px 10px -10px #bbb;
  }
  &:focus {
  	outline: 0;
  	box-shadow: 0 0 5px $blue;
  }
  &:active {
  	outline: 0;
  	background: $btn-color;
  	color: lighten(#333, 10) !important;
    padding: 0.45em 1em 0.2em !important;
    
    box-shadow: 0 10px 10px -10px #bbb;
    @include background-image(linear-gradient($btn-hover, $btn-color));
  }
  &:link, &:active, &:hover {
    color: #333;
    text-decoration: none !important;
  }

  &.primary {
    
  }

  &.small {
    font-size: 1rem;
  }

  &.medium {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &.large {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

// select boxes
select {
  position: relative;
  background: #fff;
  border: 1px solid $light-gray;
  border-radius: 5px;
  color: #333;
  font-family: $font-din-reg;
  padding: 0.5em 1em;
  margin: 0.25em;
  background-image: url('../images/dropdown.png');
  background-position: 95% 50%;
  background-repeat: no-repeat;

  -webkit-appearance: none;
  -moz-appearance: none;
  // &:after {
  //   position: absolute;
  //   display: block;
  //   color: red;
  //   content: "DOWN ARROW";
  //   right: 5px;
  //   z-index: 1000;
  // }
  &.dark {
    display: block;
    width: 300px;
    margin: 0.25em auto;
    color: #fff;
    background-color: $dark-gray;
    border: 1px solid $dark-gray;
  }

  &:focus {
    outline: 0;
    border: 1px solid $gold;
    box-shadow: 0 0 3px $gold;
    background-image: url('../images/dropdown_gold.png');
  }

}