@import "../vendor/neat/neat-helpers";

// Set up grid measurements (using desktop dimensions to
// calculate, but they'll get made into percentages).
$column: 80px;
$gutter: 20px;
$max-width: 1200px;

$grid-columns: 6; // mobile first, dude

// Breakpoints:
$tablet: new-breakpoint(min-width 768px 12); // 12 columns
$desktop: new-breakpoint(min-width 1080px 12); // 12 columns

// Development
$visual-grid: true;
$visual-grid-index: front;
$visual-grid-color: #fcc;
