// re-usable layout (grid) elements

.flexwidth-wrapper {
	@include flex-width;
	margin: 0 auto;
}

section.full-width {
	clear: both;
	width: 100%;
	margin: 0 0 4rem;
	@include box-sizing(border-box);
}

/** Used for blog pages, FAQ sections, etc */
.content-center {
	width: 70%;
	min-width: 300px;
	margin: 0 auto;
	padding: 24px;
	overflow: hidden;

	&.narrow {
		width: 60%;
	}

	h1, h2 {
		text-align: center;
	}

	figure {
		padding: 2.5%;

		img {
			max-width: 100%;
		}
	}

	figcaption {
		color: #999;
		font-size: 0.8rem;
		text-align: center;
		padding: 0.5em 1em;
	}
}

.column-break {
	clear: both;
	padding: 1rem 0;
	overflow: hidden;
}

.one-col {
	width: 100%;
	padding: 0 2.5%;
	@include box-sizing(border-box);
}

.two-col {
	float: left;
	width: 50%;
	padding: 0 2.5%;
	@include box-sizing(border-box);

	@include respond-to(phones) {
		float: none;
		width: 95%;
		margin: 0 auto;
	}
}

.three-col {
	float: left;
	width: 33.333333333%;
	padding: 0 2.5%;
	@include box-sizing(border-box);

	img {
		max-width: 100%;
	}

	// span over two columns in a three-column layout
	&.span-two {
		width: 66.66666666%;
		padding: 0 2.5%;
	}

	@include respond-to(phones) {
		float: none;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}
}

/** Used for campaign steps/prizes. Styles elements in column layouts. */
.block {
	margin: 0;
	padding: 1rem;

	@include respond-to(phones) {
		margin: 0 auto;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 1rem auto 2rem;
	}

	h1, h2, h3, h4 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}

/** Used at the end of forms or other floated column layouts. */
.callout {
  clear: both;
  padding: 1em;
  text-align: center;
}


.btn-top {
	color: #999;
	font-size: 0.9rem;
}

.pager {
	clear: both;
	text-align: center;
	margin: 2rem;

	li {
		display: inline-block;

		a {
			background: #eee;
			border: 1px solid #eee;
			border-radius: 5px;
			text-decoration: none;
			padding: 0.5rem 1.5rem;
			margin: 0 0.5rem;

			&:hover {
				background: #ddd;
				border: 1px solid #ddd;
			}
		}

		span {
			background: #fefefe;
			border: 1px solid #eee;
			border-radius: 5px;
			padding: 0.5rem 1.5rem;
			margin: 0 0.5rem;
		}
	}
}
