// re-usable layout (grid) elements

.flexwidth-wrapper {
	@include flex-width;
	margin: 0 auto;
}

section.full-width {
	clear: both;
	width: 100%;
	margin: 0 0 4rem;
}

/** Used for blog pages, FAQ sections, etc */
.content-center {
	width: 70%;
	min-width: 300px;
	margin: 0 auto;
	padding: 24px;

	&.narrow {
		width: 60%;
	}

	h1, h2 {
		text-align: center;
	}

	figure {
		padding: 2.5%;

		img {
			max-width: 100%;
		}
	}

	figcaption {
		color: #999;
		font-size: 0.8rem;
		text-align: center;
		padding: 0.5em 1em;
	}
}

.one-col {
	width: 95%;
	padding: 0 2.5%;
}

.two-col {
	float: left;
	width: 45%;
	padding: 0 2.5%;

	@include respond-to(phones) {
		width: 95%;
	}
}

.three-col {
	float: left;
	width: 28.33333333%;
	padding: 0 2.5%;

	@include respond-to(phones) {
		width: 95%;
	}
}

/** Used for campaign steps/prizes. Styles elements in column layouts. */
.block {
	margin: 1em 0;

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	h1, h2, h3, h4 {
		text-align: center;
	}

	p {
		text-align: center;
	}
}

/** Used at the end of forms or other floated column layouts. */
.callout {
  clear: both;
  padding: 1em;
  text-align: center;
}


.btn-top {
	color: #999;
	font-size: 0.9rem;
}

.pager {
	clear: both;
	text-align: center;
	margin: 2rem;

	li {
		display: inline-block;

		a {
			background: #eee;
			border: 1px solid #eee;
			border-radius: 5px;
			text-decoration: none;
			padding: 0.5rem 1.5rem;
			margin: 0 0.5rem;

			&:hover {
				background: #ddd;
				border: 1px solid #ddd;
			}
		}

		span {
			background: #fefefe;
			border: 1px solid #eee;
			border-radius: 5px;
			padding: 0.5rem 1.5rem;
			margin: 0 0.5rem;
		}
	}
}
