/* This section includes re-usable layout/grid elements */

// Full width centered page wrapper. Resizes fluidly from $max-width as viewport width decreases.
//
// Styleguide 3.1.1
.flexwidth-wrapper {
  @include flex-width;
  margin: 0 auto;
}

// Basic full-width "section" used on campaign pages, etc. Clears floats and adds bottom margin for spacing.
//
// Styleguide 3.1.2
section.full-width {
  clear: both;
  margin: 0 0 4rem;
  @include box-sizing(border-box);
}

// Used for blog pages, FAQ sections, etc. Intended to decrease line-width of paragraphs for easier reading.
//
//  .narrow - even narrower line-width!
//
// Styleguide 3.2
.content-center {
  width: 70%;
  margin: 0 auto;
  padding: 0 24px;
  overflow: hidden;
  @include box-sizing(border-box);
  @include respond-to(phones) {
    width: 100%;
    padding: 16px 24px;
  }

  &.narrow {
    width: 60%;

    @include respond-to(phones) {
      width: 90%;
    }
  }

  h1, h2 {
    text-align: center;
  }

  figure {
    padding: 2.5%;

    img {
      max-width: 100%;
    }
  }

  figcaption {
    color: $dark-gray;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5em 1em;
  }
}

// Single column grid element.
//
// Styleguide 3.3.1
.one-col {
  width: 100%;
  padding: 0 2.5%;
  @include box-sizing(border-box);
}

// Two column grid element. Stacks vertically on mobile.
//
// Styleguide 3.3.2
.two-col {
  float: left;
  width: 50%;
  padding: 0 2.5%;
  @include box-sizing(border-box);

  @include respond-to(phones) {
    float: none;
    width: 95%;
    margin: 0 auto;
  }
}

// Three column grid element. Stacks vertically on mobile.
//
// .span-two - Allows an element to span two columns in a three-column layout.
//
// Styleguide 3.3.3
.three-col {
  float: left;
  width: 33.333333333%;
  padding: 0 2.5%;
  @include box-sizing(border-box);

  // span over two columns in a three-column layout
  &.span-two {
    width: 66.66666666%;
    padding: 0 2.5%;
  }

  @include respond-to(phones) {
    float: none;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

// Applies styles to grid content block elements, for example campaign steps/prizes.
//
// Styleguide 3.4
.block {
  margin: 0;
  padding: 1rem;

  @include respond-to(phones) {
    margin: 0 auto;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 1rem auto 2rem;
  }

  h1, h2, h3, h4 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

// "Feature" blocks call attention to a link with a big picture and big typography.
//
// Styleguide 3.5
.feature {
  position: relative;
  background: $off-white;
  color: #fff;
  text-align: center;
  margin: 0 0 0.35rem;
  padding: 0;
  overflow: hidden;
  background-size: cover;

  h1, h2 {
    font-family: $font-din-condensed;
    text-transform: uppercase;
    padding: 0 1rem;
    margin: 1rem 0 0;
  }

  p {
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 0 1rem;
  }

  .headline {
    display: table;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(0,181,224);
    background: rgba(0,181,224,0.4);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    z-index: 1;
    @include box-sizing(border-box);

    &.purple {
      background: rgb(80, 40, 98);
      background: rgba(80, 40, 98, 0.4);
    }

    &.yellow {
      background: rgb(222, 177, 39);
      background: rgba(222, 177, 39, 0.4);
    }

    &.red {
      background: rgb(180, 43, 37);
      background: rgba(180, 43, 37, 0.4);
    }

    &.teal {
      background: rgb(0, 169, 157);
      background: rgba(0, 169, 157, 0.4);
    }

    &.big {
      display: block;
      padding: 1em;

      @include respond-to(phones) {
        height: 100%;
      }
    }
  }

  .row {
    display: table-row;
    margin: 0 auto;
  }

  .headline-text {
    display: table-cell;
    vertical-align: middle;
    height: 170px;
    padding: 0 1em;
    overflow: hidden;

    h3 {
      font-size: 1.25rem;
    }
  }

  .block-cta {
    display: table-cell;
    vertical-align: middle;
    height: 130px;

    @include respond-to(tablets_and_phones) {
      height: 170px;
    }
  }

  .description {
    @include respond-to(widescreens_and_tablets) {
      text-align: left;
      padding: 1rem;
      width: 70%;
      max-width: 500px;
    }
  }

  .action {
    font-family: $font-din-condensed;
    text-transform: uppercase;


    @include respond-to(widescreens_and_tablets) {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 1.5rem;
      text-align: right;
    }
  }

}

/** Style overrides based on block size **/
.feature.one-col {
  margin-top: 0.75rem;
  @include transition(height 0.25s);

  &.fixed {
    height: 450px;
    @include respond-to(tablets_and_phones) {
      height: 350px;
      margin-top: 0.35rem;
    }
    @include respond-to(phones) {
      height: 300px;
    }
  }
}

.feature.two-col {
  width: 49.5%;
  margin-bottom: 0.35rem;

  &.fixed {
    height: 225px;
  }

  &.left {
    margin-right: 0.5%;
  }

  &.right {
    float: right;
    margin-left: 0.5%;
  }
}

.feature.three-col {
  width: 33%;
  margin-bottom: 0.35rem;
  @include transition(height 0.25s);

  &.fixed {
    height: 300px;
    @include respond-to(tablets_and_phones) {
      height: 170px;
    }
    @include respond-to(phones) {
      width: 100%;
      max-width: none;
    }
  }

  &.left {
    margin-right: 0.5%;
  }

  &.right {
    float: right;
    margin-left: 0.5%;
  }

  .headline {
    display: block;
    position: relative;
    bottom: -140px;
    @include transition(bottom 0.25s);

    @include respond-to(tablets_and_phones) {
      bottom: 0px;
    }
  }

  a:hover ~.headline {
    bottom: 0;
    @include respond-to(tablets_and_phones) {
      bottom: 170px;
    }
  }
}


// Used to style "back to top" links.
//
// Styleguide 3.6.1
.btn-top {
  color: $dark-gray;
  font-size: 0.9rem;
}

// Used for pagination links (1, 2, 3, next, etc.).
//
// Styleguide 3.6.2
.pager {
  clear: both;
  text-align: center;
  margin: 2rem;

  li {
    display: inline-block;
    margin: 1rem 0;
  }
}

// Stylized "polaroid" image, with a thick border and subtle shadow.
//
// Styleguide 3.7.1
img.bordered {
  border: 5px solid #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  @include box-sizing(border-box);
}

// Utility class which clears floated columns and makes a new block formatting context.
//
// Styleguide 3.8.1
.column-break {
  clear: both;
  padding: 1rem 0;
  overflow: hidden;
}

// Used at the end of forms or other floated column layouts.
//
// Styleguide 3.8.2
.callout {
  clear: both;
  padding: 1rem 0;
  text-align: center;
}

// Utility class to make links fill their parent container. Also applies button hover
// effects to adjacent buttons.
//
// Styleguide 3.8.3
.full-link {
  position: absolute;
  background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'); // fixes link z-indexing in IE. yeah, really.
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  span {
    display: none;
  }

  &:hover ~ .full-link-delegate a {
    text-decoration: underline;
  }

  &:hover ~ .headline .btn {
    background: $btn-hover;
    @include background-image(linear-gradient($btn-color, $btn-hover));
  }

  &:active ~ .headline .btn {
    background: $btn-color;
    color: lighten(#333, 10);
    @include background-image(linear-gradient($btn-hover, $btn-color));
  }
}
