// Bourbon Neat outer-container mixin with support for outer gutters.
@mixin outer-container-margin {
  @include outer-container;
  max-width: $max-width;
  padding: 0 flex-gutter($grid-columns) / 2;
  @include box-sizing(content-box);
  @each $breakpoint in $visual-grid-breakpoints {
    @if $breakpoint != nil {
      @include media($breakpoint) {
        padding: 0 flex-gutter($grid-columns);
      }
    }
  }
}

// Shortcut for writing sprites that scale down on mobile displays.
@mixin responsive-sprite($pos-x, $pos-y) {
  background-position: $pos-x/2 $pos-y/2;
  @include media($tablet) { background-position: $pos-x $pos-y; }
}

// Border highlight on input focus
@mixin highlight-on-focus {
  &:focus {
    outline: 0;
    border: 1px solid $blue;
    box-shadow: 0 0 3px $blue;
  }
}
