// Consistent indentation for elements in the mobile views to allow for full-width images, formes, etc.
// @TODO - This method scales terribly; revisit.
@mixin section-padding {
  padding: 0 1.5rem;
}

// Shortcut for writing sprites that scale down on mobile displays.
@mixin responsive-sprite($pos-x, $pos-y) {
  background-position: $pos-x/2 $pos-y/2;
  @include media($tablet) { background-position: $pos-x $pos-y; }
}

// Border highlight on input focus
@mixin highlight-on-focus {
  &:focus {
    outline: 0;
    border: 1px solid $blue;
    box-shadow: 0 0 3px $blue;
  }
}

// Cleaner calling of our icon font
@mixin icomoon-icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
