// --------
//  Colors
// --------

// Primary
$blue: #23b7fb;
$purple: #4e2b63;
$yellow: #fed100;

// Grayscale
$off-black: #222;
$dark-gray: #444;
$med-gray: #999;
$light-gray: #ddd;

// System
$light-yellow: #fcf6e5;
$red: #ff4747;

// Body copy
$copy-color: #444;

// Modifiers
$color-tint: 10%;

// ------------
//  Typography
// ------------

// Families
$font-sans: "Trebuchet MS", sans-serif;
$font-proxima-nova: "Proxima Nova";
$font-hand-written: "CoveredGrace";

// Weights
$weight-normal: 400;
$weight-sbold: 600;
$weight-bold: 700;

// Sizes
$font-hero: 4rem;
$font-largest: 3.157rem;
$font-larger: 2.369rem;
$font-large: 1.777rem;
$font-medium: 1.2rem;
$font-regular: 1rem;
$font-small: 0.75rem;
$font-smaller: 0.563rem;
$font-smallest: 0.422rem;

// Unicode
$unicode-check: "\e60b";
$unicode-error: "\e608";
$unicode-flag: "\2691";

// -------------
//  Breakpoints
// -------------

$break-small: 730px;
$break-large: 1160px;

// ------------
//  Decoration
// ------------

$sm-border-radius: 2px; // for accent (images, text fields, etc)
$lg-border-radius: 5px; // used for primary interactive elements (buttons, etc)
