// Colors
// ------------------
$blue: #18408b;
$gold: #fed100;
$purple: #502862;
$dark-gray: #333131;

// Fonts
// ------------------
$font-sans: "Trebuchet MS", sans-serif;
$font-din-headline: din-web, "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, $font-sans;
$font-din-reg: din-web-reg, $font-sans;

// Dimensions
// ------------------
$break-small: 700px;
$break-large: 1160px;