// Colors
// ------------------
$blue: #18408b;
$gold: #fed100;
$purple: #502862;
$light-gray: #dddddd;
$dark-gray: #333131;

$btn-color: #FFCB15;
$btn-hover: #FEB800;
$btn-border: $btn-hover;
$btn-gray: #ccc;

// Fonts
// ------------------
$font-sans: "Trebuchet MS", sans-serif;
$font-din-condensed: din-condensed, "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, $font-sans;
$font-din-regular: din-regular, $font-sans;

// Dimensions
// ------------------
$break-small: 700px;
$break-large: 1160px;