// Forms - Form Actions
//
// Container for form actions, such as submit buttons.
//
// .-padded - Adds top and bottom padding, for use independent of form items.
//
// Markup:
//   <div class="form-actions {{modifier_class}}">
//     <input type="submit" class="button" value="Submit">
//   </div>
//   <ul class="form-actions {{modifier_class}}">
//     <li><a href="#">Forgot your password?</a></li>
//     <li><a href="#">Create an account</a></li>
//   </ul>
//
// Styleguide Forms - Form Action
.form-actions {
  text-align: center;
  margin-top: ($base-spacing / 2);

  &.-padded {
    margin: $base-spacing 0;
  }
}

.form-actions + .form-actions {
  margin-top: $base-spacing;
}


// Forms - Inline Form Actions
//
// Container for form actions, with all items shown in a row.
//
// .-padded - Adds top and bottom padding, for use independent of form items.
//
// Markup:
//   <ul class="form-actions -inline {{modifier_class}}">
//     <li><input type="submit" class="button" value="Submit"></li>
//     <li><input type="submit" class="button -tertiary" value="Skip"></li>
//   </ul>
//
// Styleguide Forms - Inline Form Action
.form-actions.-inline {
  li {
    display: table-cell;
    vertical-align: middle;
  }

  li + li {
    padding-left: $base-spacing;
  }

  .button {
    font-size: $font-regular;
    padding-top: ($base-spacing / 2) + 2px;
    padding-bottom: ($base-spacing / 2) - 2px;
  }
}
