// Forms - Text Field
//
// Single-line text input fields.
//
// :focus         - Field is selected for text input
// .-search       - Search field appearance
// .is-loading    - Loading indicator, for example while fetching an AJAX response.
// .has-error     - Error state, used for validation issues.
//
// Markup:
//   <label class="field-label">First Name</label>
//   <input type="text" class="text-field {{modifier_class}}" placeholder="Type something...">
//
// Styleguide Forms - Text Field
.text-field {
  width: 100%;
  font-family: $font-handwritten;
  font-size: $font-medium;
  border: 0;
  border-bottom: 2px solid $med-gray;
  background-clip: padding-box;
  padding: 0 ($base-spacing / 4);
  margin: 0;
  transition: border 0.5s;

  &::-webkit-input-placeholder { font-family: $font-proxima-nova; font-size: $font-regular; color: $light-gray; line-height: 1.8; }
  &::-moz-placeholder { font-family: $font-proxima-nova;  font-size: $font-regular;color: $light-gray; line-height: 1.8; }
  &:-moz-placeholder { font-family: $font-proxima-nova; font-size: $font-regular; color: $light-gray; line-height: 1.8; }
  &:-ms-input-placeholder { font-family: $font-proxima-nova; font-size: $font-regular; color: $light-gray; line-height: 1.8; }

  // Fixes styling in Firefox/Safari; non-standard properties so not autoprefixed.
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
    border-color: $blue;
  }

  &.-search, &.is-loading {
    background: #fff no-repeat 12px 50%;
    background-size: 18px 18px;
    padding-left: 36px;
  }

  &.-search {
    background-image: data-url($data-search-svg);
    padding-right: 0;

    // Search "cancel" button does not render properly on fields with padding.
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    .modernizr-no-svg & {
      background-image: neue-asset-url("images/fallbacks/search.png");
    }
  }

  &.is-loading {
    background-image: data-url($data-spinner-svg);

    .modernizr-no-svg &,
    .modernizr-no-smil & {
      background-image: neue-asset-url("images/fallbacks/spinner16.gif");
    }
  }

  &.has-error {
    border-color: $error-color;
  }
}


// Textarea Field
//
// Multi-line text area fields. Can be resized vertically on capable browsers.
//
// Markup:
//   <textarea name="textarea" class="text-field" placeholder="Write something here..."></textarea>
//
// Styleguide Forms - Textarea Field
textarea.text-field {
  resize: vertical;
}

