/*----------------------------------------------------------------------------
  @group Styleguide Styles
----------------------------------------------------------------------------*/

h1.styleguide {
  margin: 0 0 -5px 0;
  font-size: 24px;
  color: #000; }

.styleguide-example {
  margin: 15px 0;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .styleguide-example > h3 {
    margin: 0;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background: #333;
    border-top: 1px solid #000; }
    .styleguide-example > h3 em {
      float: right;
      text-transform: none;
      font-style: normal;
      font-weight: normal;
      color: #999; }
  .styleguide-example .styleguide-description {
    padding: 10px 5px;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd; }
    .styleguide-example .styleguide-description p:first-child {
      margin-top: 0; }
    .styleguide-example .styleguide-description p:last-child {
      margin-bottom: 0; }
  .styleguide-example .styleguide-element {
    overflow: hidden;
    position: relative;
    padding: 20px; }
  .styleguide-example .styleguide-element + .styleguide-element {
    margin-top: -5px;
    padding-top: 15px;
    border-top: 1px solid #eee; }
  .styleguide-example .styleguide-element .styleguide-modifier-name {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    font-size: 11px;
    color: #999;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-top: none; 
    z-index: 10;}
  .styleguide-example .styleguide-html {
    padding: 5px 10px;
    background: #edf6f8;
    border-top: 1px solid #dde7ea;
    overflow: auto; }
    .styleguide-example .styleguide-html .highlight {
      background: none; }
  .styleguide-example ul.styleguide-modifiers {
    margin: 0 0 0 10px; }
    .styleguide-example ul.styleguide-modifiers li {
      list-style-type: none;
      margin-left: 0; }
    .styleguide-example ul.styleguide-modifiers li strong {
      font-family: Monaco, monospace;
      font-size: 12px;
      font-weight: normal;
      color: #222; }
  .styleguide-example > .styleguide-code {
    font-family: Monaco, monospace;
  }

  ul.styleguide-modifier {
    list-style-type: none;
    padding: 0.5em 1em;
    margin-left: 0;
  }

  ul.styleguide-modifier li {
    margin-bottom: 0.25em;
  }

/* @end */

/* Custom KSS style overrides: */
.kss-no-padding .styleguide-element {
  padding: 0;
}

.kss-dark .styleguide-element {
  background: #666;
}

.kss-min-height .styleguide-element {
  min-height: 300px;
}


/* Custom Neue stuff: */
.font-tile {
  margin: 1rem;
  border: 1px solid #eee;
  padding: 1em;
  border-radius: 2px;
}

.font-tile code {
  color: rgba(0, 0, 0, 0.5);
}

.color-tile {
  float: left;
  width: 45%;
  margin: 0 2.5% 5%;
  background: #eee;
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  padding: 2em 1em;
  border-radius: 2px;
  box-sizing: border-box;
}

.color-tile code {
  color: rgba(255, 255, 255, 0.7);
}

.js-color-label {
  display: block;
}

/* mock columns/rows/asides for visualizing grid */
.styleguide-element .column {
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  text-align: center;
  padding: 0.5rem 0;
}

.row-example .row {
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  text-align: center;
  padding: 0.5rem 0;
}

.styleguide-example .aside {
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  text-align: center;
  padding: 0.5rem 0;
}
