@import "compass/css3";

@mixin flex-width {
	max-width: $break-large - 100px;
	width: 100%;
}

@mixin flex-width-custom($adjustment) {
  max-width: $break-large - 100px + $adjustment;
  width: 100% + ($adjustment / $break-large) * 100%;
}

@mixin respond-to($media) {
  @if $media == tablets_and_phones {
    @media only screen and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == phones {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == widescreens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}