// Entire page wrapper. Used to lock page in place while modals are open.
.chrome {
  width: 100%;
}

// Main content wrapper.
//
// No styleguide reference.
.chrome--wrapper {
  position: relative;
  width: 100%;
  max-width: $max-width;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

