// Chrome
//
// The entire page should be wrapped in `.chrome` to lock page in
// place while modals are open. The page content should be wrapped
// in a `.wrapper` to set max-width and apply background
// box shadow to the page.
//
// Styleguide Chrome
.chrome {
  width: 100%;

  // Main content wrapper.
  > .wrapper {
    position: relative;
    width: 100%;
    background: $white;
    box-shadow: 0 0 10px rgba($black, 0.2);

    @include container(16);
  }

  // See also: _modal.scss (.chrome.has-modal)

  // See also: _navigation.scss (.chrome.has-mobile-menu)
}


