// Footer
//
// Chrome footer with social links & footer menus.
//
// Markup:
//   <footer class="footer">
//     <div class="footer__columns">
//       <div class="footer__column -social">
//         <ul>
//           <li><a href="#" class="social-icon -facebook"><span>Facebook</span></a></li>
//           <li><a href="#" class="social-icon -twitter"><span>Twitter</span></a></li>
//           <li><a href="#" class="social-icon -tumblr"><span>Tumblr</span></a></li>
//           <li><a href="#" class="social-icon -instagram"><span>Instagram</span></a></li>
//           <li><a href="#" class="social-icon -youtube"><span>YouTube</span></a></li>
//         </ul>
//       </div>
//       <div class="footer__column -links">
//         <h4 class="js-toggle-collapsed">Who We Are</h4>
//         <ul>
//           <li><a href="#">What is this?</a></li>
//           <li><a href="#">Who are they?</a></li>
//           <li><a href="#">Why are we?</a></li>
//         </ul>
//       </div>
//       <div class="footer__column -links">
//         <h4 class="js-toggle-collapsed">Our Friends</h4>
//         <ul>
//           <li><a href="#">Freshman</a></li>
//           <li><a href="#">ROTC Guys</a></li>
//           <li><a href="#">Preps</a></li>
//           <li><a href="#">Varsity Jocks</a></li>
//           <li><a href="#">Unfriendly Black Hotties</a></li>
//           <li><a href="#">The greatest people you will ever meet</a></li>
//         </ul>
//       </div>
//       <div class="footer__column -links">
//         <h4 class="js-toggle-collapsed">Get Involved</h4>
//         <ul>
//           <li><a href="#">Do things</a></li>
//           <li><a href="#">Do other things</a></li>
//         </ul>
//       </div>
//     </div>
//     <div class="footer__subfooter">
//       <ul>
//         <li><a href="#">Terms of Service</a></li>
//         <li><a href="#">Privacy Policy</a></li>
//       </ul>
//     </div>
//   </footer>
//
// Styleguide Footer
.footer {
  clear: both;
  width: 100%;
  background: $black;
  @include clearfix;

  @include media($mobile) {
    display: table;
  }

  @include media($tablet) {
    padding: gutter();
    padding-top: $base-spacing;
  }

  .footer__columns {
    display: table;
    width: 100%;
  }

  .footer__column {
    padding: gutter();

    @include media($mobile) {
      width: 100%;
      display: block;
      border-bottom: 1px solid $dark-gray;
    }

    @include media($tablet) {
      margin-bottom: $base-spacing;
      @include span(3);
    }

    &.-social {
      text-align: center;

      @include media($mobile) {
        display: table-footer-group;
      }

      @include media($tablet) {
        text-align: left;

        @include span(7);
      }

      li, a {
        display: inline-block;
      }

      .social-icon {
        margin: ($base-spacing / 2);

        @include media($tablet) {
          margin-top: 0;
        }
      }
    }
  }

  h4 {
    position: relative;
    color: $white;

    @include media($mobile) {
      // Only display toggle arrow if script works
      &.is-toggleable {
        cursor: pointer;

        &:after {
          @include icomoon-icon;
          position: absolute;
          top: -5px;
          right: -5px;
          content: "\e607"; // right arrow
          color: $med-gray;
          font-size: 32px;
          transform: rotate(90deg); // rotate to down arrow
          transition: transform 0.25s;
        }
      }

      // Hide column's links when collapsed
      &.is-collapsed {
        margin-bottom: 0;

        &:after {
          transform: rotate(0deg); // rotate to right arrow
        }

        + ul {
          max-height: 0;
        }
      }
    }
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    max-height: 500px;
    transition: max-height 0.25s;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
    font-size: $font-smaller;
    color: $med-gray;
    padding: ($base-spacing / 4) 0;

    &:hover {
      color: #fff;
    }

    @include media($tablet) {
      padding: 0;
    }
  }
}

.footer__subfooter {
  clear: both;
  font-size: $font-smaller;
  border-top: 1px solid $dark-gray;
  padding: ($base-spacing / 2);

  ul {
    text-align: center;
    list-style-type: none;

    @include media($tablet) {
      text-align: right;
    }

    li {
      display: inline;

      + li {
        padding-left: $base-spacing;
      }
    }

    a {
      display: inline;
    }
  }
}
