// Chrome footer with social links & footer menus.
//
// Styleguide Site Footer
.footer {
  width: 100%;
  background: $black;
  overflow: auto;

  @include media($tablet) {
    padding: gutter();
  }

  h4 {
    position: relative;
    color: $white;

    &:after {
      @include icomoon-icon;
      content: "\e609";
      color: $med-gray;
      font-size: 32px;
      position: absolute;
      right: 4px;
      top: -0.36px;
      transform: rotate(0);
      transition-property: transform;
      transition-duration: 0.25s;
    }

    @include media($tablet) {
      &:after {
        content: "";
      }
    }
  }

  ul {
    list-style-type: none;

    @include media($tablet) {
      padding: 0;
    }
  }

  li {
    margin: 0;
  }

  a {
    display: block;
    font-size: $font-smaller;
    padding: $base-spacing / 2;
    color: $med-gray;

    &:hover {
      color: #fff;
    }

    @include media($tablet) {
      line-height: 1.75;
      padding: 0;
    }
  }
}

.col {
  @include clearfix;

  @include media($tablet) {
    @include span(3);
    margin-bottom: 36px;
  }

  &.is-collapsed {
    h4:after {
      transform: rotate(-90deg);
    }

    ul {
      overflow: hidden;
      padding: 0 4px;
      height: 0;
    }

    @include media($tablet) {
      h4:after {
        content: "";
      }

      ul {
        height: auto;
        padding: 0;
        transition: none;
      }
    }
  }
}

.help, .knowus, .about {
  border-top: 1px solid $dark-gray;

  @include media($tablet) {
    border-top: 0;
    border-bottom: 0;
  }
}

.about {
  border-bottom: 1px solid $dark-gray;

  @include media($tablet) {
    border-bottom: 0;
  }
}

// Social media icon links.
.social {
  text-align: center;

  // Mobile design (separate markup to re-position below menu).
  // @TODO: Gross. Let's see if we can clean this up in future iterations.
  &.mobile {
    padding: 9px 0;

    @include media($tablet) {
      display: none;
    }
  }

  // Tablet and desktop markup (separate markup to re-position in first column).
  &.tablet {
    display: none;

    @include media($tablet) {
      display: block;
    }
  }

  @include media($tablet) {
    float: left;
    border-top: 0;
    margin-top: 30px;
    text-align: left;
    @include span(7);
  }

  li {
    display: inline-block;
    margin-right: 0;

    @include media($tablet) {
      margin-right: 16px;
    }
  }

  a {
    display: block;
    font-size: $font-smaller;
    color: $med-gray;
    line-height: 2;

    &:hover {
      color: #fff;
    }

    @include media($tablet) {
      line-height: $unitless-line-height;
    }
  }
}

.subfooter {
  clear: both;
  font-size: $font-smaller;
  border-top: 1px solid $dark-gray;
  padding: $base-spacing 0;

  .utility {
    text-align: center;
    list-style-type: none;

    @include media($tablet) {
      text-align: right;
    }

    li {
      display: inline;
    }

    a {
      display: inline;
      padding-left: $base-spacing;
    }
  }
}
