// Chrome navigation with logo, navigation, and search. Use `.-floating` modifier to float above
// page content (such as appearing over a __Header__ region).
//
// .-white     - Use white navigation text and search field (with subtle drop shadow).
//
// Styleguide Navigation
.navigation {
  width: 100%;

  @include media($tablet) {
    padding: $base-spacing 0;
  }

  // Use white navigation text and search field (with subtle drop shadow).
  &.-white {
    @include media($tablet) {
      a {
        color: #fff;
        text-shadow: $text-shadow;
      }

      .text-field {
        color: #fff;
        text-shadow: $text-shadow;
        border: 1px solid #fff;
        box-shadow: 0 1px 3px rgba(#000, 0.2),
        inset 0 1px 3px rgba(#000, 0.2);
      }

      .text-field.-search {
        background-image: neue-asset-url("images/search_white.svg");

        .modernizr-no-svg & {
          background-image: neue-asset-url("images/fallbacks/search_white.png");
        }
      }
    }

    .navigation__toggle {
      color: #fff;
      text-shadow: $text-shadow;
    }
  }

  // Navigation should float above following elements on the page.
  &.-floating {
    position: absolute;
    top: 0;
    margin-bottom: 0;
    z-index: 100;
  }

  // Mobile navigation view
  &.is-visible {
    @include media($mobile) {
      .navigation__logo {
        position: fixed;
      }

      .navigation__toggle {
        position: fixed;
        color: #fff;
      }

      .navigation__menu {
        display: block;
        animation: zoomIn 0.5s;
      }
    }
  }

  a {
    color: $off-black;
    text-decoration: none;
    text-shadow: $text-emboss;
  }
}

// DoSomething.org logo container
.navigation__logo {
  float: left;
  padding: gutter();

  &:after {
    content: "";
    display: block;
    background: neue-asset-url("images/logo.svg");
    width: 72px;
    height: 60px;
  }

  .modernizr-no-svg &:after {
    background: neue-asset-url("images/logo.png");
  }

  @include media($mobile) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
  }

  @include media($tablet) {
    @include span(2);
    min-width: 96px;
    padding: 0 gutter();
  }

  @include media($desktop) {
    &:after {
      margin-left: gutter();
    }
  }

  span {
    @include visually-hidden;
  }
}

// Mobile "hamburger" menu toggle
.navigation__toggle {
  position: absolute;
  top: gutter();
  right: gutter();
  padding: gutter();
  z-index: 9998;

  &:after {
    @include icomoon-icon;
    content: "\e608";
    font-size: 32px;
    text-decoration: none;
  }

  @include media($tablet) {
    display: none;
  }

  span {
    @include visually-hidden;
  }
}

// Contents of menu, toggled on-and-off on mobile.
.navigation__menu {
  display: none;
  z-index: 100;

  @include media($mobile) {
    background: $off-black;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;

    a {
      color: #fff;
      text-align: center;
    }

    .navigation__primary li {
      min-height: 78px;
      margin: 10vh 0;
    }
  }

  @include media($tablet) {
    @include clearfix;
    display: block;
  }
}

// Primary navigation elements (such as "Explore Campaigns").
.navigation__primary {
  list-style-type: none;
  padding: 0;

  li {
    line-height: 1.2;
    padding: 18px gutter();
    transition: padding 0.5s;

    @include media($tablet) {
      float: left;
      display: block;
      min-width: span(2);
      margin: 0 gutter() 0 0;
      text-align: left;
    }

    @include media($desktop) {
      padding: gutter();
    }
  }

  a {
    display: block;
  }

  .navigation__title {
    display: block;
    font-weight: $weight-bold;
  }

  .navigation__subtitle {
    font-size: $font-smaller;
    opacity: 0.8;

    @include media($tablet) {
      display: none;
    }

    @include media($desktop) {
      display: block;
    }
  }
}

// Secondary navigation elements (such as search or "Log In").
.navigation__secondary {
  display: block;
  list-style-type: none;
  margin: 0 gutter();
  padding: 0;

  @include media($tablet) {
    float: right;
  }

  li {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    padding: gutter();
    margin: 0;

    @include media($tablet) {
      float: left;
      display: block;
      text-align: left;
      padding: gutter() 0;
      border-bottom: 0;
    }
  }

  .text-field {
    background-color: transparent;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #fff;
    box-shadow: 0 1px 0 rgba(#000, 0.2),
    inset 0 1px 0 rgba(#000, 0.2);
    transition: width 0.5s;

    @include media($tablet) {
      width: 100px;
      color: $off-black;
      border: 1px solid $off-black;
      box-shadow: 0 1px 0 rgba(#fff, 0.2),
      inset 0 1px 0 rgba(#fff, 0.2);
    }

    @include media($large) {
      width: 200px;
    }
  }

  .text-field.search {
    background-image: neue-asset-url("images/search_white.svg");

    @include media($tablet) {
      background-image: neue-asset-url("images/search_black.svg");

      .modernizr-no-svg & {
        background-image: neue-asset-url("images/fallbacks/search_black.png");
      }
    }

    .modernizr-no-svg & {
      background-image: neue-asset-url("images/fallbacks/search_white.png");
    }
  }

  a {
    display: block;
    font-weight: bold;
    padding: 6px 9px;
  }

  .navigation__dropdown {

    padding-top: 0;

    @include media($tablet) {
      padding-top: 12px;
      margin-left: 24px;
    }

    ul {
      display: block;
      margin-top: 0;
      list-style-type: none;

      @include media($tablet) {
        visibility: hidden;
      }

      li {
        padding: 0;

        @include media($tablet) {
          padding: gutter() 0;
          display: block;
          float: none;
        }
      }

    }

    p {
      display: none;

      @include media($tablet) {
        display: inline-block;
        float: right;
        color: #fff;
        padding-right: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      }
    }

    .navigation__dropdown-toggle {
      cursor: pointer;
    }

    i {
      display: none;

      @include media($tablet) {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin-top: 6px;

        &:after {
          @include icomoon-icon;
          content: "\e607";
          font-size: 32px;
          transform: rotate(90deg);
          display: block;
          color: #fff;
        }
      }
    }

    div {
      float: right;
      display: inline-block;
    }
  }

  .navigation__dropdown.is-visible {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: $lg-border-radius;
    margin-top: 12px;
    margin-left: 15px;

    p {
      color: $purple;
      font-weight: bold;
      margin-left: 0;
      padding-left: 4px;
      text-shadow: none;
    }

    i {
      &:after {
        color: $purple;
      }
    }

    div {
      width: 100%;
    }

    a, ul {
      color: $off-black;
      font-weight: normal;
      text-shadow: none;
      margin-left: 0;
      margin-top: 0;
      padding: 4px;
    }

    a:hover {
      text-decoration: underline;
    }

    ul {
      visibility: visible;
    }

    li {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 8px;
      padding-right: 4px;
      text-align: right;
    }
  }

  // @TODO: Temporary; will likely change to a border but this works well for now.
  @include media($tablet) {
    .account {
      > a {
        position: relative;

        &:after {
          background-color: #fff;
          content: "";
          height: 18px;
          margin-top: -9px;
          position: absolute;
          right: 0;
          top: 50%;
          width: 1px;
        }
      }
    }
  }
}

// When menu is open, prevent scrolling on mobile breakpoint.
// See also: _chrome.scss
.chrome.has-mobile-menu {
  @include media($mobile) {
    position: fixed;
  }
}
