// Chrome navigation with logo, navigation, and search.
//
// .white     - Use white navigation text and search field (with subtle drop shadow).
// .floating  - Navigation should float above following elements on the page.
//
// Styleguide Site Navigation
.chrome--nav {
  width: 100%;
  margin-bottom: 36px;
  overflow: hidden;

  @include media($mobile) {
    body &.is-visible {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background: $off-black;
      z-index: 9997; // above everything else, below modals

      .menu {
        clear: both;
        display: block;
        position: static;
        width: auto;
        height: auto;
        background: none;
        margin-top: 72px;

        @include media($tall-mobile) {
          margin-top: 90px;
        }
      }

      a {
        color: #fff;
      }
    }
  }

  @include media($tablet) {
    padding: 18px 0;
  }

  // Use white navigation text and search field (with subtle drop shadow).
  &.white {
    .hamburger {
      color: #fff;
    }

    @include media($tablet) {
      a {
        color: #fff;
        text-shadow: $text-shadow;
      }

      .secondary-nav input[type="search"] {
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 0 1px 3px rgba(#000, 0.3);
        background-image: neue-asset-url("images/search_white.svg");

        .no-svg & {
          background-image: neue-asset-url("images/fallbacks/search_white.png");
        }
      }
    }
  }

  // Navigation should float above following elements on the page.
  &.floating {
    position: absolute;
    top: 0;
    margin-bottom: 0;
    z-index: 10;
  }

  a {
    color: $off-black;
    text-decoration: none;
    text-shadow: $text-emboss;
  }

  // DoSomething.org logo container
  .logo {
    float: left;
    padding: 9px;

    @include media($tablet) {
      position: static;
      min-width: 96px;
      padding: 0 18px;
      text-align: center;

      @include span-columns(2);
    }

    img {
      width: 80px;
      height: 70px;
    }
  }

  // Mobile "hamburger" menu toggle
  .hamburger {
    float: right;
    font-size: 32px;
    text-decoration: none;
    margin: 9px;
    padding: 18px 9px;
    @include icomoon-icon;

    @include media($tablet) {
      display: none;
    }
  }

  // Contents of menu, toggled on-and-off on mobile.
  .menu {
    display: none;

    @include media($tablet) {
      display: block;
    }
  }

  // Primary navigation elements (such as "Explore Campaigns").
  .primary-nav {
    list-style-type: none;
    padding: 0;

    li {
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      padding: 22px 0;

      @include media($tablet) {
        float: left;
        display: block;
        text-align: left;
        margin: 0 3.5% 0 0;
      }

      @include media($desktop) {
        padding: 14px 0;
        margin: 0 5% 0 0;
      }
    }

    a {
      display: block;
    }

    strong {
      display: block;
      font-size: $font-regular;
      font-weight: $weight-bold;

      @include media($tablet) {
        > span { display: none; }
      }

      @include media($desktop) {
        > span { display: inline; }
      }
    }

    span {
      font-size: $font-small;
      opacity: 0.8;

      @include media($tablet) {
        display: none;
      }

      @include media($desktop) {
        display: block;
      }
    }
  }

  // Secondary navigation elements (such as search or "Log In").
  .secondary-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-right: 18px;

    @include media($tablet) {
      position: static;
      float: right;
      width: auto;
    }

    ul {
      display: block;
      list-style-type: none;
      overflow: hidden;
      padding: 0;
    }

    li {
      font-size: 18px;
      line-height: 1.4;
      text-align: center;
      padding: 18px;

      @include media($tablet) {
        float: left;
        display: block;
        text-align: left;
        padding: 17px 0;
        border-bottom: 0;
      }
    }

    input[type="search"] {
      background-color: transparent;
      background-image: neue-asset-url("images/search_white.svg");
      color: #fff;
      padding-top: 5px;
      padding-bottom: 5px;
      box-shadow: 0 1px 0 rgba(#000, 0.2);
      @include transition(width 0.5s);

      .no-svg & {
        background-image: neue-asset-url("images/fallbacks/search_white.png");
      }

      @include media($tablet) {
        width: 100px;
        background-image: neue-asset-url("images/search_black.svg");
        color: $off-black;
        border: 1px solid $off-black;
        box-shadow: 0 1px 0 rgba(#fff, 0.2);

        .no-svg & {
          background-image: neue-asset-url("images/fallbacks/search_black.png");
        }
      }

      // @TODO: Clean this up when we add some more media query breakpoints.
      @include media(890px) {
        width: 200px;
      }
    }

    a {
      display: block;
      font-weight: bold;
      margin-left: 18px;
      padding: 6px 9px;
    }

    // @TODO: Temporary; will likely change to a border but this works well for now.
    @include media($tablet) {
      .account {
        > a {
          position: relative;

          &:after {
            background-color: #fff;
            content: "";
            height: 18px;
            margin-top: -9px;
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
          }
        }
      }
    }
  }
}
