// The Call To Action module is used to show show a short
// "call to action" message with an accompanying button.
// CTAs typically span the full width of the page.
//
// Styleguide Call To Action

.cta {
  @include clearfix;
  @include span(100%);
  background: lighten($light-gray, 10%);
  border-bottom: 2px solid $light-gray;
  border-top: 2px solid $light-gray;

  > .wrapper {
    width: 100%;
    text-align: center;
    padding: $base-spacing 0;

    @include media($tablet) {
      @include span(12);
      @include push(2);
    }
  }
}

.cta__message {
  color: $base-font-color;
  font-size: $font-medium;
  font-weight: $weight-sbold;
  margin: 0 0 $base-spacing;
}
