// Style for empty gallery item to help balance the space.
//
// Styleguide Empty
.empty {
  background-color: lighten($light-gray, 10%);
  display: none;
  height: 0;
  position: relative;

  > .wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }


  &.-trio {
    @warn("Add back in");
    // @include media(450px) {
    //   display: block;
    //   padding-bottom: 50%;
    // }

    @include media($tablet) {
      padding-bottom: 25%;
      width: 75%;

      p,a {
        font-size: $font-medium;
      }
    }
  }


  &.-duo {
    padding-bottom: 25%;
    width: 50%;

    p,a {
      font-size: $font-regular;
    }

    @include media($tablet) {
      display: block;
    }

    @include media($desktop) {
      p,a {
        font-size: $font-medium;
      }
    }
  }


  &.-mono {
    display: block;
    padding-bottom: 50%;

    @include media($tablet) {
      padding-bottom: 25%;
    }
  }

  .__message {
    display: table;
    height: 100%;
    padding: 18px;
    text-align: center;
    width: 100%;

    > .wrapper {
      display: table-cell;
      vertical-align: middle;
    }

    p {
      line-height: 1.3;
      margin: 4px;
    }
  }
}
