// Module class for all galleries. Add additional modifier classes to designate styling for a specific type of gallery.
// The .empty class for items in the gallery will create a spacer item that can contain custom messaging and expand to fill the appropriate space based on its own modifier classes.
//
// .-mosaic - Tiles are arranged without spacing next to each other.
//
// Styleguide Gallery - Mosaic

.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include clearfix();

  // Mosaic Gallery styles
  &.-mosaic {
    background-color: #000;

    > li {

      @include media(450px) {  // @TODO: custom mq; address when more mq's added.
        float: left;
        width: 50%;
      }

      @include media($tablet) {  // @TODO: custom mq; address when more mq's added.
        width: 25%;
      }
    }

    &.-featured {
      > li:first-child {
        width: 100%;

        @include media($tablet) {
          width: 50%;
        }
      }

      > li:nth-child(6) {
        @include media($tablet) {
          clear: both;
        }
      }
    }

    + .btn {
      color: $med-gray;
      display: table;
      margin: 0 auto 18px;

      &:focus {
        box-shadow: none;
      }
    }

  }


  // Style for empty gallery item to help balance the space.
  .empty {
    background-color: lighten($light-gray, 10%);
    display: none;
    height: 0;
    position: relative;

    > .wrapper {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }


    &.-trio {
      @include media(450px) {
        display: block;
        padding-bottom: 50%;
      }

      @include media($tablet) {
        padding-bottom: 25%;
        width: 75%;

        p,a {
          font-size: $font-medium;
        }
      }
    }


    &.-duo {
      padding-bottom: 25%;
      width: 50%;

      p,a {
        font-size: $font-regular;
      }

      @include media($tablet) {
        display: block;
      }

      @include media($desktop) {
        p,a {
          font-size: $font-medium;
        }
      }
    }


    &.-mono {
      display: block;
      padding-bottom: 50%;

      @include media($tablet) {
        padding-bottom: 25%;
      }
    }

    .__message {
      display: table;
      height: 100%;
      padding: 18px;
      text-align: center;
      width: 100%;

      > .wrapper {
        display: table-cell;
        vertical-align: middle;
      }

      p {
        line-height: 1.3;
        margin: 4px;
      }
    }
  }

  // Triad Gallery.  Defaults to using images with same dimensions.
  //
  // .-aligned - Tiles with image flushed to top and minimum
  // height to force content below to line up with adjacent tiles
  // since image dimensions can vary.  Defaults to 75px tall.
  // This should be overridden when necessary.
  //
  // Styleguide Gallery - Triad
  &.-triad {
    > li {
      @include media($tablet) {
        @include span-columns(4 of 12);
        @include omega(3n);
      }
    }

    &.-aligned {
      .tile--figure {

        // Added wrapper to force minimum height so content below lines up on each <li>
        // @TODO: update pattern in neue
        .__media {
          margin-bottom: 18px;
          height: 75px;
          overflow: hidden;
          position: relative;

          img {
            margin-bottom: 0;
            width: auto;
          }
        }
      }
    }
  }

  // Duo Gallery serves as a container for two tiles that sit side by side. Tiles can be of any style.
  //
  // Styleguide Gallery - Duo
  &.-duo {
    > li {
      @include media($tablet) {
        @include span-columns(6 of 12);
        @include omega(2n);
      }
    }

    // @DEPRECIATED with v5.3.0
    .tile--figure {
      @include clearfix();
      text-align: left;

      .__media {
        @include span-columns(2);

        img {
          margin-left: 0;
          margin-right: 0;
          width: auto;
        }
      }

      .__body {
        @include span-columns(6);
      }
    }
  }

  .ie8 & {
    &.-duo {
      > li {
        @include media($tablet) {
          // Last-child not supported in IE8; using class as fallback.
          &.-second {
            margin-right: 0;
            border: 1px solid #000;
          }

          // Nth-child not supported in IE8; using class as fallback.
          &.-first {
            clear: left;
          }
        }
      }
    }

    &.-triad {
      > li {
        @include media($tablet) {
          // Last-child not supported in IE8; using class as fallback.
          &.-third {
            margin-right: 0;
          }

          // Nth-child not supported in IE8; using class as fallback.
          &.-first {
            clear: left;
          }
        }
      }
    }
  }
}

