// Module for applying styles to the Info Bar typically found in page footer.
//
// Styleguide Information Bar

.info-bar {
  color: $white;
  @include rgba(background-color, $black, 0.5, #7f7f7f);
  @include clearfix();

  > .wrapper {
    padding: $base-spacing;
    @include clearfix();

    @include media($tablet) {
      @include span(12);
      @include push(2);
    }
  }

  a {
    color: $white;
    font-weight: $weight-normal;
    text-decoration: underline;
  }

  @include media($tablet) {
    .help {
      float: right;
    }
  }
}
