// Module for applying styles to the Info Bar typically found in page footer.
//
// Styleguide Information Bar

.info-bar {
  color: #fff;

  @include rgba(background-color, #000, 0.5, #7f7f7f);

  > .wrapper {
    padding: 18px;
    @include clearfix();

    @include media($tablet) {
      @include span-columns(12);
      @include shift(2);
      float: none;
      padding: 18px 0;
    }
  }

  a {
    color: #fff;
    font-weight: $weight-normal;
    text-decoration: underline;
  }

  div + div {
    margin-top: 9px;
  }

  .help {
    border: 0 none; // @TODO: Inherited style to remove.
  }

  @include media($tablet) {
    div + div {
      margin-top: 0;
    }

    .help {
      float: right;
    }

    .sponsor {
      float: left;
    }
  }
}
