// Module class for media tile blocks that can be placed in multiple contexts on a page. Specifically used for reportback tiles on user profiles, but can be used for other content as well.
// A media tile block can contain an image, title, and description with the image in the left column and the content in the right.
//
// Styleguide Media

.media {
  @include clearfix();
  text-align: left;
  padding-bottom: 27px;
  
  > .wrapper {
    @include span-columns(2 of 6);

    img {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      height: auto;
    }
  }

  .__body {
    @include span-columns(4 of 6);
  }

  .__title {
    color: $dark-gray;
    line-height: 1.1;
    margin: 0 0 9px;
  }

  .__description {
    line-height: 1.2;
    
    p {
      margin: 0;
    }
  }
}
