// Custom single or multi-select option styles to mimic behavior of radio buttons and checkboxes.
// Selected state is added using JavaScript. See `media-selector.js`.
//
// Styleguide Media Options

.media-options {
  @include clearfix;

  .media-options__item {
    position: relative;
    float: left;
    padding-left: $base-spacing * 2;

    &:before {
      display: block;
      position: absolute;
      top: 50%;
      left: $base-spacing * (-1/2);
      width: 40px;
      height: 30px;
      margin: -15px 0 0 15px;
      font-size: $font-regular;
      font-weight: $weight-sbold;
      text-align: center;
      text-transform: uppercase;
    }

    label {
      position: relative;
      height: auto;
      max-width: 150px;
      margin: 0;

      .inner-label {
        top: 0;
      }
    }

    input[type="radio"],
    input[type="checkbox"] {
      @include visually-hidden;
    }

    img {
      cursor: pointer;
      border: 2px solid $med-gray;
      border-radius: $sm-border-radius;
      max-width: 100px;
      width: 100%;

      &:hover {
        border-color: $blue;
      }
    }

    // "OR" label applied to radio buttons.
    &.-radio {
      &:before {
        content: "or";
      }
    }

    // Hide "OR" label on first element.
    &:first-child {
      padding-left: 0;

      &:before {
        content: "";
      }
    }

    &.is-selected {
      img {
        border-color: $blue;
        border-width: 4px;
      }
    }
  }
}
