// A container for secondary content.
//
// Styleguide Message Box Container
.message-box {
  border: 2px solid $purple;
  padding: 1rem;

  .__title {
    color: $purple;
    margin-bottom: 9px;
  }
}
